#{extends 'main.html' /}

Organizations
#{ifnot organizations}
<p>
    No organizations 
</p>
#{/ifnot}

<ul>
    #{list items:organizations, as:'organization'}
    <li> 
        <input type="submit" value="unfollow" onclick="org(organization,'${user}');" />
		${organization.name}
    </li>
	#{/list}
</ul>

Topics
#{ifnot tags}
<p>
    No topics 
</p>
#{/ifnot}

<ul>
    #{list items:topics, as:'topic'}
    <li> 
        <input type="submit" value="unfollow" onclick="topic(topic,'${user}');" />
		${topic.title}
    </li>
	#{/list}
</ul>

Entities
#{ifnot entities}
<p>
    No entities 
</p>
#{/ifnot}

<ul>
    #{list items:entities, as:'entity'}
    <li> 
        <input type="submit" value="unfollow" onclick="entity(entity,'${user}');" />
		${entity.name}
    </li>
	#{/list}
</ul>

Tags
#{ifnot tags}
<p>
    No tags 
</p>
#{/ifnot}

<ul>
    #{list items:tags, as:'tag'}
    <li> 
        <input type="submit" value="unfollow" onclick="tag(tag,'${user}');"/>
		${tag.name}
    </li>
	#{/list}
</ul>

<script type="text/javascript">
	function tag(tag, user){
		$.post('@{unfollow()}', {tag:tag, user:user});
		alert("done!");
		location.reload(true);
	}
	function topic(topic, user){
		$.post('@{unfollow()}', {topic:topic, user:user});
		alert("done!");
		location.reload(true);
	}
	function org(org, user){
		$.post('@{unfollow()}', {org:org, user:user});
		alert("done!");
		location.reload(true);
	}
	function entity(entity, user){
		$.post('@{unfollow()}', {entity:entity, user:user});
		alert("done!");
		location.reload(true);
	}
</script>

