#{extends 'main.html' /}

Organizations
#{ifnot organizations}
<p>
    No organizations 
</p>
#{/ifnot}

<ul>
    #{list items:organizations, as:'organization'}
    <li> 
        <input type="submit" value="unfollow" onclick="org('${organization.id}', '${user.id}');" />
		${organization.name}
    </li>
	#{/list}
</ul>

Topics
#{ifnot tags}
<p>
    No topics 
</p>
#{/ifnot}

<ul>
    #{list items:topics, as:'topic'}
    <li> 
        <input type="submit" value="unfollow" onclick="topic('${topic.id}', '${user.id}');" />
		${topic.title}
    </li>
	#{/list}
</ul>

Entities
#{ifnot entities}
<p>
    No entities 
</p>
#{/ifnot}

<ul>
    #{list items:entities, as:'entity'}
    <li> 
        <input type="submit" value="unfollow" onclick="entity('${entity.id}', '${user.id}');" />
		${entity.name}
    </li>
	#{/list}
</ul>

Tags
#{ifnot tags}
<p>
    No tags 
</p>
#{/ifnot}

<ul>
    #{list items:tags, as:'tag'}
    <li> 
        <input type="submit" value="unfollow" onclick="tag('${tag.id}', '${user.id}');" />
		${tag.name}
    </li>
	#{/list}
</ul>

<script type="text/javascript">
	function tag(t, u){
		$.post('@{Users.unfollowTag()}', {tagId:t, userId:u});
		alert("done!");
		location.reload(true);
	}
	function topic(topic, user){
		$.post('@{unfollowTopic()}', {topicId:topic, userId:user});
		alert("done!");
		location.reload(true);
	}
	function org(org, user){
		$.post('@{unfollowOrganization()}', {orgId:org, userId:user});
		alert("done!");
		location.reload(true);
	}
	function entity(entity, user){
		$.post('@{unfollowEntity()}', {entityId:entity, userId:user});
		alert("done!");
		location.reload(true);
	}
</script>

