#{extends 'main.html' /}

Organizations
#{ifnot organizations}
<p>
    No organizations 
</p>
#{/ifnot}

<ul>
    #{list items:organizations, as:'organization'}
    <li> 
        <input type="submit" value="unfollow" onclick="org('${organization.id}');" />
		${organization.name}
    </li>
	#{/list}
</ul>

Topics
#{ifnot topics}
<p>
    No topics 
</p>
#{/ifnot}

<ul>
    #{list items:topics, as:'topic'}
    <li> 
        <input type="submit" value="unfollow" onclick="topic('${topic.id}');" />
		${topic.title}
    </li>
	#{/list}
</ul>

Entities
#{ifnot entities}
<p>
    No entities 
</p>
#{/ifnot}

<ul>
    #{list items:entities, as:'entity'}
    <li> 
        <input type="submit" value="unfollow" onclick="entity('${entity.id}');" />
		${entity.name}
    </li>
	#{/list}
</ul>

Tags
#{ifnot tags}
<p>
    No tags 
</p>
#{/ifnot}

<ul>
    #{list items:tags, as:'tag'}
    <li> 
        <input type="submit" value="unfollow" onclick="tag('${tag.id}');" />
		${tag.name}
    </li>
	#{/list}
</ul>

<script type="text/javascript">
	function tag(id){
		$.post('@{Users.unfollowTag()}', {
			tagId: id
		});
		alert("done!");
		location.reload(true);
	}
	function topic(id){
		$.post('@{unfollowTopic()}', {
			topicId: id
		});
		alert("done!");
		location.reload(true);
	}
	function org(id){
		$.post('@{unfollowOrganization()}', {
			organizationId: id
		});
		alert("done!");
		location.reload(true);
	}
	function entity(id){
		$.post('@{unfollowEntity()}', {
			entityId: id
		});
		alert("done!");
		location.reload(true);
	}
</script>

