#{extends 'Login/index.html' /}
#{set title:'Notifications' /}


 <style type="text/css">
        body {
            font-size: 80%;
            font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
        }
        
        .accordionItem h3 {
            margin: 0;
            font-size: 1.1em;
            border-bottom: 1px solid #66d color: "#150517";
        }
        
        .accordionItem h3:hover {
            cursor: pointer;
        }
        
        .accordionItem div {
            margin: 0;
            padding: 1em 0.4em;
        }
        
        .accordionItem.hide h3 {
        }
        
        .accordionItem.hide div {
            display: none;
        }
    </style>
 
<script type="text/javascript">                           
var ids = new Array();
var counter = ${user.notifications.size()};
function toggleCheck(id) {			
	if(ids.indexOf(id) == -1) {
		ids.push(id);
	}else {
		ids.pop(id);
	}			
}
function markAll(){
	if(counter == 1) {
		oneMark();
	} else {
		var field = document.myform.checkfield;	
		for (i = 0; i < field.length; i++) {
			field[i].checked = true ;
			ids.push(field[i].id);
		}
	}	
}
function oneMark() {
	var field = document.myform.checkfield;
	field.checked = true;
	ids.push(field.id);
}
function unmarkAll(){
	if(counter == 1) {
		oneUnMark();
	} else {
		var field = document.myform.checkfield;	
		for (i = 0; i < field.length; i++) {
			field[i].checked = false ;
		}
	}
	ids = new Array();
}
function oneUnMark() {
	var field = document.myform.checkfield;
	field.checked = false;
}
function submit() {
	if(ids.length == 0) {
		alert('No notifications to be deleted!!');
	} else {
		var r=confirm("Are You sure you want to delete notifications?");
		if (r == true) {
			$.post('@{deleteNotifications()}', {a:ids});
			for(var i=0;i<ids.length;i++) {
				$('#not_' + ids[i]).remove();
			}
		} else {
			//window.location.reload();
		}
		ids = new Array();
		var field = document.myform.checkfield;
		for (i = 0; i < field.length; i++){
			field[i].checked = false ;
		}
		//window.location.reload();
	}	
}
</script>

<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
					<form name='myform'>
					<h2>Notifications List</h2>
					<br>
					<hr>
					<br>
					<ul>
						<li>												
						<h4 id="org1" style="cursor:pointer">Organisations</h4>
						<div id="org">						
						<div>						
						#{if user.getNotificationsFrom("Organization").size() == 0}
						<i>You have no notifications from any Organization!!</i>
						#{/if}						
						#{list items:user.getNotificationsFrom("Organization"), as:'notifi'}
							<ul>
							<li>
							<div id="orgItem">	
    						<h3><a href="@{Organizations.viewProfile(notifi.sourceID)}">${notifi.title}</a>    						    						
    						&nbsp;&nbsp;<font color ="#FF0000" size =2><b id="orgIrem${notifi.id}">⊕</b></font></h3>    						     					
    						<div>    						
    						<b>Message: </b> ${notifi.description}    						
    						&nbsp;&nbsp;<input type="checkbox" name="checkfield" id="${notifi.id}" onclick="toggleCheck(${notifi.id})" class="enabled">
    						</div>
    						</div>
    						</li>
							</ul>
						#{/list}										
						</div>
						</div>						
						</li>
						
						<li>
						
						<h4 id="ent1" style="cursor:pointer">Entities</h4>
						<div id="ent">
						<div>
						#{if user.getNotificationsFrom("Entity").size() == 0}
						<i>You have no notifications from any Entities!!</i>
						#{/if}						
						#{list items:user.getNotificationsFrom("Entity"), as:'notifi'}
							<ul>
							<li>
							<div class="accordionItem">							
    						<a href="@{MainEntitys.viewEntity(notifi.sourceID)}">${notifi.title}</a>
    						&nbsp;&nbsp;<h3><font color ="#FF0000" size =2>⊕</font></h3>
    						<div>    						     					    						
    						<b>Message: </b> ${notifi.description}
    						&nbsp;&nbsp;<input type="checkbox" name="checkfield" id="${notifi.id}" onclick="toggleCheck(${notifi.id})" class="enabled">
    						</div>
    						</div>
    						</li>
							</ul>
						#{/list}						
						</div>
						</div>
						</li>
						
						<li>			
									
						<h4 id="top1" style="cursor:pointer">Topics</h4>
						<div id="top">
						<div>
						#{if user.getNotificationsFrom("Topic").size() == 0}
						<i>You have no notifications from any Topics!!</i>
						#{/if}						
						#{list items:user.getNotificationsFrom("Topic"), as:'notifi'}
							<ul>
							<li>					
							<div class="accordionItem">		
    						<a href="@{Topics.show(notifi.sourceID)}">${notifi.title}</a>    						     					
    						&nbsp;&nbsp;<h3><font color ="#FF0000" size =2>⊕</font></h3>
    						<div>    						
    						<b>Message: </b> ${notifi.description}
    						&nbsp;&nbsp;<input type="checkbox" name="checkfield" id="${notifi.id}" onclick="toggleCheck(${notifi.id})" class="enabled">
    						</div>
    						</div>
    						</li>
							</ul>
						#{/list}					
						</div>
						</div>	
						</li>
						
						<li>
						
						<h4 id="idea1" style="cursor:pointer">Idea</h4>
						<div id="idea">
						<div>
						#{if user.getNotificationsFrom("Idea").size() == 0}
						<i>You have no notifications from any Ideas!!</i>
						#{/if}						
						#{list items:user.getNotificationsFrom("Idea"), as:'notifi'}
							<ul>
							<li>
							<div class="accordionItem">			
    						<a href="@{Ideas.show(notifi.sourceID)}">${notifi.title}</a>    						     					
    						&nbsp;&nbsp;<h3><font color ="#FF0000" size =2>⊕</font></h3>
    						<div>    						
    						<b>Message: </b> ${notifi.description}  
    						&nbsp;&nbsp;<input type="checkbox" name="checkfield" id="${notifi.id}" onclick="toggleCheck(${notifi.id})" class="enabled">  						
    						</div>
    						</div>
    						</li>
							</ul>
						#{/list}					
						</div>	
						</div>
						</li>
						
						<li>
						
						<h4 id="plan1" style="cursor:pointer">Plans</h4>
						<div id="plan">
						<div>
						#{if user.getNotificationsFrom("Plan").size() == 0}
						<i>You have no notifications from any Plans!!</i>
						#{/if}						
						#{list items:user.getNotificationsFrom("Plan"), as:'notifi'}
							<ul>
							<li>							
    						<div class="accordionItem">
    						<a href="@{Plans.viewAsList(notifi.sourceID)}">${notifi.title}</a>    						     					
    						&nbsp;&nbsp;<h3><font color ="#FF0000" size =2>⊕</font></h3>
    						<div>    					
    						<b>Message: </b> ${notifi.description}
    						&nbsp;&nbsp;<input type="checkbox" name="checkfield" id="${notifi.id}" onclick="toggleCheck(${notifi.id})" class="enabled">    						
    						</div>
    						</div>
    						</li>
							</ul>
						#{/list}						
						</div>
						</div>
						</li>
						
						<li>						
						<h4 id="tag1" style="cursor:pointer">Tags</h4>
						<div id="tag">
						<div>
						#{if user.getNotificationsFrom("Tag").size() == 0}
						<i>You have no notifications from any Tags!!</i>
						#{/if}						
						#{list items:user.getNotificationsFrom("Tag"), as:'notifi'}
							<ul>							
							<li>
							<div class="accordionItem">							
    						<a href="@{Tags.mainPage(notifi.sourceID)}">${notifi.title}</a>
    						&nbsp;&nbsp;<h3><font color ="#FF0000" size =2>⊕</font></h3>    						    					
    						<div>    						
    						<b>Message: </b> ${notifi.description}
    						&nbsp;&nbsp;<input type="checkbox" name="checkfield" id="${notifi.id}" onclick="toggleCheck(${notifi.id})" class="enabled">  						    						
    						</div>
    						</div>
    						</li>
							</ul>							
						#{/list}
						</div>						
						</div>
						</li>						
												
						<li>											
						<h4 id="user1" style="cursor:pointer">Users</h4>
						<div id="user">
						<div>
						#{if user.getNotificationsFrom("User").size() == 0}
						<i>You have no notifications from any Users!!</i>
						#{/if}						
						#{list items:user.getNotificationsFrom("User"), as:'notifi'}
							<ul>							
							<li>
							<div class="accordionItem">							
    						<a href="@{Users.viewProfile(notifi.sourceID)}">${notifi.title}</a>
    						&nbsp;&nbsp;<h3><font color ="#FF0000" size =2>⊕</font></h3>    						     		
    						<div>    						
    						<b>Message: </b> ${notifi.description}  
    						&nbsp;&nbsp;<input type="checkbox" name="checkfield" id="${notifi.id}" onclick="toggleCheck(${notifi.id})" class="enabled">  						
    						</div>
    						</div>
    						</li>    						
							</ul>
						#{/list}
						</div>
						</div>
						</li>				
					</ul>
					#{if user.notifications.size() > 0}
					<a onclick="markAll();" style="cursor:pointer"> Check All </a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a onclick="unmarkAll();" style="cursor:pointer"> Uncheck All</a>
					<br>	
					Delete Notifications: <input type="submit" value="Delete" onclick="submit()">
					#{/if}
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<script type="text/javascript">
  var accordionItems = new Array();
  
//Grab the accordion items from the page
  var divs = document.getElementsByTagName('div');
  for (var i = 0; i < divs.length; i++) {
      if (divs[i].className == 'accordionItem') 
          accordionItems.push(divs[i]);
  }
  
  // Assign onclick events to the accordion item headings
  for (var i = 0; i < accordionItems.length; i++) {
      var h3 = getFirstChildWithTagName(accordionItems[i], 'H3');
      h3.onclick = toggleItem;
  }
  
  // Hide all accordion item bodies except the first and the first
  for (var i = 0; i < accordionItems.length; i++) {
      accordionItems[i].className = 'accordionItem hide';
  }
  
  $('#org').hide();
  $('#ent').hide();
  $('#top').hide();
  $('#plan').hide();
  $('#idea').hide();
  $('#user').hide();
  $('#tag').hide();
  
  $(function(){
	  var org = true;
	  var plan = true;
	  var idea = true;
	  var ent = true;
	  var top = true;
	  var user = true;
	  var tag = true;
	  
	  $('#org1').click(function(){
          if (org) {
              $('#org').show(500);
              org = false;
          }
          else {
              $('#org').hide(500);
              org = true;
          }
      });
	  
	  var orgLength = ${getNotificationsFrom("Organization").size()};
	  for(var i=0;i<orgLength;i++) {
		  
	  }
	  
	  $('#plan1').click(function(){
          if (plan) {
              $('#plan').show(500);
              plan = false;
          }
          else {
              $('#plan').hide(500);
              plan = true;
          }
      });
	  
	  $('#idea1').click(function(){
          if (plan) {
              $('#idea').show(500);
              idea = false;
          }
          else {
              $('idea').hide(500);
              idea = true;
          }
      });
	  
	  $('#ent1').click(function(){
          if (ent) {
              $('#ent').show(500);
              ent = false;
          }
          else {
              $('#ent').hide(500);
              ent = true;
          }
      });
	  
	  $('#top1').click(function(){
          if (top) {
              $('#top').show(500);
              top = false;
          }
          else {
              $('#top').hide(500);
              top = true;
          }
      });
	  
	  $('#tag1').click(function(){
          if (tag) {
              $('#tag').show(500);
              tag = false;
          }
          else {
              $('#tag').hide(500);
              tag = true;
          }
      });
	  $('#user1').click(function(){
          if (user) {
              $('#user').show(500);
              user = false;
          }
          else {
              $('#user').hide(500);
              user = true;
          }
      });
	  
  });
  
  function toggleItem(){
      var itemClass = this.parentNode.className;
      
      // Hide all items
      for (var i = 0; i < accordionItems.length; i++) {
          accordionItems[i].className = 'accordionItem hide';
      }
      
      // Show this item if it was previously hidden
      if (itemClass == 'accordionItem hide') {
          this.parentNode.className = 'accordionItem';
          
      }
  }
  
  function getFirstChildWithTagName(element, tagName){
      for (var i = 0; i < element.childNodes.length; i++) {
          if (element.childNodes[i].nodeName == tagName) 
              return element.childNodes[i];
      }
      
  }
  
 </script>
	