#{extends '/users/layout.html' /}

<div id="crudShow" class="${type.name}">

	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	<font color="Red">
		${message}
	</font>
	<div class="objectForm">
		#{form action:@save(object._key()), enctype:'multipart/form-data'}

		#{crud.form fields: ['email','username', 'password', 'firstName','lastName',  'communityContributionCounter','dateofBirth',  'country', 'profession']}

		#{crud.custom 'email'}
		<p>
			<label for="object_email">
				Email
			</label>
			<textarea id="object_email" cols="30" rows="1" class="" name="object.email" >
				${object.email}
			</textarea>
			<span class="crudHelp" >
				<font color="Red">
					*
				</font>Required
			</span>
		</p>
		#{/crud.custom}

		{crud.custom 'username'}
		<p>
			<label for="object_username">
				Username
			</label>
			<textarea id="object_username" cols="20" rows="1" class="" name="object.username">
				${object.username}
			</textarea>
			<span class="crudHelp" >
				<font color="Red">
					*
				</font>Required
			</span>
		</p>
		#{/crud.custom}

		#{crud.custom 'password'}
		<p>
			<label for="object_password">
				Password
			</label>
			<textarea id="object_password" cols="20" rows="1" class="" name="object.password">
			</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'firstName'}
		<p>
			<label for="object_firstName">
				First Name
			</label>
			<textarea id="object_firstName" cols="20" rows="1" class="" name="object.firstName">
				${object.firstName}
			</textarea>
			<span class="crudHelp" >
				<font color="Red">
					*
				</font>Required
			</span>
		</p>
		#{/crud.custom }

		#{crud.custom 'lastName'}
		<p>
			<label for="object_lastName">
				Last Name
			</label>
			<textarea id="object_lastName" cols="20" rows="1" class="" name="object.lastName">
				${object.lastName}
			</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'communityContributionCounter'}
		<p>
			<label for="object_communityContributionCounter">
				Community Contribution Counter
			</label>
			<textarea id="object_communityContributionCounter" cols="3" rows="1" class="" name="object.communityContributionCounter">
				${object.communityContributionCounter}
			</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'dateofBirth'}
		<p>
			<label for="object_dateofBirth">
				Date Of Birth
			</label>
			<textarea id="object_dateofBirth" cols="20" rows="1" class="" name="object.dateofBirth">
				${object.dateofBirth}
			</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'country'}
		<p>
			<label for="object_country">
				country
			</label>
			<textarea id="object_country" cols="20" rows="1" class="" name="object.dateofBirth">
				${object.country}
			</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'profession'}
		<p>
			<label for="object_profession">
				Profession
			</label>
			<textarea id="object_profession" cols="20" rows="1" class="" name="object.profession">
				${object.profession}
			</textarea>
		</p>
		#{/crud.custom }

		#{/crud.form }

		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		</p>
		#{/form}
	</div>
	#{form @delete(object._key())}
	<p class="crudDelete">
		<input type="submit" value="&{'crud.delete', type.modelName}" />
	</p>
	#{/form}
</div>