#{extends 'Login/index.html' /}
#{set title:'Notification Profile' /}

<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
					<h2>Notification Profile</h2>
					<br>
					<hr>
					<br>
					#{if npList.size() == 0}
    				<i>You have no notification profiles!!</i>
					#{/if}
					<br>
					<ul>
					#{list items:npList, as:'notifi'}
				    <li>
    				<fieldset>
    				<b>Notification from: </b> ${notifi.notifiableType} 
    				#{if notifi.notifiableType == 'Plan'}
    				<a href="@{Plans.viewAsList(notifi.notifiableId)}">${notifi.title}</a>
    				#{/if} 
    				#{if notifi.notifiableType == 'Topic'}
    				<a href="@{Topics.show(notifi.notifiableId)}">${notifi.title}</a>
    				#{/if} 
    				#{if notifi.notifiableType == 'Idea'}
    				<a href="@{Ideas.show(notifi.notifiableId)}">${notifi.title}</a>
    				#{/if} 
    				#{if notifi.notifiableType == 'Entity'}
    				<a href="@{MainEntitys.viewEntity(notifi.notifiableId)}">${notifi.title}</a>
    				#{/if} 
    				#{if notifi.notifiableType == 'Organization'}
    				<a href="@{Organizations.viewProfile(notifi.notifiableId)}">${notifi.title}</a>
    				#{/if} 
    				#{if notifi.notifiableType == 'Tag'}
    				<a href="@{Tags.mainPage(notifi.notifiableId)}">${notifi.title}</a>
    				#{/if} 
    				<br> 
    				<b>Enabled: </b>
    				#{if notifi.enabled}
    				<i>yes</i>
    				#{/if}
    				#{else}
    				<i>no</i>
    				#{/else}
    				</fieldset>
    				</li>
					#{/list}
					</ul>
					#{if npList.size() != 0}   	
		<form action="@{NotificationProfiles.alterPreferences()}" method="post">
		<input type="submit" value="Edit"/>
		</form>					
		#{/if}
					</div>
				</div>
			</div>
		</div>
	</div>

