#{extends 'Login/index.html' /}
#{set title:'Profile' /}

<style type="text/css">
#show{
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 4%;
	margin-left: 2%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 2px;
	position: relative;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #bbbbbb;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #bbbbbb;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #bbbbbb;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #bbbbbb;
	word-wrap: break-word;
}
</style>

<div id="leftSidebar">
<ul>
<li><a href="@{Users.editProfile()}">Edit Profile</a></li>
<li><a style="cursor:pointer" id="cap" >Change Password</a></li>
</ul>
</div>

<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div id="profile" class="post">					
						<h2 class="title">Profile Page</h2>	
						<hr>					
					<div style="clear: both;">&nbsp;</div>
					<h1>${otherUser.username}</h1>
					<br>
					<div style="clear: both;">&nbsp;</div>
							#{if otherUser.profilePictureId != -1}							
							#{list items:user.profilePictureId, as:'id'}
							<img src="@{Pictures.getPicture(id)}" width="80" height="80"/>
							#{/list}
							#{/if}
							#{if otherUser.profilePictureId == -1}
							<img src="/public/images/user.png" width="80" height="80"/>
							#{/if}
					<br>
					<div style="clear: both;">&nbsp;</div>
					<p><big><b>E-Mail: </b></big> &nbsp;&nbsp; <i>${otherUser.email}</i> <br>	
					<div style="clear: both;">&nbsp;</div>					
					<big><b>First Name: </b></big> &nbsp;&nbsp; <i>${otherUser.firstName}</i> <br>
					<div style="clear: both;">&nbsp;</div>
					<big><b>Last Name: </b></big> &nbsp;&nbsp; <i>${otherUser.lastName}</i> <br>
					<div style="clear: both;">&nbsp;</div>
					<big><b>Date of Birth: </b></big> &nbsp;&nbsp; <i>${otherUser.dateofBirth}</i> <br>
					<div style="clear: both;">&nbsp;</div>
					<big><b>Community Contribution Counter: </b></big> &nbsp;&nbsp; <i>${otherUser.communityContributionCounter}</i> <br>
					<div style="clear: both;">&nbsp;</div>
					<big><b>Country: </b></big> &nbsp;&nbsp; <i>${otherUser.country}</i> <br>
					<div style="clear: both;">&nbsp;</div>
					<big><b>Profession: </b></big> &nbsp;&nbsp; <i>${otherUser.profession}</i></p>										
					</div>								
			</div>
		</div>
	</div>
</div>
#{if flag}

<div id="captcha" >
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <!-- all content by Jonathan Feaster (http://www.bitdesigner.com/) -->
    <script src="@{'/public/javascripts/md5.js'}"></script>
    <script src="@{'/public/javascripts/jcap.js'}"></script>    
    <body>
        <div style="text-align: left;">
           
            <form action="@{Users.changePassword()}" method="get" onsubmit="return jcap();">
                <p>
                    This field helps prevent automated access.
                </p>
                <script type="text/javascript">
                    sjcap();
                </script>
                	<p>
                		
		    <label for="object_password">
			old password
			</label>
			
			<input type="password" size="25" class="" name="user.password" id="pass" onkeyup="oldPass(); return false;" required/>
			<br/>
			<br/>
			<label for="object_password">
			 New password
			</label>
			<input type="password" size="25" class="" name="user.password" id="pass1" onkeyup="checkPass(); return false;" required/>
			<span class="crudHelp" >
				<font color="Red">
					*
				</font>Required
			</span>
		</p>
		<p>
			<label>
				Confirm Password
			</label>
			<input type="password" size="25" name="pass2" id="pass2" onkeyup="checkPass(); return false;" required/>
        <span id="confirmMessage" class="confirmMessage"></span>
		</p>
			 
                    <input type="submit" id="submit" name="submit" value="Submit">
                
            </form>
            <noscript>
            </noscript>
        </div>
    </body>
	</div>
	
	<style type="text/css">
			#captcha{display: none;}
		</style>
	<script type="text/javascript">
		$("#cap").click(function(){
			$("#captcha").show();
			$("#profile").hide();
			$("#cap").hide();});
	</script>
</div>


<script type="text/javascript">
    function checkPass(){
      var pass1 = document.getElementById('pass1');
      var pass2 = document.getElementById('pass2');
      var message = document.getElementById('confirmMessage');
      var goodColor = "#66cc66";
      var badColor = "#ff6666";
      if(pass1.value == pass2.value){
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
      }else{
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
      }
    }
	
	function oldPass() {
		var pass = document.getElementById('pass');
		var message = document.getElementById('confirmMessage');
      var goodColor = "#66cc66";
      var badColor = "#ff6666";
		if(pass.value == '${user.password}') {
	pass.style.backgroundColor = goodColor;
        message.style.color = goodColor;
		message.innerHTML = "correct"
		}else{
        pass.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
      }
		
	}
	</script>

#{/if}