#{extends 'main.html' /}
#{ifnot invitations}
<p>
    No invitations to join an organization was found. 
</p>
#{/ifnot}

<ul>
    #{list items:invitations, as:'invitation'}
    <li> 
		${invitation.organization.name}
        <input type="submit" value="accept" onclick="responce('${invitation.id}','${userId}', true);" />
		<input type="submit" value="reject" onclick="responce('${invitation.id}','${userId}', false);" />
    </li>
	#{/list}
</ul>

<script type="text/javascript">
	function responce(iId , uId, r){
		$.post('@{acceptToJoinOrg()}', {invId:iId, userId:uId, r:r});
		alert("done!");
		location.reload(true);
	}
</script>