<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
        </script>
        #{get 'moreScripts' /}
    </head>
    <style type="text/css">
        
        body {
            font-family: arial, helvetica;
            font-size: 20px;
            color: #123456;
            background-color: #A3D5E4;
        }
        
        #text1 {
            font-size: 500px;
            color: #654321;
        }
    </style>
    <div>
        <center>
            <img src="/public/images/Picture1.jpg">
            </img>
        </center>
    </div>
    <form name="Search">
        <input type="text" name="searchKey" /><input type="Button" value="Search" onclick="quickSearchScript();"/>
        <script type="text/javascript">
            function quickSearchScript(){
				window.location.href = "/ViewSearchResults";
                alert("Sorry! quick search is still under construction");
            }
        </script>
        <!--input type="submit" value="AdvancedSearch" onclick="advSearchScript(this.form)"/-->
		<a href="AdvancedSearch">Advanced Search</a>
    </form>
    <form action="@{Browse.browse()}" method="GET">
        <input type="submit" value="Browse" />
    </form>
    <body>
        #{doLayout /}
    </body>
</html>
