<!DOCTYPE html>
<html>
	
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <a href="@{Login.index()}">Back to Home</a>
		&nbsp;
		<a href="@Users.logout()">Logout</a>
        <hr>          </hr>
        <!-- <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">-->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}" />
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
        </script>
        #{get 'moreScripts' /}
    </head>
    <style type="text/css">
        
        body {
            font-family: arial, helvetica;
            font-size: 20px;
            color: #123456;
           /*background-color: #A3D5E4*/
        }
        
        #text1 {
            font-size: 500px;
            color: #654321;
        }
    </style>
    <div>
        <center>

        </center>
    </div>
	<form>
	<input type="text" id="search" name="search" value= "enter a keyword here" /><input type="button" id="submit" name="submit" value="Search" onclick="quickSearch(this.form)"/><a href="AdvancedSearch">Advanced Search</a>
    </form>
	<script type="text/javascript">
        function quickSearch(frm){
            $.post('@{Search.quickSearch()}', {
                keyword: frm.search.value
            }, function(){
                window.location.href = "/searchResult";
            });
        }
    </script>
    <form action="@{Browse.browse()}" method="GET">
        <input type="submit" value="Browse" />
    </form>
	<form action="@{Invitations.view()}" method="GET">
        <input type="submit" value="View Invitations" />
    </form>
    <body>
        #{doLayout /}
    </body>
    
    <div id="crudFooter">
            Follow us on <a href="http://www.twitter.com"> Twitter</a>
    </div>
    
</html>
