#{extends '/topics/layout.html' /}
<h3> <label> View Topic</label></h3>
	

<div id="crudShow" class="${type.name}">
	
	
	
	 <font color="Red">${message}</font>	
	
	<div class="objectForm">
	#{form action:@view(object._key()), enctype:'multipart/form-data'}
	
		#{crud.form fields: ['title', 'creator', 'entity', 'description', 'privacyLevel']}
		
		   #{crud.custom 'title'}
			<p> 
 			<!--<label for="object_title">Title</label>--> 
			<textarea disabled= true id="object_title" cols="30" rows="1" class="" name="object.title">${object.title}</textarea>
 			</p> 
			#{/crud.custom}
			
			#{crud.custom 'creator'}
			<p> 
 			<label for="object_creator">by</label> 
			<textarea disabled= true id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">${object.creator}</textarea> 
 			</p> 
			#{/crud.custom }
			
			#{crud.custom 'entity'}
			<p> 
 			<label for="object_entity">in</label> 
			<textarea disabled= true id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">${object.entity}</textarea> 
 			</p> 
			#{/crud.custom }
		
			#{crud.custom 'description'}
			<p> 
 			<label for="object_description">Description</label> 
			<textarea disabled= true id="object_description" cols="50" rows="5" class="" name="object.description">${object.description}</textarea> 
			<!--<span class="crudHelp" ><font color="Red">*</font>Required</span>--> 
 			</p> 
			#{/crud.custom}
			
			#{crud.custom 'privacyLevel'}
			<p> 
 			<label for="object_privacyLevel">Privacy Level</label> 
			<textarea disabled= true id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">${object.privacyLevel}</textarea> 
 			</p> 
			#{/crud.custom }
		
		
		#{/crud.form }
		<!--<a href="/show?topicid=object._key()">Edit</a>-->
		<button type="submit" onclick= > Edit </button>
		
		#{if ${canPlan} == 1 && ${openToEdit} == false && plan == null}
		#{form @Plans.addIdea(), method:'POST', enctype:'multipart/form-data' }
			<input type = "hidden" name = "topicId" value = ${topicid} >
			<input type="submit" value="Create A plan" />
		#{/form}
		#{/if}
		#{if ${openToEdit} == false && plan != null}
			#{form @Plans.viewAsList(), method:'POST', enctype:'multipart/form-data' }
			<input type = "hidden" name = "planId" value = ${plan.id} >
			<input type="submit" value="View the plan" />
		#{/form}
		#{/if}
		
		<!-- closing topic and reopen buttons -->
		 #{if ${canClose} == 1 && ${openToEdit} == true}
			<input type="submit" value="Close Topic" onclick="closeTopic('${topicIdLong}', '${userId}');" />
		#{/if}
		#{if ${canClose} == 1 && ${openToEdit} == false}
			<input type="submit" value="Reopen" onclick="reopen('${topicIdLong}', '${userId}');" />
		#{/if}
	
		
	#{/form}
	</div>
	
	<!--#{form @delete(object._key())}
		<p class="crudDelete">
			<input type="submit" value="&{'crud.delete', type.modelName}" />
		</p>
	#{/form}-->

</div>

<!--functions to call after clicking reopen and close buttons --> 
<script type="text/javascript">
	function closeTopic(viewTopicId, viewUserId){
		$.post('@{Topics.closeTopic()}', {topicId:viewTopicId, userId:viewUserId});
		alert("done!");
		location.reload(true);
	}
	function reopen(viewTopicId,viewUserId) {
		$.post('@{Topics.reopen()}', {topicId:viewTopicId, userId:viewUserId});
		alert("done!");
		location.reload(true);
	}

</script> 