#{extends '/topics/layout.html' /}
<br/>
<input type="submit" value="Back to Entity" onclick=location.href="@{MainEntitys.viewEntity(entity.id)}">
<br/>
<br/>
<h3>
    <label>
        View Topic
    </label>
</h3>
<br/>
<div id="crudShow" class="${type.name}">
    <br/>
    <font color="Red">
        ${message}
    </font>
    <br/>
    <div class="objectForm">
        #{form action:@view(object._key()), enctype:'multipart/form-data'}
        <br/>
        #{crud.form fields: ['title', 'creator', 'entity', 'description', 'privacyLevel']}
        <br/>
        #{crud.custom 'title'}
        <p>
            <!--<label for="object_title">Title</label>-->
            <label id="object_title" cols="30" rows="1" class="" name="object.title">
                ${object.title}
            </label>
        </p>
        #{/crud.custom}
        <br/>
        <br/>
        #{crud.custom 'creator'}
        <p>
            <label for="object_creator">
                by
            </label>
            <label id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">
                ${object.creator}
            </label>
        </p>
        #{/crud.custom }
        <br/>
        <br/>
        #{crud.custom 'entity'}
        <p>
            <label for="object_entity">
                in
            </label>
            <label id="object_entity" cols="30" rows="1" class="" name="object.privacyLevel">
                ${object.entity}
            </label>
        </p>
        #{/crud.custom }
        <br/>
        <br/>
        #{crud.custom 'description'}
        <p>
            <label for="object_description">
                Description
            </label>
            <label id="object_description" cols="50" rows="5" class="" name="object.description">
                ${object.description}
            </label>
            <!--<span class="crudHelp" ><font color="Red">*</font>Required</span>-->
        </p>
        #{/crud.custom}
        <br/>
        <br/>
        #{crud.custom 'privacyLevel'}
        <p>
            <label for="object_privacyLevel">
                Privacy Level
            </label>
            <label id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">
                ${object.privacyLevel}
            </label>
        </p>
        #{/crud.custom }
        #{/crud.form }
        <br/>
        <button type="submit" onclick= >  Edit
        </button>
        <br/>
        #{if allowed==1}<a href="@{RequestToJoins.viewRequests(1,object.id)}">Requests</a>
        #{/if}
        <br>
        <a href="@{Topics.tagTopic(object.id,'@@')}">Add tags</a>
        <br>
        #{/form}
        canclose:${canClose}
        openToEdit:${openToEdit}
        #{if canClose == 1 && openToEdit == true}
        #{form @Topics.closeTopic(), method:'POST', enctype:'multipart/form-data' }
        <input type = "hidden" name = "topicId" value = ${topicId}><input type="submit" value="Close Topic" />#{/form} 
        #{/if} 
        #{if canClose == 1 && openToEdit == false && plan == null}
        #{form @Topics.reopen(), method:'POST', enctype:'multipart/form-data' }
        <input type = "hidden" name = "topicId" value = ${topicId}><input type="submit" value="Reopen Topic" />#{/form}
        #{/if}
        #{if canPlan == 1 && openToEdit == false && plan == null}
        #{form @Plans.addIdea(), method:'POST', enctype:'multipart/form-data' }
        <input type = "hidden" name = "topicId" value = ${topicIdLong}><input type="submit" value="Create A plan" />#{/form}
        #{/if}
        #{if openToEdit == false && plan != null}
        #{form @Plans.viewAsList(), method:'POST', enctype:'multipart/form-data' }
        <input type = "hidden" name = "planId" value = ${plan.id}><input type="submit" value="View the plan" />#{/form}
        #{/if}
        <form action="@{Topics.viewFollowers()}">
            <HR><input type="hidden" name="topicId" value="${targetTopic.id}"><input type="hidden" name="f" value="true">#{if (!targetTopic.followers.contains(user))} 
            <p>
                Follow ${targetTopic.title} <input type="submit" value="Follow">
                <br/>
                #{/if}
                </form>
                <form action="@{Topics.viewFollowers()}">
                    <input type="hidden" name="topicId" value="${targetTopic.id}"><input type="hidden" name="f" value="false">View ${targetTopic.title} Followers <input type="submit" value="Followers">
                    <br/>
                    <HR>
                </form>#{if canPost == true}
                <form action="@{Ideas.blank(topicId)}" method="post">
                    <input type="hidden" name"topicId" value="${topicId}"><HR><input type="submit" value="Post Idea">
                </form>#{/if }
            </div><!--#{form @delete(object._key())}
            <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
            </p>
            #{/form}-->
            </div>