#{extends 'main.html' /}
#{set title:'View Topic Relationships' /}

<html>
	<title> View Topic Relationships </title>
	<body>
		<head>
			<p>
				#{if (topic.relationsSource.isEmpty() && topic.relationsDestination.isEmpty())}
				No relationships are available for this topic.
				#{/if}
				#{else}
				List of relationships:
				</br>
				</br>
				#{list items: topic.relationsSource, as: 'relation'}
				<li>
					<fieldset>
						<legend>
							${relation.source} ${relation.name} ${relation.destination}
						</legend>
						<form action="@{RenameEndRelationshipRequests.renameRequest(user.id, organisation.id, 0, topic.id, relation.id, 1, 1, newName)}" method="post"
						onsubmit="return validate()">
							<input type="text" id="newName" name="newName">
							<input type = "submit" value = "Request Rename">
						</form>
						<form action="@{RenameEndRelationshipRequests.deleteRequest(user.id, organisation.id, 0, topic.id, relation.id, 1, 0)}" method="post">
							<input type = "submit" value = "Request Delete">
						</form>
					</fieldset>
				</li>
				#{/list}
				#{list items: topic.relationsDestination, as: 'relation'}
				<li>
					<fieldset>
						<legend>
							${relation.source} ${relation.name} ${relation.destination}
						</legend>
						<form action="@{RenameEndRelationshipRequests.renameRequest(user.id, organisation.id, 0, topic.id, relation.id, 1, 1, newName)}" method="post"
						onsubmit="return validate()">
							<input type="text" id="newName" name="newName">
							<input type = "submit" value = "Request Rename">
						</form>
						<form action="@{RenameEndRelationshipRequests.deleteRequest(user.id, organisation.id, 0, topic.id, relation.id, 1, 0)}" method="post">
							<input type = "submit" value = "Request Delete">
						</form>
					</fieldset>
				</li>
				#{/list}
				#{/else}

				<script type="text/javascript">function validate() {
						var n = document.getElementById('name').value;
						if(n == "") {
							alert("Please insert the new name");
							return false;
						}
					} </script>
		</head>
	</body>
</html>