#{extends 'login/index.html' /}

<script type="text/javascript">
	var ids = new Array();
	
	function toggleUser(id) {
		if(ids.indexOf(id) == -1) {
			ids.push(id);
		}else {
			ids.pop(id);
		}		
	}
	
	function submit(itemId){
		if (ids.length == 0) {
			alert("you haven't selected any users");
		}
		else {
		
			$.post('@{sendRequests()}', {itemId:itemId,userIds:ids}, function() {
								
				for (var i = 0; i < ids.length; i = i + 1) {
					$('#user_' + ids[i]).remove();
				}
				
				//window.location.reload();
		
			if(ids.length == ${users.size()}) {
					document.getElementById("userLabel").innerHTML = "There are no more users to display";
				}
			});
				

				
			
			//alert("Requests sent successfully");
		}
		
	}
	
	function validate() {
		var keyword = document.getElementById("keyword").value;
    	if (keyword = null || keyword == "") {
		alert("you didn't enter any search criteria");
		return false;
		}
	}
</script>
<div id= "pageNoSideBar">
<h3>Item: <b>${item.summary}</b></h3>
<br/>
You can also search for a certain nonblocked user from the plan's topic user by username, email or profession
<br/>
#{form @AssignRequests.search(), method:'POST', id:'creationForm', onsubmit: 'return validate()', enctype:'multipart/form-data' }
<input type = "text" id = "keyword" name = "keyword"> &nbsp; &nbsp; &nbsp;
<input type = "hidden" name = "itemId" value = ${itemId} >
<input type = "hidden" name = "planId" value = ${planId} >
<input type = "submit" value ="search" >
#{/form}
&nbsp; &nbsp; &nbsp; 
#{form @AssignRequests.assign(), method:'POST', id:'creationForm', enctype:'multipart/form-data' }
<input type = "hidden" name = "itemId" value = ${itemId} >
<input type = "hidden" name = "planId" value = ${planId} >
<input type = "submit" value ="view all users" >
#{/form}


#{if users.size() > 0}
<label id = "userLabel"> </label>
<br/>
<ul style="list-style: none; ">
#{list items:users, as:'user1'}
<li id = "user_${user1.id}" >
<input type="checkbox" id="${user1.id}" onclick="toggleUser(${user1.id});"> 
<a href="@{Users.viewProfile(user1.id)}">${user1.username}</a>
<br/>
</li>
#{/list}
</ul>
<br/>
<input type="button" value="send requests" onclick="submit(${itemId})"/>
#{/if}
#{else}
There are no users that match your criteria
#{/else}
<br/>
<br/>
<a href="@{Plans.viewAsList(planId)}">Go back to plan</a>

</div>
