#{extends 'main.html' /}
#{set title: 'View Assignment Requests'/}
#{if assignRequests.size() > 0}<h3>Assignment Requests </h3>
<ul>
    #{list items:assignRequests, as:'assignRequest'}
    <div id = "assignRequest_${assignRequest.id}"><li>
       <fieldset>
            <legend>
            <h2>
             <a href="@{Plans.viewAsList(assignRequest.source.plan.id)}">   ${assignRequest.source.plan.title}</a>
            </h2>
            </legend>
            Content:  ${assignRequest.content}
            <br/>
			<input type = "button" value = "Accept" onclick="accept_request('${assignRequest.id}')">
			<input type = "button" value = "Reject" onclick="reject_request('${assignRequest.id}')">
        </fieldset>
    </li></div>
    #{/list}
</ul>
#{/if}
#{else}
You have no assignment requests.
#{/else}

<script type="text/javascript">

function accept_request(id)
  {
	$.post('@{accept()}' , {id: id});
	alert("Task accepted!");
	$("#assignRequest_" + id).remove();
  }

function reject_request(id)
  {
	$.post( '@{reject()}' , {id: id});
	alert("Task rejected!");
	$("#assignRequest_" + id).remove();
  }

</script>