
#{extends 'main.html' /}
#{set title:'Choose action to restrict from' /}


<script type="text/javascript">
function show_alert()
{
alert("changes sent");
window.location.reload();
}
</script>




#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{if entityActions.isEmpty() || entityActions == null}
  <p> <font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> No Actions Found !! </u></b></font></p>
#{/if}
#{else}
#{form  @BannedUsers.restrictFinal(), method:'POST', id:'creationForm',
       enctype:'multipart/form-data' }
       
       
    <p> <font face="Monotype Corsiva, Verdana" size="6" color="#2B60DE">
    <b><u> Actions that the organizer is not restricted from : </u></b></font></p>
       
  #{list items:entityActions, as:'action'}
  
  <input type="checkbox" name="actionToDo[]" value='${action}' id = "enabled"/> ${action}<br />
 
  #{/list}
  <br / >
  <hr> <br />  <br />
   
   <b> <u> Actions that the organizer is restricted from : </u> </b> <br /> <br />
    
  #{list items:restricted, as:'restrict'}
   <input type="checkbox" name="notUsed" value='${restrict}' id ="disabled" DISABLED/> ${restrict}<br />
   #{/list}
  
<input type = "hidden" name = "type" value = "entity" >
<input type = "hidden" name = "entityTopicId" value = ${entityId} >
<input type = "hidden" name = "userId" value = ${userId} >

<input type="submit" value="Restrict">
#{/form}
#{/else}
 

  
  