
#{extends 'Login/index.html' /}
#{set title:'Restrict Organizer' /}

<form action="@{Organizations.viewProfile()}">
            <input type="hidden" name="id" value='${orgId}'>
           <input type="submit" style="background-color:lightblue" value="Back to the organization main profile">
 </form>
<br />
#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

<input type="submit" style="background-color:lightblue" align = "Right" value="Start new Restriction / De-Restriction Process"  onclick="Restart()" > <br /> <br />

#{if users.isEmpty()}
  <p style="color:#c00"> No Organizers Found </p>
#{/if}
#{else}

<form name = "organizer">
<fieldset>  
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Users set: </u></b></font></legend> <br />
       <select name = "userId" id = "userss">
  #{list items:users, as:'user'}
  
  <option name = ${user.id} value=${user.id}>${user.firstName} ${user.lastName}</option>
  
   #{/list}
        </select>
</fieldset>
</form>
<br />
<input type="submit" value="Select Entity" onclick="submit()">
#{/else}





<form name = "entityList">
<hr> <br /><br /> 
<fieldset>  
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Entities set: </u></b></font></legend> <br />
       <select name = "entityName" id = "e">

        </select>
</fieldset> 
</form>





<form id ="topicz" name = "topics"  >
<br /> 

<fieldset>
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Options set: </u></b></font></legend>
    <br />

<input type="radio" id = "TOPIC" name="topic" value="false" checked = "true" /> Restrict / De-Restrict that organizer from the whole entity <br />
<input type="radio" id = "TOPIC" name="topic" value="true" /> Restrict / De-Restrict that organizer from a specific topic <br />
 </fieldset>
</form>

<input  type="submit" value="Submit" onclick = "getTopic()">



<form id = "topicsListId" name = "topicsList">
<hr> <br />

<fieldset>  
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Topics Set : </u></b></font></legend> <br />
       <select name = "topicName" id = "topic">

        </select>
</fieldset> 
</form>
<br />
<input id = "topicBtn" type="submit" value="Submit topic" onclick = "getTopicActions()">
      
<br />



 <form id = "enabledActions" name = "actionsList" >
 <hr> <br />

    <p> <font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Actions that the organizer is not restricted from : </u></b></font></p>
       
</form>
<br />
<input type="submit" id = "restrictBtn" value="Restrict" onclick = "restrict()">


<br />


 <form id = "disabledActions" name = "disabledActionsList" >
 <hr> <br />
 

    <p> <font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Actions that the organizer is restricted from : </u></b></font></p>
       
</form>

<input type="submit" id = "deRestrictBtn" value="De-Restrict" onclick = "deRestrict()"> <br /> <br />

<input type="submit" style="background-color:lightblue" value="Start new Restriction / De-Restriction Process" align = "Right" onclick="Restart()" >


<script >
var restActions = {};
var userID = 0;
var entityID = 0;
var topicID = 0;
var topicFlag = true;
var organizationID = ${organizationID};
var submitBtnFlag = false;
var selectEntityBtnFlag = false;
var submitTopicBtnFlag = false;


function Restart(){
	
	window.location.reload();
}

function submit(){
	
	
	if (selectEntityBtnFlag == false){
		selectEntityBtnFlag = true;
	 userID = document.getElementById('userss').value;
	organizationID = ${organizationID};
	$.getJSON( '@{BannedUsers.entitiesEnrolledIn()}', { userId: userID , organizationId: ${organizationID}} , function(data) { 
		
// 		var temp =  ${flag};
// 		var H[] = entities;
//  		 var content = $( data ).find( '#entities' ); 
//           $( "#msg" ).html( content ); 
            
            
//  	     for
         var text = "";
	     
	     var List;
	    // <% entities = entities.split(';') %>
	   
	    
//          for( var i=0; i<List.length; i++ ) {  
        	
//         		 text = text + "[" + i + "]" + list[i];
        	 
        	
//     	  }
       //  alert("Data Loaded: " + data.entityList);
	    //  String [] entitiesL = entities.split(,);
	     var s={};
        s=data.entityList.split(",");
      //  alert("Data Loaded: " + data.entityList);
        var d={};
        d=data.entityIds.split(",");
  
	    
	    // document.getElementById("dynamic").innerHTML= counter;
	    for( var i = 0 ; i < s.length-1 ; i++){
	    	myOption= new Option();
	    	
            myOption.text= s[i];
	         myOption.value= d[i]; 
	         document.entityList.entityName.options[document.entityList.entityName.options.length]=myOption;
	    }
         
	    $('#topicz').show();
       
	   });
	
  }
	else{
		
		alert("Oops You have changed the selection criteria. The process will restart !!");
		window.location.reload();
	}
	
}


  function getTopicActions(){
	  
	  if(submitTopicBtnFlag == false ){
		  submitTopicBtnFlag = true;
	 
	  topicID = document.getElementById('topic').value;
	 
	  $.getJSON( '@{BannedUsers.topicActions()}', { topicId: topicID ,userId: userID} ,  function(data) { 
			
		    
		     var actions={};
	        actions=data.topicsActions.split(",");
	         var  restrictedActions = {};
	         restrictedActions = data.restrictedTopicActions.split(",");
	        
	        for( var i = 0 ; i < actions.length-1 ; i++){
		     
	        	var text = actions[i];
	        	$('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
		    
	        }
	        
	        
	        for( var i = 0 ; i < restrictedActions.length-1 ; i++){
			     
	        	var text = restrictedActions[i];
	        	$('#disabledActions').append('<input type="checkbox" id = "dc" name = "actionNotToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
		    
	        }
	        $('#enabledActions').show();
	        $('#restrictBtn').show();
	        $('#disabledActions').show();
	        $('#deRestrictBtn').show();
		
		});
	  
  }
	  else{
		  alert("Oops You have changed the selection criteria. The process will restart !!");
			window.location.reload();
		  
	  }
	  
  }



function getTopic(){
	
	if (submitBtnFlag == false){
		submitBtnFlag = true;
	
	userIDD = document.getElementById('userss').value;
	var topicc = true;

	topicFlag = true;
	if (document.topics.topic[0].checked)
    {
    topicc = false;
    topicFlag = false;
    }
	
    var entityIdd = document.getElementById('e').value;
     entityID = entityIdd;
     if(topicc == false){
    $.getJSON( '@{BannedUsers.entityActions()}', { entityId: entityIdd ,topic :topicc, organizationId: ${organizationID} ,userId: userIDD} ,  function(data) { 
		
         //alert("Data Loaded :)"  + data.actions);
	    
	     var s={};
        s=data.actions.split(",");
       
        
        for( var i = 0 ; i < s.length-1 ; i++){
	     
        	var text = s[i];
        	$('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
	    
        }
        
        
        var restrictedActionz = {};
        restrictedActionz = data.restrictedActions.split(",");
        alert(restrictedActionz.length + " restrictedActions" + data.restrictedActions);
        for( var i = 0 ; i < restrictedActionz.length-1 ; i++){
		     
        	var text = restrictedActionz[i];
        	$('#disabledActions').append('<input type="checkbox" id = "dc" name = "actionNotToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
	    
        }
        $('#enabledActions').show();
        $('#restrictBtn').show();
        $('#disabledActions').show();
        $('#deRestrictBtn').show();
        
        
	
	});
	
     }
     
     else{
    	  	 
    	 
    	 $.getJSON('@{BannedUsers.topicsEnrolledIn()}', { entityId: entityIdd , organizationId: ${organizationID} ,userId: userIDD} ,  function(data) { 
    			
    	     var names ={};
            names=data.topicsNames.split(",");
           var  ids = {};
           ids = data.topicsIds.split(",");
            if(names.length == 1){
            	alert("Oops there are no topics within this entity !!!");
            	window.location.reload();
            }
            for( var i = 0 ; i < names.length-1 ; i++){
    	      	        
    	        topicOption= new Option();
    	        topicOption.text= names[i];
    	        topicOption.value= ids[i]; 
    	        document.topicsList.topicName.options[document.topicsList.topicName.options.length]=topicOption;
    	        
            }
    	
            $('#topicsListId').show();
            $('#topicBtn').show();
    	
    	});
    	 
    	 
     } 
     
  }
	else{
		alert("Oops You have changed the selection criteria. The process will restart !!");
		window.location.reload();
		
	}
     
	}
	
	
function getSelectedCheckboxValue(buttonGroup) {
	   // return an array of values selected in the check box group. if no boxes
	   // were checked, returned array will be empty (length will be zero)
	   var retArr = new Array(); // set up empty array for the return values
	   var selectedItems = getSelectedCheckbox(buttonGroup);
	   if (selectedItems.length != 0) { // if there was something selected
	      retArr.length = selectedItems.length;
	      for (var i=0; i<selectedItems.length; i++) {
	         if (buttonGroup[selectedItems[i]]) { // Make sure it's an array
	            retArr[i] = buttonGroup[selectedItems[i]].value;
	         } else { // It's not an array (there's just one check box and it's selected)
	            retArr[i] = buttonGroup.value;// return that value
	         }
	      }
	   }
	   return retArr;
	} // Ends the "getSelectedCheckBoxValue" function
	
	function getSelectedCheckbox(buttonGroup) {
		   // Go through all the check boxes. return an array of all the ones
		   // that are selected (their position numbers). if no boxes were checked,
		   // returned array will be empty (length will be zero)
		   var retArr = new Array();
		   var lastElement = 0;
		   if (buttonGroup[0]) { // if the button group is an array (one check box is not an array)
		      for (var i=0; i<buttonGroup.length; i++) {
		         if (buttonGroup[i].checked) {
		            retArr.length = lastElement;
		            retArr[lastElement] = i;
		            lastElement++;
		         }
		      }
		   } else { // There is only one check box (it's not an array)
		      if (buttonGroup.checked) { // if the one check box is checked
		         retArr.length = lastElement;
		         retArr[lastElement] = 0; // return zero as the only array value
		      }
		   }
		   return retArr;
		} // Ends the "getSelectedCheckbox" function




	
	function restrict(){
		
		var field = document.actionsList.actionToDo;
		//alert("restrictedActions.length" + field.length);
		var restrictedActions = getSelectedCheckboxValue(field);
		
// 		if (restrictedActions.length == 0) { alert("No check boxes selected"); }


// 		alert("length :" + field.length);
// 		for (i = 0; i < field.length; i++){
// 			restActions [i] = filed[i].value;
// 		}

      
		
		if(restrictedActions.length == 0 ) {
			alert("You did not even choose a single action !!!");
		} else {
			
			var r=confirm("Are You sure you want to proceed ? ");
			if (r == true) {
				if(topicFlag == false){
					$.post('@{BannedUsers.restrictFinal()}', {actionToDo:restrictedActions ,type: "entity",
						entityTopicId: entityID, userId:userID});
				}
				
				else{
					$.post('@{BannedUsers.restrictFinal()}', {actionToDo:restrictedActions ,type: "topic",
						entityTopicId: topicID, userId:userID});
				}
				var selected ={};
				selected = getSelectedCheckbox(field);
					for( var i = 0 ; i < field.length ; i++){
				    	  if(field[i].checked){
				    		  field[i].disabled = true;
				              field[i].checked = false;
	//			    		  field[i].style.display='none';
                               

// 				    		  var c = document.getElementById(field[i].id);
// 				    		  c.parentNode.removeChild(c);
//				    		  $('#enabledActions').removeChild(field[i]);
 //				    		  $('#disabledActions').append(filed[i]);
				    		  $('#disabledActions').append('<input type="checkbox" id = "dc" name = "actionNotToDo"  value = "'+field[i].value+'" class = "enabled"/> ' + field[i].value + '<br />'); 
				    	  }
				      }
				
									
			} else {
				window.location.reload();
			}	
			
	     }
	
		}
		
		
		function deRestrict(){
	
			
			var field2 = document.disabledActionsList.actionNotToDo;
			
			
// 			alert("restrictedActions.length" + field.length);
			var enabledActions = getSelectedCheckboxValue(field2);
			alert(enabledActions[0]);
			alert(enabledActions.length);
			

			if(enabledActions.length == 0 ) {
				alert("You did not even choose a single action !!!");
			} else {
				
				var r=confirm("Are You sure you want to proceed ? ");
				if (r == true) {
					if(topicFlag == false){
							
						$.post('@{BannedUsers.deRestrict()}', { userId:userID, actionsRestricted:enabledActions ,entityTopicID: entityID,type: "entity"});
					}
					
					else{
						
						$.post('@{BannedUsers.deRestrict()}', { userId:userID, actionsRestricted:enabledActions ,entityTopicID: topicID,type: "topic"});
						
					}
					
					var selected = getSelectedCheckbox(field2);
					
					if(field2[0]){
						for( var i = 0 ; i < field2.length ; i++){
					    	  if(field2[i].checked){
					    		 // alert("done");
					    		  field2[i].disabled = true;
					              field2[i].checked = false;
                                
					    		  $('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+field2[i].value+'" class = "enabled"/> ' + field2[i].value + '<br />'); 
					    	  }
					      }
					
					}
					else{
						
						
						if(field2.checked){
							alert("henna");
							field2.disabled = true;
							field2.checked = false;
							$('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+field2.value +'" class = "enabled"/> ' + field2.value + '<br />'); 
							
						}
					}
						
										
				} 
				
				else {
					window.location.reload();
				}	
				
		     }
			
		}
	
	
	

</script>

<script type="text/javascript"> 
	$(function() {
		$('#topicz').hide();
	});
	
	$(function(){
		$('#restrictBtn').hide();
	});
	
	$(function(){
		$('#topicsListId').hide();
	});
	
	$(function(){
		$('#topicBtn').hide();
	});
	$(function(){
		$('#disabledActions').hide();
	});
	$(function(){
		$('#deRestrictBtn').hide();
	});
	
</script>
<script type="text/javascript"> 
	
	$(function(){
		$('#enabledActions').hide();
	});
</script>
