
#{extends 'Login/index.html' /}
#{set title:'Restrict Organizer' /}

<!--  <form action="@{Organizations.viewProfile()}">  -->
<!--              <input type="hidden" name="id" value='${orgId}'>  -->
          <img src="/public/images/arrow_prev.gif"/> <a href = "@{Organizations.viewProfile(orgId)}" name = "back" type="submit" style="color:blue" onmouseout = "back.style.color='blue'" onmouseover="back.style.color='darkblue'">Back to the organization main profile</a>
           <br />
<!-- </form> -->
<br />
#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

<br /> <br />

#{if users.isEmpty()}
 <p> <font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b> No Organizers Found !!</b></font></p>
#{/if}
#{else}

<form name = "organizer">
<fieldset>  
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Organizers' set: </u></b></font></legend> <br />
      
  #{list items:users, as:'user'}
  
  <input type="checkbox" id = "o" name = "org"  value = ${user.id} class = "enabled"/> ${user.firstName} ${user.lastName}<br />
   #{/list}
       
</fieldset>
</form>
<br />
<input type="submit" value="Select Entity" onclick="submit()">






<form name = "entityList">
<hr> <br /><br /> 
<fieldset>  
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Entities set: </u></b></font></legend> <br />
       <select name = "entityName" id = "e">

        </select>
</fieldset> 
</form>





<form id ="topicz" name = "topics"  >
<br /> 

<fieldset>
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Options set: </u></b></font></legend>
    <br />

<input type="radio" id = "TOPIC" name="topic" value="false" checked = "true" /> Restrict / De-Restrict that organizer from the whole entity <br />
<input type="radio" id = "TOPIC" name="topic" value="true" /> Restrict / De-Restrict that organizer from a specific topic <br />
 </fieldset>
</form>

<input  type="submit" value="Submit" onclick = "getTopic()">
#{/else}


<form id = "topicsListId" name = "topicsList">
<hr> <br />

<fieldset>  
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Topics Set : </u></b></font></legend> <br />
       <select name = "topicName" id = "topic">

        </select>
</fieldset> 
</form>
<br />
<input id = "topicBtn" type="submit" value="Submit topic" onclick = "getTopicActions()">
      
<br />



 <form id = "enabledActions" name = "actionsList" >
 <hr> <br />

    <p> <font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Actions that the organizer is not restricted from : </u></b></font></p>
       
</form>
<br />
<input type="submit" id = "restrictBtn" value="Restrict" onclick = "restrict()"> <div id = "rd"> <p style = "color:#c00">You did not choose any actions !!!</p></div>


<br />


 <form id = "disabledActions" name = "disabledActionsList" >
 <hr> <br />
 

    <p> <font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Actions that the organizer is restricted from : </u></b></font></p>
       
</form>

<input type="submit" id = "deRestrictBtn" value="De-Restrict" onclick = "deRestrict()"> <div id = "dd"> <p style = "color:#c00">You did not choose any actions !!!</p></div><br /> <br />

<input name = "neww" type="submit" style="background-color:lightblue" value="Start new Restriction / De-Restriction Process" align = "Right" onclick="Restart()" onmouseout = "neww.style.color='black'" onmouseover="neww.style.color='white'">


<script >
var restActions = {};
var userID = 0;
var entityID = 0;
var topicID = 0;
var topicFlag = true;
var organizationID = ${organizationID};
var submitBtnFlag = false;
var selectEntityBtnFlag = false;
var submitTopicBtnFlag = false;
var selectedOrganizers ={};

function Restart(){
	
	window.location.reload();
}
function RHide(){
	
    $('#dd').hide();
}
function DHide(){
	$('#rd').hide();
}


function submit(){
	
	
	if (selectEntityBtnFlag == false){
		selectEntityBtnFlag = true;
		 organizersField = document.organizer.org;
		//alert("restrictedActions.length" + field.length);
	  selectedOrganizers = getSelectedCheckboxValue(organizersField);
	organizationID = ${organizationID};
	$.getJSON( '@{BannedUsers.entitiesEnrolledInGroup()}', { userId: selectedOrganizers , organizationId: ${organizationID}} , function(data) { 
		

         var text = "";
	     
	     var List;
	    
	     var s={};
        s=data.entityList.split(",");
        
        var d={};
        d=data.entityIds.split(",");
  
	    
	    
	    for( var i = 0 ; i < s.length-1 ; i++){
	    	myOption= new Option();
	    	
            myOption.text= s[i];
	         myOption.value= d[i]; 
	         document.entityList.entityName.options[document.entityList.entityName.options.length]=myOption;
	    }
         
	    $('#topicz').show();
       
	   });
	
  }
	else{
		
		alert("Oops You have changed the selection criteria. The process will restart !!");
		window.location.reload();
	}
	
}


  function getTopicActions(){
	  
	  if(submitTopicBtnFlag == false ){
		  submitTopicBtnFlag = true;
	 
	  topicID = document.getElementById('topic').value;
	  
	  
	  
	  
	  $.getJSON( '@{BannedUsers.getTopicActions()}',{},  function(data) { 
			
		    
		     var actions={};
	        actions=data.topicsActions.split(",");
	         
	        for( var i = 0 ; i < actions.length-1 ; i++){
		     
	        	var text = actions[i];
	        	$('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
	        	$('#disabledActions').append('<input type="checkbox" id = "dc" name = "actionNotToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
			    
	        }
	        
	        
	        $('#enabledActions').show();
	        $('#restrictBtn').show();
	        $('#disabledActions').show();
	        $('#deRestrictBtn').show();
		
		});
	  
	 
	  
  }
	  else{
		  alert("Oops You have changed the selection criteria. The process will restart !!");
			window.location.reload();
		  
	  }
	  
  }



function getTopic(){
	
	if (submitBtnFlag == false){
		submitBtnFlag = true;
	
	
	var topicc = true;

	topicFlag = true;
	if (document.topics.topic[0].checked)
    {
    topicc = false;
    topicFlag = false;
    }
	
    var entityIdd = document.getElementById('e').value;
     entityID = entityIdd;
     if(topicc == false){
    $.getJSON( '@{BannedUsers.getAllEntityActions()}',  function(data) { 
		
         //alert("Data Loaded :)"  + data.actions);
	    
	     var s={};
        s=data.actions.split(",");
       
        
        for( var i = 0 ; i < s.length-1 ; i++){
	     
        	var text = s[i];
        	$('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
	    
        }
        
        
        var restrictedActionz = {};
        restrictedActionz = data.actions.split(",");
     
        for( var i = 0 ; i < restrictedActionz.length-1 ; i++){
		     
        	var text = restrictedActionz[i];
        	$('#disabledActions').append('<input type="checkbox" id = "dc" name = "actionNotToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
	    
        }
        $('#enabledActions').show();
        $('#restrictBtn').show();
        $('#disabledActions').show();
        $('#deRestrictBtn').show();
        
        
	
	});
	
     }
     
     else{
    	  	 if(selectedOrganizers[0]){
    	 
    	 $.getJSON('@{BannedUsers.topicsEnrolledIn()}', { entityId: entityIdd , organizationId: ${organizationID} ,userId: selectedOrganizers[0]} ,  function(data) { 
    			
    	     var names ={};
            names=data.topicsNames.split(",");
           var  ids = {};
           ids = data.topicsIds.split(",");
            if(names.length == 1){
            	alert("Oops there are no topics within this entity !!!");
            	window.location.reload();
            }
            for( var i = 0 ; i < names.length-1 ; i++){
    	      	        
    	        topicOption= new Option();
    	        topicOption.text= names[i];
    	        topicOption.value= ids[i]; 
    	        document.topicsList.topicName.options[document.topicsList.topicName.options.length]=topicOption;
    	        
            }
    	
            $('#topicsListId').show();
            $('#topicBtn').show();
    	
    	});
    	 
    	 
    	  	 }
    	  	 else{
    	  		 
    	  		$.getJSON('@{BannedUsers.topicsEnrolledIn()}', { entityId: entityIdd , organizationId: ${organizationID} ,userId: selectedOrganizers} ,  function(data) { 
    	 			
    	    	     var names ={};
    	            names=data.topicsNames.split(",");
    	           var  ids = {};
    	           ids = data.topicsIds.split(",");
    	            if(names.length == 1){
    	            	alert("Oops there are no topics within this entity !!!");
    	            	window.location.reload();
    	            }
    	            for( var i = 0 ; i < names.length-1 ; i++){
    	    	      	        
    	    	        topicOption= new Option();
    	    	        topicOption.text= names[i];
    	    	        topicOption.value= ids[i]; 
    	    	        document.topicsList.topicName.options[document.topicsList.topicName.options.length]=topicOption;
    	    	        
    	            }
    	    	
    	            $('#topicsListId').show();
    	            $('#topicBtn').show();
    	    	
    	    	});
    	  		 
    	  	 }
    	 
    	 
    	 
    	 
    	 
     } 
     
  }
	else{
		alert("Oops You have changed the selection criteria. The process will restart !!");
		window.location.reload();
		
	}
     
	}
	
	
function getSelectedCheckboxValue(buttonGroup) {
	   // return an array of values selected in the check box group. if no boxes
	   // were checked, returned array will be empty (length will be zero)
	   var retArr = new Array(); // set up empty array for the return values
	   var selectedItems = getSelectedCheckbox(buttonGroup);
	   if (selectedItems.length != 0) { // if there was something selected
	      retArr.length = selectedItems.length;
	      for (var i=0; i<selectedItems.length; i++) {
	         if (buttonGroup[selectedItems[i]]) { // Make sure it's an array
	            retArr[i] = buttonGroup[selectedItems[i]].value;
	         } else { // It's not an array (there's just one check box and it's selected)
	            retArr[i] = buttonGroup.value;// return that value
	         }
	      }
	   }
	   return retArr;
	} // Ends the "getSelectedCheckBoxValue" function
	
	function getSelectedCheckbox(buttonGroup) {
		   // Go through all the check boxes. return an array of all the ones
		   // that are selected (their position numbers). if no boxes were checked,
		   // returned array will be empty (length will be zero)
		   var retArr = new Array();
		   var lastElement = 0;
		   if (buttonGroup[0]) { // if the button group is an array (one check box is not an array)
		      for (var i=0; i<buttonGroup.length; i++) {
		         if (buttonGroup[i].checked) {
		            retArr.length = lastElement;
		            retArr[lastElement] = i;
		            lastElement++;
		         }
		      }
		   } else { // There is only one check box (it's not an array)
		      if (buttonGroup.checked) { // if the one check box is checked
		         retArr.length = lastElement;
		         retArr[lastElement] = 0; // return zero as the only array value
		      }
		   }
		   return retArr;
		} // Ends the "getSelectedCheckbox" function




	
	function restrict(){
		
		var field = document.actionsList.actionToDo;
		//alert("restrictedActions.length" + field.length);
		var restrictedActions = getSelectedCheckboxValue(field);
		
// 		if (restrictedActions.length == 0) { alert("No check boxes selected"); }


// 		alert("length :" + field.length);
// 		for (i = 0; i < field.length; i++){
// 			restActions [i] = filed[i].value;
// 		}

      
		
		if(restrictedActions.length == 0 ) {
			//alert("You did not even choose a single action !!!");
			$('#rd').show();
		} else {
			$('#rd').hide();
			var r=confirm("Are You sure you want to proceed ? ");
			if (r == true) {
				
				if(topicFlag == false){
					if (selectedOrganizers[0]){
					
						for (var j = 0 ; j < selectedOrganizers.length ; j++ ){
							var userID = selectedOrganizers[j];
							
							$.post('@{BannedUsers.restrictFinal()}', {actionToDo:restrictedActions ,type: "entity",
								entityTopicId: entityID, userId:userID});	
						}
						
					}else{
						
						$.post('@{BannedUsers.restrictFinal()}', {actionToDo:restrictedActions ,type: "entity",
							entityTopicId: entityID, userId:selectedOrganizers});	
					
					}
				}
				
				else{
					
					
					if (selectedOrganizers[0]){
						
						for (var j = 0 ; j < selectedOrganizers.length ; j++ ){
							var userID = selectedOrganizers[j];
							
							$.post('@{BannedUsers.restrictFinal()}', {actionToDo:restrictedActions ,type: "topic",
								entityTopicId: entityID, userId:userID});	
						}
						
					}else{
						
						$.post('@{BannedUsers.restrictFinal()}', {actionToDo:restrictedActions ,type: "topic",
							entityTopicId: entityID, userId:selectedOrganizers});	
					
					}
					
					
					
					
				}
				var selected ={};
				selected = getSelectedCheckbox(field);
					for( var i = 0 ; i < field.length ; i++){
				    	  if(field[i].checked){
				    		  field[i].disabled = true;
				              field[i].checked = false;
	//			    		  field[i].style.display='none';
                               

// 				    		  var c = document.getElementById(field[i].id);
// 				    		  c.parentNode.removeChild(c);
//				    		  $('#enabledActions').removeChild(field[i]);
 //				    		  $('#disabledActions').append(filed[i]);
//				    		  $('#disabledActions').append('<input type="checkbox" id = "dc" name = "actionNotToDo"  value = "'+field[i].value+'" class = "enabled"/> ' + field[i].value + '<br />'); 
				    	  }
				      }
				
									
			} else {
				window.location.reload();
			}	
			
	     }
	
		}
		
		
		function deRestrict(){
	
			
			var field2 = document.disabledActionsList.actionNotToDo;
			
			
// 			alert("restrictedActions.length" + field.length);
			var enabledActions = getSelectedCheckboxValue(field2);
			

			if(enabledActions.length == 0 ) {
				//alert("You did not even choose a single action !!!");
				$('#dd').show();
			} else {
				$('#dd').hide();
				var r=confirm("Are You sure you want to proceed ? ");
				if (r == true) {
				
					if(topicFlag == false){
						
						if (selectedOrganizers[0]){
							
							for (var j = 0 ; j < selectedOrganizers.length ; j++ ){
								var userID = selectedOrganizers[j];
								
								$.post('@{BannedUsers.deRestrict()}', { userId:userID, actionsRestricted:enabledActions ,entityTopicID: entityID,type: "entity"});

							}
							
						}else{
							
							$.post('@{BannedUsers.deRestrict()}', { userId:selectedOrganizers, actionsRestricted:enabledActions ,entityTopicID: entityID,type: "entity"});
	
						
						}
						
						
							
					}
					
					else{
						
						
					     if (selectedOrganizers[0]){
							
							for (var j = 0 ; j < selectedOrganizers.length ; j++ ){
								var userID = selectedOrganizers[j];
								
								$.post('@{BannedUsers.deRestrict()}', { userId:userID, actionsRestricted:enabledActions ,entityTopicID: topicID,type: "topic"});

							}
							
						}else{
							
							$.post('@{BannedUsers.deRestrict()}', { userId:selectedOrganizers, actionsRestricted:enabledActions ,entityTopicID: topicID,type: "topic"});
	
						
						}
						
					
						
					}
					
					var selected = getSelectedCheckbox(field2);
					
					if(field2[0]){
						for( var i = 0 ; i < field2.length ; i++){
					    	  if(field2[i].checked){
					    		 // alert("done");
					    		  field2[i].disabled = true;
					              field2[i].checked = false;
                                
					    		//  $('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+field2[i].value+'" class = "enabled"/> ' + field2[i].value + '<br />'); 
					    	  }
					      }
					
					}
					else{
						
						
						if(field2.checked){
							
							field2.disabled = true;
							field2.checked = false;
							$('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+field2.value +'" class = "enabled"/> ' + field2.value + '<br />'); 
							
						}
					}
						
										
				} 
				
				else {
					window.location.reload();
				}	
				
		     }
			
		}
	
	
	

</script>

<script type="text/javascript"> 
	$(function() {
		$('#topicz').hide();
	});
	
	$(function(){
		$('#restrictBtn').hide();
	});
	
	$(function(){
		$('#topicsListId').hide();
	});
	
	$(function(){
		$('#topicBtn').hide();
	});
	$(function(){
		$('#disabledActions').hide();
	});
	$(function(){
		$('#deRestrictBtn').hide();
	});
	$(function(){
		$('#dd').hide();
	});
	$(function(){
		$('#rd').hide();
	});
	
</script>
<script type="text/javascript"> 
	
	$(function(){
		$('#enabledActions').hide();
	});
</script>
