
#{extends 'main.html' /}
#{set title:'Restrict Organizer' /}



#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{if users.isEmpty()}
  <p style="color:#c00"> No Organizers Found </p>
#{/if}
#{else}
#{form @BannedUsers.restrictOrganizerHelper1(), method:'POST', id:'creationForm',
       enctype:'multipart/form-data' }
  #{list items:users, as:'user'}
<input id = "1" type="radio" name="userId" value = ${user.id}> ${user.firstName} ${user.lastName} <br /> <br />
#{/list}

<input type = "hidden" name = "organizationId" value = ${organizationID} >
<input type="submit" value="Select Entity">
#{/form}
#{/else}