 <!-- @author : Mai Magdy -->
#{extends 'Login/index.html' /}
#{set title:'Block/Unblock Page' /}

#{if num==0}
<a href="@{MainEntitys.viewEntity(object.id)}"><img src="/public/images/icons/back.png" title="back" width="25" height="12"/> Back to ${object.name}</a>
#{/if}
#{else}
<a href="@{Topics.show(object.id)}"><img src="/public/images/icons/back.png" title="back" width="25" height="12"/> Back to ${object.title}</a>
#{/else}
<hr>          </hr>
<u><font size ="4" color ="blue">Enrolled Idea Developers</font></u>
<br/>
<br/>
<table border="0" bgcolor="#ececec" cellspacing="5">
#{if users.isEmpty()}
</table>
<tr><td><u><font size ="3" color ="black">No user Found</font></u></td><td>
#{/if}
#{else}
<div id="leftSidebar">
    <ul>
        
        <li>
        	  <ul>
#{list items:0..users.size()-1, as:'u'} 
<li>
<a href="@{Users.viewProfile(users.get(u).id)}">${users.get(u).username}</a>
<br/>
<font size ="3" color ="black">${users.get(u).firstName} ${users.get(u).lastName}</font><a onclick="javascript: hide('${u}');" id="9_${u}"/><img src="/public/images/icons/blocked.png" title="Block/Unblock" width="30" height="30" align="right"/></a><a onclick="javascript: view('${u}');" id="10_${u}"  style="display:none"/><img src="/public/images/icons/blocked.png" title="Block/Unblock" width="30" height="20" align="right"/></a>
<br/>
<input class = "linkButton" type="button" onclick="show('${users.get(u).id}',0,'${object.id}','${num}','${u}');" id="1_${u}" value="Block from viewing" style="display:none"/>
<input class = "linkButton" type="button" onclick="show('${users.get(u).id}',1,'${object.id}','${num}','${u}');"  id="2_${u}" value="Block from using" style="display:none"/>
<div id="3_${u}" ></div>
<textarea rows="2" cols="20" id="6_${u}" style="display:none"></textarea>
<a href="javascript:void(0)" id="8_${u}"  style="display:none"/>Block</a><a href="javascript:void(0)" id="7_${u}"  style="display:none"/>Block</a>
<a href="javascript:void(0)" id="5_${u}"  style="display:none"/>Cancel</a>
</li>
<li></li>
#{/list}
</ul>
      </li>
    </ul>
</div>
#{list items:0..count.size()-1, as:'c'}
#{if count.get(c)==3}
<script type="text/javascript">
//$('#1_' + '${c}').html('Unblock from viewing');
//$('#2_' + '${c}').html('Unblock from using');
document.getElementById('1_${c}').value="Unblock from viewing";
document.getElementById('2_${c}').value="Unblock from using";
document.getElementById('2_${c}').disabled = true;
</script>
#{/if}
#{if count.get(c)==2}
<script type="text/javascript">
//$('#1_' + '${c}').html('Block from viewing');
//$('#2_' + '${c}').html('Unblock from using');
document.getElementById('1_${c}').value="Block from viewing";
document.getElementById('2_${c}').value="Unblock from using";
</script>
#{/if}
#{if count.get(c)==1}
<script type="text/javascript">
document.getElementById('1_${c}').value="Unblock from viewing";
document.getElementById('2_${c}').value="Block from using";
//$('#1_' + '${c}').html('Unblock from viewing');
//$('#2_' + '${c}').html('Block from using');

document.getElementById('2_${c}').disabled = true;
</script>
#{/if}
#{if count.get(c)==0}
<script type="text/javascript">
//$('#1_' + '${c}').html('Block from viewing');
//$('#2_' + '${c}').html('Block from using');
document.getElementById('1_${c}').value="Block from viewing";
document.getElementById('2_${c}').value="Block from using";
</script>
#{/if}
#{/list}
#{/else}



<script src = "@{'/public/javascripts/jquery-1.5.2.min.js'}" type = "text/javascript">

	</script>
	
<script type="text/javascript">

function hide(i){
	$('#1_' + i).show();
	$('#2_' + i).show();
	$('#10_'+i).show();
	$('#9_' + i).hide();
	
}

function view(i){
	$('#1_' + i).hide();
	$('#2_' + i).hide();
	$('#3_' + i).hide();
	$('#4_' + i).hide();
	$('#5_' + i).hide();
	$('#6_' + i).hide();
	$('#7_' + i).hide();
	$('#8_' + i).hide();
	$('#10_' + i).hide();
	$('#9_' + i).show();
}

function show(userId,type,numId,id,i){
		var cancel1=0;
		var cancel2=0;
		 
	if ( type==0 ) {
		        
		       var text=document.getElementById('1_'+i).value;
			    if (text == "Block from viewing") {
			
                     var textarea = $('#6_' + i);
					 textarea.show();
					 $('#3_' + i).show();
					  $('#3_' + i).html('<font  size ="2"><i>please specify the reason</i></font>');
					 
					 $('#8_' + i).show();
					 $('#5_' + i).show();
					 document.getElementById('1_' + i).disabled = true;
					 document.getElementById('2_' + i).disabled = true;
					 
					 	$('#5_' + i).click(function(){
						    $('#8_' + i).hide();
						     textarea.hide();
							 $('#3_' + i).hide();
						    document.getElementById('1_' + i).disabled = false;
					        document.getElementById('2_' + i).disabled = false;
							cancel1=1;
							 return;
						});
						
					 $('#8_' + i).click(function(){ 
					    if (cancel1 == 1) {
							return;
						}
					if ( document.getElementById('6_' + i).value== '') {
						$('#3_' + i).html('<font color="red"  size ="2"><i>please specify the reason</i></font>')
	                
					
					}else{
						document.getElementById('1_' + i).value = "Unblock from viewing";
						//$('#1_' + i).html('Unblock from viewing');
						document.getElementById('2_' + i).disabled = true;
						var message = textarea.val();
						$.post('@{block()}', {
							userId: userId,
							type: type,
							numId: numId,
							id: id,
							text: text,
							message: message
						}, function(){
							$('#8_' + i).hide();
							textarea.hide();
							$('#3_' + i).hide();
							$('#5_' + i).hide();
							document.getElementById('1_' + i).disabled = false;
						});
						
						 
					}
                     
                    });
					
				
                    
				}
				else{
					
				//	$('#1_' + i).html('Block from viewing');
					document.getElementById('1_' + i).value = "Block from viewing";
					document.getElementById('2_' + i).disabled = false;
					var message=document.getElementById('1_'+i).value;
					$.post('@{block()}', {userId :userId,
					type:type,
					numId:numId,
					id:id,
					text:text,
					message:message},
			         function()
			          {
			   
			          });
				}
		
	}
	else {
		   var text=document.getElementById('2_'+i).value;
		    if (text == "Block from using") {
				 	
					var textarea = $('#6_' + i);
					 textarea.show();
					  $('#3_' + i).show();
					  $('#3_' + i).html('<font  size ="2"><i>please specify the reason</i></font>');
					 
					 $('#7_' + i).show();
					 $('#5_' + i).show();
					 document.getElementById('1_' + i).disabled = true;
					 document.getElementById('2_' + i).disabled = true;
					
					
						$('#5_' + i).click(function(){
						    $('#7_' + i).hide();
							 $('#5_' + i).hide();
						     textarea.hide();
							 $('#3_' + i).hide();
						    document.getElementById('1_' + i).disabled = false;
					        document.getElementById('2_' + i).disabled = false;
							cancel2=1;
							 return;
						});
						
					 $('#7_' + i).click(function(){
					 	 if (cancel2 == 1) {
						 	return;
						 }
						if (document.getElementById('6_' + i).value == '') {
							$('#3_' + i).html('<font color="red"  size ="2"><i>please specify the reason</i></font>')
							
							
						}
						else {
							document.getElementById('2_' + i).value = "Unblock from using";
							var message = textarea.val();
							$.post('@{block()}', {
								userId: userId,
								type: type,
								numId: numId,
								id: id,
								text: text,
								message: message
							}, function(){
								$('#7_' + i).hide();
								textarea.hide();
								$('#5_' + i).hide();
								$('#3_' + i).hide();
								document.getElementById('1_' + i).disabled = false;
								document.getElementById('2_' + i).disabled = false;
								
							});
						}
                    });
					
				
				
					
				 }
				 else{
				 	  	
					document.getElementById('2_'+i).value = "Block from using";
					var message=document.getElementById('1_'+i).value;
					$.post('@{block()}', {userId :userId,
					type:type,
					numId:numId,
					id:id,
					text:text,
					message:message},
			 function()
			 {
			     
				
			     
			});
				 }
		
	}
}

</script>

