#{extends 'Login/index.html' /} #{set title:'View Restricted Organizers' /}
<form action="@{Organizations.viewProfile()}">
            <input type="hidden" name="id" value='${organizationID}'>
           <input type="submit" style="background-color:lightblue" value="Back to the organization main profile">
 </form>
<br />


#{if sortedByTopic.isEmpty()}
<font face="Monotype Corsiva, Verdana" size="6" color="#2B60DE">
	<b> There are no restricted organizers !!</b> </font>

#{/if} #{else}
<form>
	<input type="radio" id="Entity" name="select" value="Entity"
		onclick="createEntityTable()" /> Sort by Topic Title <br /> <input
		type="radio" id="User" name="select" value="User"
		onclick="createUserTable()" /> Sort by User Name <br /> <input
		type="radio" id="Action" name="select" value="Action"
		onclick="createActionTable()" /> Sort by Action Restricted from <br />


</form>

<form name="sortedByEntity" id="entityName">

	<table border="1">

		<tbody>
			<tr>
				<td>Topic Title</td>
				<td>User's Name</td>
				<td>Action Restricted From</td>
			</tr>
		</tbody>


	</table>

</form>



#{/else}

<script>
 
 
 
 var first = true;
 
 
 
 function createActionTable(){
	 
	 
	 
	 if(first == false){
		 for( var i  = 0 ; i <${sortByActionInTopic.size()} +1 ; i++){
		 try {       
//	 		   var table = document.getElementsById("u");      
//	 			var rowCount = table.rows.length;           
//	 			for(var i=0; i<rowCount; i++) {           
//	 				var row = table.rows[i];             
//	 				var chkbox = row.cells[0].childNodes[0];     
//	 				if(null != chkbox && true == chkbox.checked) {        
//	 					table.deleteRow(i);             
//	 					rowCount--;               
//	 					i--;              
//	 					}          
//	 				}        

	              

	    theTableBody = document.getElementsByTagName("TBODY").item(0);
	    theTableBody.deleteRow(0);
	   
	

//	 		 tabBody=document.getElementsByTagName("TBODY").item(0);
//	 		 tabBody.removeChild(row);
	               }

				
				catch(e) {       
					alert(e);       
					}      
		 
		 }
		 
		 
		 if (!document.getElementsByTagName) return;
	     tabBody=document.getElementsByTagName("TBODY").item(0);
	     row=document.createElement("TR");
	     cell1 = document.createElement("TD");
	     cell2 = document.createElement("TD");
	     cell3 = document.createElement("TD");
	     textnode1=document.createTextNode("Topic Title");
	     textnode2=document.createTextNode("User's Name");
	     textnode3=document.createTextNode("Action restricted from");
	     cell1.appendChild(textnode1);
	     cell2.appendChild(textnode2);
	     cell3.appendChild(textnode3);
	     row.appendChild(cell1);
	     row.appendChild(cell2);
	     row.appendChild(cell3);
	     tabBody.appendChild(row);
		 
		 }
		 else{
			 
			 first = false;
			 
		 }
	 
	 
	 
	 
	 var username = "";
		var actionToDo = "";
		var ID = "";
		 var content = "";
	
	
	
	for( var i  = 0 ; i <${sortedByTopic.size()} ; i++){
		
		
			
		$.getJSON( '@{BannedUsers.go()}', {order:i ,organizationID  : ${organizationID } , number:4 , type:"topic" } ,  function(data) {
			
			username = data.name;
		 
		 actionToDo = data.action;
		 ID = data.resourceId;
		
		 content = data.namee;
			
			if (!document.getElementsByTagName) return;
	         tabBody=document.getElementsByTagName("TBODY").item(0);
	         row=document.createElement("TR");
	         cell1 = document.createElement("TD");
	         cell2 = document.createElement("TD");
	         cell3 = document.createElement("TD");
	         textnode1=document.createTextNode(content);
	         textnode2=document.createTextNode(username);
	         textnode3=document.createTextNode(actionToDo);
	         cell1.appendChild(textnode1);
	         cell2.appendChild(textnode2);
	         cell3.appendChild(textnode3);
	         row.appendChild(cell1);
	         row.appendChild(cell2);
	         row.appendChild(cell3);
	         tabBody.appendChild(row);
		 
		 
		});


		
		}
	
	
	 
 }
 
	 
 
 
 
 
 function createEntityTable(){
	 
	 
	 
	 
	 
	 if(first == false){
		 for( var i  = 0 ; i <${sortedByTopic.size()} +1 ; i++){
		 try {       
//	 		   var table = document.getElementsById("u");      
//	 			var rowCount = table.rows.length;           
//	 			for(var i=0; i<rowCount; i++) {           
//	 				var row = table.rows[i];             
//	 				var chkbox = row.cells[0].childNodes[0];     
//	 				if(null != chkbox && true == chkbox.checked) {        
//	 					table.deleteRow(i);             
//	 					rowCount--;               
//	 					i--;              
//	 					}          
//	 				}        

	              

	    theTableBody = document.getElementsByTagName("TBODY").item(0);
	    theTableBody.deleteRow(0);
	   
	

//	 		 tabBody=document.getElementsByTagName("TBODY").item(0);
//	 		 tabBody.removeChild(row);
	               }

				
				catch(e) {       
					alert(e);       
					}      
		 
		 }
		 
		 
		 if (!document.getElementsByTagName) return;
	     tabBody=document.getElementsByTagName("TBODY").item(0);
	     row=document.createElement("TR");
	     cell1 = document.createElement("TD");
	     cell2 = document.createElement("TD");
	     cell3 = document.createElement("TD");
	     textnode1=document.createTextNode("Topic Title");
	     textnode2=document.createTextNode("User's Name");
	     textnode3=document.createTextNode("Action restricted from");
	     cell1.appendChild(textnode1);
	     cell2.appendChild(textnode2);
	     cell3.appendChild(textnode3);
	     row.appendChild(cell1);
	     row.appendChild(cell2);
	     row.appendChild(cell3);
	     tabBody.appendChild(row);
		 
		 }
		 else{
			 first = false;
		 }
	 
	 
	 
	 
	// alert("updating");
		
		 var username = "";
		var actionToDo = "";
		var ID = "";
		 var content = "";
	
	
	
	for( var i  = 0 ; i <${sortedByTopic.size()} ; i++){
 		
		
			
		$.getJSON( '@{BannedUsers.go()}', {order:i ,organizationID  : ${organizationID } , number:5 , type:"topic" } ,  function(data) {
			
			username = data.name;
		 
		 actionToDo = data.action;
		 ID = data.resourceId;
		
		 content = data.namee;
			
			if (!document.getElementsByTagName) return;
	         tabBody=document.getElementsByTagName("TBODY").item(0);
	         row=document.createElement("TR");
	         cell1 = document.createElement("TD");
	         cell2 = document.createElement("TD");
	         cell3 = document.createElement("TD");
	         textnode1=document.createTextNode(content);
	         textnode2=document.createTextNode(username);
	         textnode3=document.createTextNode(actionToDo);
	         cell1.appendChild(textnode1);
	         cell2.appendChild(textnode2);
	         cell3.appendChild(textnode3);
	         row.appendChild(cell1);
	         row.appendChild(cell2);
	         row.appendChild(cell3);
	         tabBody.appendChild(row);
		 
		 
		});
 
  
		
		}
	
	 
 }
 
 function createUserTable(){
	 
	 
	 if(first == false){
	 for( var i  = 0 ; i <${sortByUserInTopic.size()} +1 ; i++){
	 try {       
// 		   var table = document.getElementsById("u");      
// 			var rowCount = table.rows.length;           
// 			for(var i=0; i<rowCount; i++) {           
// 				var row = table.rows[i];             
// 				var chkbox = row.cells[0].childNodes[0];     
// 				if(null != chkbox && true == chkbox.checked) {        
// 					table.deleteRow(i);             
// 					rowCount--;               
// 					i--;              
// 					}          
// 				}        

              

    theTableBody = document.getElementsByTagName("TBODY").item(0);
    theTableBody.deleteRow(0);
   


// 		 tabBody=document.getElementsByTagName("TBODY").item(0);
// 		 tabBody.removeChild(row);
               }

			
			catch(e) {       
				alert(e);       
				}      
	 
	 }
	 
	 
	 if (!document.getElementsByTagName) return;
     tabBody=document.getElementsByTagName("TBODY").item(0);
     row=document.createElement("TR");
     cell1 = document.createElement("TD");
     cell2 = document.createElement("TD");
     cell3 = document.createElement("TD");
     textnode1=document.createTextNode("Topic Title");
     textnode2=document.createTextNode("User's Name");
     textnode3=document.createTextNode("Action restricted from");
     cell1.appendChild(textnode1);
     cell2.appendChild(textnode2);
     cell3.appendChild(textnode3);
     row.appendChild(cell1);
     row.appendChild(cell2);
     row.appendChild(cell3);
     tabBody.appendChild(row);
	 
	 }
	 else{
		 first = false;
	 }
	 
	 var username = "";
		var actionToDo = "";
		var ID = "";
		 var content = "";
	
	
	
	for( var i  = 0 ; i <${sortedByTopic.size()} ; i++){
		
		
			
		$.getJSON( '@{BannedUsers.go()}', {order:i ,organizationID  : ${organizationID } , number:6 , type:"topic" } ,  function(data) {
			
			username = data.name;
		 
		 actionToDo = data.action;
		 ID = data.resourceId;
		
		 content = data.namee;
			
			if (!document.getElementsByTagName) return;
	         tabBody=document.getElementsByTagName("TBODY").item(0);
	         row=document.createElement("TR");
	         cell1 = document.createElement("TD");
	         cell2 = document.createElement("TD");
	         cell3 = document.createElement("TD");
	         textnode1=document.createTextNode(content);
	         textnode2=document.createTextNode(username);
	         textnode3=document.createTextNode(actionToDo);
	         cell1.appendChild(textnode1);
	         cell2.appendChild(textnode2);
	         cell3.appendChild(textnode3);
	         row.appendChild(cell1);
	         row.appendChild(cell2);
	         row.appendChild(cell3);
	         tabBody.appendChild(row);
		 
		 
		});


		
		}
	
		}
	 
 

 </script>

