<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Notification System</title>
<h1> <center><b><i>Notification API</i></b></center></h1>

</head>

<body>
<p>This is the required notification API</p>

<form action="@{Notifications.sendNotify()}" method = "post">
<u><i> the list of users required to receive a notification</i></u>
<br></br>
<br></br>
<i>just for testing my task</i>
&nbsp;
User Name: <input type="text" name="directed"/>
<br></br>
<b>Notifiable ID: </b> <input type="text" name="notId"> 
<br></br>
<b>Notifiable Type: </b> <input type="text" name="type"/>
<p><b>Description: </b></p>
<!-- <input type="text" name="desc"  style="width:400px; height:150px"/> -->
<textarea name="description" rows="10" cols="40" ></textarea>
<br></br>
<i>Send a notification: </i><input type="submit" value="Send"/>
</form>
<a href="@{Login.homePage()}">Home Page</a>
</body>
</html>