
#{extends 'main.html' /}
#{set title:'Choose action to restrict from' /}


<script type="text/javascript">
function show_alert()
{
alert("Changes Saved :)");
window.location.reload();
}
</script>




#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{if entityActions.isEmpty() || entityActions == null}
  <p style="color:#c00"> Sorry No Actions found !! </p>
#{/if}
#{else}
#{form @BannedUsers.restrictOrganizerHelper5(), method:'POST', id:'creationForm',onsubmit: 'return show_alert()',
       enctype:'multipart/form-data' }
  #{list items:entityActions, as:'action'}
<input id = "1" type="radio" name="actionToDo" value = "ay 7aga"> ${action}<br /> <br />
#{/list}
<input type = "hidden" name = "type" value = "entity" >
<input type = "hidden" name = "entityTopicId" value = ${entityId} >
<input type = "hidden" name = "userId" value = ${userId} >

<input type="submit" value="Restrict">
#{/form}
#{/else}