
#{extends 'main.html' /}
#{set title:'Restrict Organizer' /}





<input type="submit" style="background-color:lightblue" align = "Right" value="Start new Restriction / De-Restriction Process"  onclick="Restart()" > <br /> <br />

#{if users.isEmpty()}
  <p style="color:#c00"> No Organizers Found </p>
#{/if}
#{else}

<form name = "organizer">
<fieldset>  
<legend><font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Users set: </u></b></font></legend> <br />
       <select name = "userId" id = "userss">
  #{list items:users, as:'user'}
  
  <option name = ${user.id} value=${user.id}>${user.firstName} ${user.lastName}</option>
  
   #{/list}
        </select>
</fieldset>
</form>
<br />

#{/else}


<input id = "topicBtn" type="submit" value="Submit topic" onclick = "getTopicActions()">
      
<br />

<hr> <br />

 <form id = "enabledActions" name = "actionsList" >

    <p> <font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Actions that the organizer is not restricted from : </u></b></font></p>
       
</form>
<br />
<input type="submit" id = "restrictBtn" value="Restrict" onclick = "restrict()">


<br />
<hr> <br />


 <form id = "disabledActions" name = "disabledActionsList" >

    <p> <font face="Monotype Corsiva, Verdana" size="5" color="#2B60DE">
    <b><u> Actions that the organizer is restricted from : </u></b></font></p>
       
</form>

<input type="submit" id = "deRestrictBtn" value="De-Restrict" onclick = "deRestrict()"> <br /> <br />

<input type="submit" style="background-color:lightblue" value="Start new Restriction / De-Restriction Process" align = "Right" onclick="Restart()" >


<script >
var restActions = {};
var userID = 0;
var entityID = 0;
var topicID = ${topicId};
var topicFlag = true;
var organizationID = ${organizationID};
var submitTopicBtnFlag = false;


function Restart(){
	
	window.location.reload();
}


  function getTopicActions(){
	  
	  if(submitTopicBtnFlag == false ){
		  submitTopicBtnFlag = true;
	 
		 	 userID = document.getElementById('userss').value;
	 
	  $.getJSON( '@{BannedUsers.topicActions()}', { topicId: topicID ,userId: userID} ,  function(data) { 
			
		    
		     var actions={};
	        actions=data.topicsActions.split(",");
	         var  restrictedActions = {};
	         restrictedActions = data.restrictedTopicActions.split(",");
	        
	        for( var i = 0 ; i < actions.length-1 ; i++){
		     
	        	var text = actions[i];
	        	$('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
		    
	        }
	        
	        
	        for( var i = 0 ; i < restrictedActions.length-1 ; i++){
			     
	        	var text = restrictedActions[i];
	        	$('#disabledActions').append('<input type="checkbox" id = "dc" name = "actionNotToDo"  value = "'+text+'" class = "enabled"/> ' + text + '<br />'); 
		    
	        }
	        $('#enabledActions').show();
	        $('#restrictBtn').show();
	        $('#disabledActions').show();
	        $('#deRestrictBtn').show();
		
		});
	  
  }
	  else{
		  alert("Oops You have changed the selection criteria. The process will restart !!");
			window.location.reload();
		  
	  }
	  
  }

	
function getSelectedCheckboxValue(buttonGroup) {
	   // return an array of values selected in the check box group. if no boxes
	   // were checked, returned array will be empty (length will be zero)
	   var retArr = new Array(); // set up empty array for the return values
	   var selectedItems = getSelectedCheckbox(buttonGroup);
	   if (selectedItems.length != 0) { // if there was something selected
	      retArr.length = selectedItems.length;
	      for (var i=0; i<selectedItems.length; i++) {
	         if (buttonGroup[selectedItems[i]]) { // Make sure it's an array
	            retArr[i] = buttonGroup[selectedItems[i]].value;
	         } else { // It's not an array (there's just one check box and it's selected)
	            retArr[i] = buttonGroup.value;// return that value
	         }
	      }
	   }
	   return retArr;
	} // Ends the "getSelectedCheckBoxValue" function
	
	function getSelectedCheckbox(buttonGroup) {
		   // Go through all the check boxes. return an array of all the ones
		   // that are selected (their position numbers). if no boxes were checked,
		   // returned array will be empty (length will be zero)
		   var retArr = new Array();
		   var lastElement = 0;
		   if (buttonGroup[0]) { // if the button group is an array (one check box is not an array)
		      for (var i=0; i<buttonGroup.length; i++) {
		         if (buttonGroup[i].checked) {
		            retArr.length = lastElement;
		            retArr[lastElement] = i;
		            lastElement++;
		         }
		      }
		   } else { // There is only one check box (it's not an array)
		      if (buttonGroup.checked) { // if the one check box is checked
		         retArr.length = lastElement;
		         retArr[lastElement] = 0; // return zero as the only array value
		      }
		   }
		   return retArr;
		} // Ends the "getSelectedCheckbox" function




	
	function restrict(){
		
		var field = document.actionsList.actionToDo;
		//alert("restrictedActions.length" + field.length);
		var restrictedActions = getSelectedCheckboxValue(field);
		

      
		
		if(restrictedActions.length == 0 ) {
			alert("You did not even choose a single action !!!");
		} else {
			
			var r=confirm("Are You sure you want to proceed ? ");
			if (r == true) {
				
					$.post('@{BannedUsers.restrictFinal()}', {actionToDo:restrictedActions ,type: "topic",
						entityTopicId: topicID, userId:userID});
	
				var selected ={};
				selected = getSelectedCheckbox(field);
					for( var i = 0 ; i < field.length ; i++){
				    	  if(field[i].checked){
				    		  field[i].disabled = true;
				              field[i].checked = false;

				    		  $('#disabledActions').append('<input type="checkbox" id = "dc" name = "actionNotToDo"  value = "'+field[i].value+'" class = "enabled"/> ' + field[i].value + '<br />'); 
				    	  }
				      }
				
									
			} 
			
			else {
				window.location.reload();
			}	
			
	     }
	
		}
		
		
		function deRestrict(){
	
			
			var field2 = document.disabledActionsList.actionNotToDo;
			var enabledActions = getSelectedCheckboxValue(field2);
			
			

			if(enabledActions.length == 0 ) {
				alert("You did not even choose a single action !!!");
			} else {
				
				var r=confirm("Are You sure you want to proceed ? ");
				if (r == true) {
					
						
						$.post('@{BannedUsers.deRestrict()}', { userId:userID, actionsRestricted:enabledActions ,entityTopicID: topicID,type: "topic"});
						
					
					var selected = getSelectedCheckbox(field2);
					
					if(field2[0]){
						for( var i = 0 ; i < field2.length ; i++){
					    	  if(field2[i].checked){
					    		 
					    		  field2[i].disabled = true;
					              field2[i].checked = false;
                                
					    		  $('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+field2[i].value+'" class = "enabled"/> ' + field2[i].value + '<br />'); 
					    	  }
					      }
					
					}
					else{
						
						
						if(field2.checked){
							field2.disabled = true;
							field2.checked = false;
							$('#enabledActions').append('<input type="checkbox" id = "c" name = "actionToDo"  value = "'+field2.value +'" class = "enabled"/> ' + field2.value + '<br />'); 
							
						}
					}
						
										
				} 
				
				else {
					window.location.reload();
				}	
				
		     }
			
		}
	
	
	

</script>

<script type="text/javascript"> 
	
	$(function(){
		$('#restrictBtn').hide();
	});
	
	
	$(function(){
		$('#disabledActions').hide();
	});
	$(function(){
		$('#deRestrictBtn').hide();
	});
	
</script>
<script type="text/javascript"> 
	
	$(function(){
		$('#enabledActions').hide();
	});
</script>
