<!-- @author : Mai Magdy -->
#{extends 'main.html' /}

<a href="@{Login.homePage()}">Back to Home</a>
<hr>          </hr>

<u><font size ="5" color ="blue">Idea Developers Enrolled</font></u>
<br/>
<br/>
<table border="0" bgcolor="#ececec" cellspacing="5">
#{if users.isEmpty()}
</table>
<tr><td><u><font size ="3" color ="black">No user Found</font></u></td><td>
#{/if}
#{else}
#{list items:0..users.size()-1, as:'u'} 
<html>
<table border="0" bgcolor="#ececec" cellspacing="5" >

<tr><td><font size ="3" color ="black">Name  : ${users.get(u).firstName}</font></td><td>
<tr><td><font size ="3" color ="black">Email  : ${users.get(u).email}</font></td><td>

<tr><td><input type="button" onclick="javascript: show('${users.get(u).id}',0,'${object.id}','${num}','${u}');" id="1_${u}" />
<input type="button" onclick="javascript: show('${users.get(u).id}',1,'${object.id}','${num}','${u}');"  id="2_${u}" /> 
<div id="3_${u}" ></div>
<textarea rows="2" cols="20" id="6_${u}" style="display:none"></textarea>
<input type="submit" id="4_${u}"  value="block" style="display:none">
<input type="submit" id="7_${u}"  value="block" style="display:none">
<input type="submit" id="5_${u}"  value="cancel" style="display:none">
</td><td> 
</table>

</html>
<br/>
<br/>

#{/list}
#{list items:0..count.size()-1, as:'c'}
#{if count.get(c)==3}
<script type="text/javascript">
document.getElementById('1_${c}').value="Unblock from viewing";
document.getElementById('2_${c}').value="Unblock from using";
document.getElementById('2_${c}').disabled = true;
</script>
#{/if}
#{if count.get(c)==2}
<script type="text/javascript">
document.getElementById('1_${c}').value="Block from viewing";
document.getElementById('2_${c}').value="Unblock from using";
</script>
#{/if}
#{if count.get(c)==1}
<script type="text/javascript">
document.getElementById('1_${c}').value="Unblock from viewing";
document.getElementById('2_${c}').value="Block from using";
document.getElementById('2_${c}').disabled = true;
</script>
#{/if}
#{if count.get(c)==0}
<script type="text/javascript">
document.getElementById('1_${c}').value="Block from viewing";
document.getElementById('2_${c}').value="Block from using";
</script>
#{/if}
#{/list}
#{/else}



<script src = "@{'/public/javascripts/jquery-1.5.2.min.js'}" type = "text/javascript">

	</script>
	
<script type="text/javascript">

function show(userId,type,numId,id,i){
	    
		   
	if ( type==0 ) {
		        
		       var text=document.getElementById('1_'+i).value;
			    if (text == "Block from viewing") {
                     var textarea = $('#6_' + i);
					 textarea.show();
					 $('#3_' + i).show();
					  $('#3_' + i).html('<font  size ="2"><i>please specify the reason</i></font>');
					 
					 $('#4_' + i).show();
					 $('#5_' + i).show();
					 document.getElementById('1_' + i).disabled = true;
					 document.getElementById('2_' + i).disabled = true;
					 
					 $('#4_' + i).click(function(){ 
					 
					if ( document.getElementById('6_' + i).value== '') {
						$('#3_' + i).html('<font color="red"  size ="2"><i>please specify the reason first</i></font>')
	                
					
					}else{
						alert("User has been blocked from viewing");
						document.getElementById('1_' + i).value = "Unblock from viewing";
						document.getElementById('2_' + i).disabled = true;
						var message = textarea.val();
						$.post('@{block()}', {
							userId: userId,
							type: type,
							numId: numId,
							id: id,
							text: text,
							message: message
						}, function(){
							$('#4_' + i).hide();
							textarea.hide();
							$('#3_' + i).hide();
							$('#5_' + i).hide();
							document.getElementById('1_' + i).disabled = false;
							
						});
					}
                     
                    });
					
					$('#5_' + i).click(function(){
						    $('#4_' + i).hide();
							 $('#5_' + i).hide();
						     textarea.hide();
							 $('#3_' + i).hide();
						    document.getElementById('1_' + i).disabled = false;
					        document.getElementById('2_' + i).disabled = false;
						});
                    
				}
				else{
					
					alert("User has been unblocked from viewing");
					document.getElementById('1_' + i).value = "Block from viewing";
					document.getElementById('2_' + i).disabled = false;
					var message=document.getElementById('1_'+i).value;
					$.post('@{block()}', {userId :userId,
					type:type,
					numId:numId,
					id:id,
					text:text,
					message:message},
			         function()
			          {
			   
			          });
				}
		
	}
	else {
		   var text=document.getElementById('2_'+i).value;
		    if (text == "Block from using") {
				 	
					var textarea = $('#6_' + i);
					 textarea.show();
					  $('#3_' + i).show();
					  $('#3_' + i).html('<font  size ="2"><i>please specify the reason</i></font>');
					 
					 $('#7_' + i).show();
					 $('#5_' + i).show();
					 document.getElementById('1_' + i).disabled = true;
					 document.getElementById('2_' + i).disabled = true;
					
					 $('#7_' + i).click(function(){
					 	
						if (document.getElementById('6_' + i).value == '') {
							$('#3_' + i).html('<font color="red"  size ="2"><i>please specify the reason first</i></font>')
							
							
						}
						else {
							alert("User has been blocked from using");
							document.getElementById('2_' + i).value = "Unblock from using";
							var message = textarea.val();
							$.post('@{block()}', {
								userId: userId,
								type: type,
								numId: numId,
								id: id,
								text: text,
								message: message
							}, function(){
								$('#7_' + i).hide();
								textarea.hide();
								$('#5_' + i).hide();
								$('#3_' + i).hide();
								document.getElementById('1_' + i).disabled = false;
								document.getElementById('2_' + i).disabled = false;
								
							});
						}
                    });
					
					
					$('#5_' + i).click(function(){
						    $('#7_' + i).hide();
							 $('#5_' + i).hide();
						     textarea.hide();
							 $('#3_' + i).hide();
						    document.getElementById('1_' + i).disabled = false;
					        document.getElementById('2_' + i).disabled = false;
						});
					
				 }
				 else{
				 	  	
						alert("User has been unblocked from using");
				 	document.getElementById('2_'+i).value = "Block from using";
					var message=document.getElementById('1_'+i).value;
					$.post('@{block()}', {userId :userId,
					type:type,
					numId:numId,
					id:id,
					text:text,
					message:message},
			 function()
			 {
			     
				
			     
			});
				 }
		
	}
}

</script>

