#{extends 'Login/index.html' /} #{set title:'View Restricted Organizers' /}

        <img src="/public/images/arrow_prev.gif"/> <a href = "@{Organizations.viewProfile(organizationID)}" name = "back" type="submit" style="color:blue " onmouseout = "back.style.color='blue'" onmouseover="back.style.color='darkblue'">Back to the organization main profile</a>
 
<br /> <br/>


#{if topicBannedUsers.isEmpty()}
<font face="Monotype Corsiva, Verdana" size="6" color="#2B60DE">
	<b> There are no restricted organizers !!</b> </font>

#{/if} #{else}
<form>
	<input type="radio" id="Entity" name="select" value="Entity"
		onclick="createEntityTable()" /> Sort by Topic Title <br /> <input
		type="radio" id="User" name="select" value="User"
		onclick="createUserTable()" /> Sort by User Name  <br />
		 <input type="radio" id="Action" name="select" value="Action"
		onclick="createActionTable()" /> Sort by Action Restricted from <br />


</form>
<div  align="center">
<img id = "loading" src="/public/images/loading.gif" alt="[loading]"/> 
</div>
<div id = "break">
<br /> <br /> <br /> 
</div>

<br /> <br />
<form name="sortedByEntity" id="entityName" >

	<table border="1" BORDERCOLOR=lightblue>

		<tbody>
			<tr>
				<td><font face="Monotype Corsiva, Verdana" size="5"
					color="#2B60DE"> <b> Topic Title  </b> </font></td>
				<td><font face="Monotype Corsiva, Verdana" size="5"
					color="#2B60DE"> <b> User's Name  </b> </font></td>
				<td><font face="Monotype Corsiva, Verdana" size="5" 
				color="#2B60DE"><b> Action Restricted From  </b></font></td>
			</tr>
		</tbody>


	</table>

</form>



#{/else}

<script>
 
 
 
 var first = true;
 
 
 
 function createActionTable(){
	 
	 $('#break').hide()       
			$('#loading').show(1)
			
	 
	 if(first == false){
		 for( var i  = 0 ; i <${topicBannedUsers.size()} ; i++){
		 try {       
//	 		   var table = document.getElementsById("u");      
//	 			var rowCount = table.rows.length;           
//	 			for(var i=0; i<rowCount; i++) {           
//	 				var row = table.rows[i];             
//	 				var chkbox = row.cells[0].childNodes[0];     
//	 				if(null != chkbox && true == chkbox.checked) {        
//	 					table.deleteRow(i);             
//	 					rowCount--;               
//	 					i--;              
//	 					}          
//	 				}        

	              

	    theTableBody = document.getElementsByTagName("TBODY").item(0);
	    theTableBody.deleteRow(1);
	   
	

//	 		 tabBody=document.getElementsByTagName("TBODY").item(0);
//	 		 tabBody.removeChild(row);
	               }

				
				catch(e) {       
					alert(e);       
					}      
		 
		 }
		 
		 
		 if (!document.getElementsByTagName) return;
// 	     tabBody=document.getElementsByTagName("TBODY").item(0);
// 	     row=document.createElement("TR");
// 	     cell1 = document.createElement("TD");
// 	     cell2 = document.createElement("TD");
// 	     cell3 = document.createElement("TD");
// 	     textnode1=document.createTextNode("Topic Title");
// 	     textnode2=document.createTextNode("User's Name");
// 	     textnode3=document.createTextNode("Action restricted from");
// 	     cell1.appendChild(textnode1);
// 	     cell2.appendChild(textnode2);
// 	     cell3.appendChild(textnode3);
// 	     row.appendChild(cell1);
// 	     row.appendChild(cell2);
// 	     row.appendChild(cell3);
// 	     tabBody.appendChild(row);
		 
		 }
		 else{
			 
			 first = false;
			 
		 }
	 
	 
	 
	 
	 var username = "";
		var actionToDo = "";
		var ID = "";
		 var content = "";
	
	
	
	for( var i  = 0 ; i <${topicBannedUsers.size()} ; i++){
		
		
			
		$.getJSON( '@{BannedUsers.go()}', {order:i ,organizationID  : ${organizationID } , number:4 , type:"topic" } ,  function(data) {
			
			username = data.name;
		 
		 actionToDo = data.action;
		 ID = data.resourceId;
		
		 content = data.namee;
			
			if (!document.getElementsByTagName) return;
	         tabBody=document.getElementsByTagName("TBODY").item(0);
	         row=document.createElement("TR");
	         cell1 = document.createElement("TD");
	         cell2 = document.createElement("TD");
	         cell3 = document.createElement("TD");
	         textnode1=document.createTextNode(content);
	         textnode2=document.createTextNode(username);
	         textnode3=document.createTextNode(actionToDo);
	         cell1.appendChild(textnode1);
	         cell2.appendChild(textnode2);
	         cell3.appendChild(textnode3);
	         row.appendChild(cell1);
	         row.appendChild(cell2);
	         row.appendChild(cell3);
	         tabBody.appendChild(row);
		 
		 
		});


		
		}
	
	
	 $('#loading').hide(2000)
	 $('#break').show(2000)
	 
 }
 
	 
 
 
 
 
 function createEntityTable(){
	 
	 
	 
	 $('#break').hide()       
		$('#loading').show(1)
	 
	 if(first == false){
		 for( var i  = 0 ; i <${topicBannedUsers.size()} ; i++){
		 try {       
//	 		   var table = document.getElementsById("u");      
//	 			var rowCount = table.rows.length;           
//	 			for(var i=0; i<rowCount; i++) {           
//	 				var row = table.rows[i];             
//	 				var chkbox = row.cells[0].childNodes[0];     
//	 				if(null != chkbox && true == chkbox.checked) {        
//	 					table.deleteRow(i);             
//	 					rowCount--;               
//	 					i--;              
//	 					}          
//	 				}        

	              

	    theTableBody = document.getElementsByTagName("TBODY").item(0);
	    theTableBody.deleteRow(1);
	   
	

//	 		 tabBody=document.getElementsByTagName("TBODY").item(0);
//	 		 tabBody.removeChild(row);
	               }

				
				catch(e) {       
					alert(e);       
					}      
		 
		 }
		 
		 
		 if (!document.getElementsByTagName) return;
// 	     tabBody=document.getElementsByTagName("TBODY").item(0);
// 	     row=document.createElement("TR");
// 	     cell1 = document.createElement("TD");
// 	     cell2 = document.createElement("TD");
// 	     cell3 = document.createElement("TD");
// 	     textnode1=document.createTextNode("Topic Title");
// 	     textnode2=document.createTextNode("User's Name");
// 	     textnode3=document.createTextNode("Action restricted from");
// 	     cell1.appendChild(textnode1);
// 	     cell2.appendChild(textnode2);
// 	     cell3.appendChild(textnode3);
// 	     row.appendChild(cell1);
// 	     row.appendChild(cell2);
// 	     row.appendChild(cell3);
// 	     tabBody.appendChild(row);
		 
		 }
		 else{
			 first = false;
		 }
	 
	 
	 
	 
	// alert("updating");
		
		 var username = "";
		var actionToDo = "";
		var ID = "";
		 var content = "";
	
	
	
	for( var i  = 0 ; i <${topicBannedUsers.size()} ; i++){
 		
		
			
		$.getJSON( '@{BannedUsers.go()}', {order:i ,organizationID  : ${organizationID } , number:5 , type:"topic" } ,  function(data) {
			
			username = data.name;
		 
		 actionToDo = data.action;
		 ID = data.resourceId;
		
		 content = data.namee;
			
			if (!document.getElementsByTagName) return;
	         tabBody=document.getElementsByTagName("TBODY").item(0);
	         row=document.createElement("TR");
	         cell1 = document.createElement("TD");
	         cell2 = document.createElement("TD");
	         cell3 = document.createElement("TD");
	         textnode1=document.createTextNode(content);
	         textnode2=document.createTextNode(username);
	         textnode3=document.createTextNode(actionToDo);
	         cell1.appendChild(textnode1);
	         cell2.appendChild(textnode2);
	         cell3.appendChild(textnode3);
	         row.appendChild(cell1);
	         row.appendChild(cell2);
	         row.appendChild(cell3);
	         tabBody.appendChild(row);
		 
		 
		});
 
  
		
		}
	
	
	$('#loading').hide(2000)
	 $('#break').show(2000)
 }
 
 function createUserTable(){
	
	 $('#break').hide()       
		$('#loading').show(1)
		
	 
	 if(first == false){
	 for( var i  = 0 ; i <${topicBannedUsers.size()} ; i++){
	 try {       
// 		   var table = document.getElementsById("u");      
// 			var rowCount = table.rows.length;           
// 			for(var i=0; i<rowCount; i++) {           
// 				var row = table.rows[i];             
// 				var chkbox = row.cells[0].childNodes[0];     
// 				if(null != chkbox && true == chkbox.checked) {        
// 					table.deleteRow(i);             
// 					rowCount--;               
// 					i--;              
// 					}          
// 				}        

              

    theTableBody = document.getElementsByTagName("TBODY").item(0);
    theTableBody.deleteRow(1);
   


// 		 tabBody=document.getElementsByTagName("TBODY").item(0);
// 		 tabBody.removeChild(row);
               }

			
			catch(e) {       
				alert(e);       
				}      
	 
	 }
	 
	 
	 if (!document.getElementsByTagName) return;
//      tabBody=document.getElementsByTagName("TBODY").item(0);
//      row=document.createElement("TR");
//      cell1 = document.createElement("TD");
//      cell2 = document.createElement("TD");
//      cell3 = document.createElement("TD");
//      textnode1=document.createTextNode("Topic Title");
//      textnode2=document.createTextNode("User's Name");
//      textnode3=document.createTextNode("Action restricted from");
//      cell1.appendChild(textnode1);
//      cell2.appendChild(textnode2);
//      cell3.appendChild(textnode3);
//      row.appendChild(cell1);
//      row.appendChild(cell2);
//      row.appendChild(cell3);
//      tabBody.appendChild(row);
	 
	 }
	 else{
		 first = false;
	 }
	 
	 var username = "";
		var actionToDo = "";
		var ID = "";
		 var content = "";
	
	
	
	for( var i  = 0 ; i <${topicBannedUsers.size()} ; i++){
		
		
			
		$.getJSON( '@{BannedUsers.go()}', {order:i ,organizationID  : ${organizationID } , number:6 , type:"topic" } ,  function(data) {
			
			username = data.name;
		 
		 actionToDo = data.action;
		 ID = data.resourceId;
		
		 content = data.namee;
			
			if (!document.getElementsByTagName) return;
	         tabBody=document.getElementsByTagName("TBODY").item(0);
	         row=document.createElement("TR");
	         cell1 = document.createElement("TD");
	         cell2 = document.createElement("TD");
	         cell3 = document.createElement("TD");
	         textnode1=document.createTextNode(content);
	         textnode2=document.createTextNode(username);
	         textnode3=document.createTextNode(actionToDo);
	         cell1.appendChild(textnode1);
	         cell2.appendChild(textnode2);
	         cell3.appendChild(textnode3);
	         row.appendChild(cell1);
	         row.appendChild(cell2);
	         row.appendChild(cell3);
	         tabBody.appendChild(row);
		 
		 
		});


		
		}
	
	
	$('#loading').hide(2000)
	 $('#break').show(2000)
	
	
		}
	 

 

 </script>
 <script>
 $(function(){
		$('#loading').hide();
	});
 
 </script>

