<html>
    <head>
        <title>Entity View</title>
    </head>

    <body>
        #{extends 'main.html' /}
        <form name="entityForm" action="@{MainEntitys.editEntity()}" method="POST"
        onsubmit= "return validate()">
        	<input type="hidden" name="entityId" value="${entity.id}">		
			<HR>
			Entity Name: <input type="text" id="name" name="name"
			value="${entity.name}"> 
			<br />
			<label id= "nameerror"> </label><br />
			<HR>
			<p>Description:</p>
			<p><textarea id="description" name="description" rows="5" cols="50"
				>${entity.description}</textarea></p>
			<label id= "descriptionerror"> </label> <br /><br /><br />
			<HR>
			#{if entity.createRelationship}
			<input type="checkbox" id="createRelationship" name="createRelationship" checked>Allow entity to have relationships<br />
			<HR>
			#{/if}
			#{else}
			<input type="checkbox" id="createRelationship" name="createRelationship">Allow entity to have relationships<br />
			<HR>
			#{/else}
			<input type="submit" onclick="get_Value()" value = "Save">
			<HR>
				
			<script type="text/javascript">
   
	    	function validate() {
				var nm = document.getElementById("name").value;
				var ds = document.getElementById("description").value;
				var flag = 1;
				if (nm == "") {
					document.getElementById("nameerror").innerHTML = "Please insert a name";
					flag = 0;
				} else {
					document.getElementById("nameerror").innerHTML = "";
				}
				if (ds == "") {
					document.getElementById("descriptionerror").innerHTML = "Please insert a description";
					flag = 0;
				} else {
					document.getElementById("descriptionerror").innerHTML = "";
				}
				if (flag == 0)
				return false;		
			}	
			
			function get_Value() {
		var createRelationship = false;
		if(document.entityForm.createRelationship.checked) {
			createRelationship = true;
		}
		return createRelationship;
	}	
		</script>		
	</body>
</html>	