#{extends 'main.html' /}
#{set title:'View Entity Relationships' /}

<html>
	<title> View Entity Relationships </title>
	<body>
		<head>
			<p>
				#{if (entity.relationsSource.isEmpty() && entity.relationsDestination.isEmpty())}
				No relationships are available for this entity.
				#{/if}
				#{else}
				List of relationships:
				</br>
				</br>
				#{list items: entity.relationsSource, as: 'relation'}
				<li>
					<fieldset>
						<legend>
							${relation.source} ${relation.name} ${relation.destination}
						</legend>
						<form action="@{RenameEndRelationshipRequests.renameRequest(user.id, organisation.id, entity.id, 0, relation.id, 0, 1, newName)}" method="post"
						onsubmit="return validate()">
							<input type="text" id="newName" name="newName">
							<input type = "submit" value = "Request Rename">
						</form>
						<form action="@{RenameEndRelationshipRequests.deleteRequest(user.id, organisation.id, entity.id, 0, relation.id, 0, 0)}" method="post">
							<input type = "submit" value = "Request Delete">
						</form>
						#{if (canRequestRelationship == true)}
						#{/if}
					</fieldset>
				</li>
				#{/list}
				#{list items: entity.relationsDestination, as: 'relation'}
				<li>
					<fieldset>
						<legend>
							${relation.source} ${relation.name} ${relation.destination}
						</legend>
						<form action="@{RenameEndRelationshipRequests.renameRequest(user.id, organisation.id, entity.id, 0, relation.id, 0, 1, newName)}" method="post"
						onsubmit="return validate()">
							<input type="text" id="newName" name="newName">
							<input type = "submit" value = "Request Rename">
						</form>
						<form action="@{RenameEndRelationshipRequests.deleteRequest(user.id, organisation.id, entity.id, 0, relation.id, 0, 0)}" method="post">
							<input type = "submit" value = "Request Delete">
						</form>
						#{if (canRequestRelationship == true)}
						#{/if}
					</fieldset>
				</li>
				#{/list}
				#{/else}

				<script type="text/javascript">function validate() {
						var n = document.getElementById('newName').value;
						if(n == "") {
							alert("You should enter a name!");
							return false;
						}
					} </script>
		</head>
	</body>
</html>