<html>
    <head>
        <title>Entity View</title>
    </head>

    <body>
        #{extends 'main.html' /}
        
        <center><big><b>${entity.name}</b></big></center><br><br>
		
		 <br/>
    <font color="Red">
        ${message}
    </font>
    <br/>
        <p>Description:</br>
        ${entity.description}</p> 
        #{if subentities.size() > 0}
		List of subentities: <br />
        <ul style="list-style: none;">   
		#{list items:subentities, as:'subentity'}
		<li>
			<a href="@{MainEntitys.viewEntity(subentity.id)}">${subentity.name}</a>
		</li>
		#{/list}
		</ul>
		#{/if}
		#{else}
		No subentities available for this entity!
		#{/else}
		<br />
		#{if (canCreateEntity == 1)}
		<a href="@{MainEntitys.goToCreateSubEntity(org.id,entity.id)}">Create new SubEntity</a>
		#{/if}
		<br />
		#{if (entity.createRelationship == true)}
		#{if (canCreateRelationship == true)}
		<a href="@{MainEntitys.createRelation(entity.id,org.id)}">Create Relation</a>
		<br />
		#{/if}
		#{/if}
		<form action="@{MainEntitys.viewFollowers()}">
            <HR>
            	<input type="hidden" name="entityId" value="${entity.id}">
            	<input type="hidden" name="f" value="true">
            	#{if (!entity.followers.contains(user))}            
            	<p>
                Follow ${entity.name} 
                <input type="submit" value="Follow">
                <br/>
                #{/if}
                </form>
				#{if follower == true}
			<form onsubmit="unfollow('${entity.id}');" method="post">
			<p>
			Unfollow ${entity.name} <input type="submit" value="unfollow" />
			</p>	
			</form>
			#{/if}
       <form action="@{MainEntitys.viewFollowers()}">
          <input type="hidden" name="entityId" value="${entity.id}">
          <input type="hidden" name="f" value="false">
          View ${entity.name} Followers 
          <input type="submit" value="Followers">
          <br/>
          <HR>
       </form>		
		
		<p>
		
		    #{if topicList.size() > 0}
			<br />
		<p>List of Topics:</p>
        <ul style="list-style: none;">   
		#{list items:topicList, as:'topic'}
		<li>
			#{if topic.hidden == false}
			#{if canView == 1}
			<a href="@{Topics.show(topic.id)}">${topic.title}</a>
			#{/if}
			#{/if}
		</li>
		#{/list}
		</ul>
		#{/if}
		#{else}
		No topics available for this entity!
		#{/else}
		
#{if invite == 1}		
 <input type="submit" value="Invite Organizers" onclick=location.href="@{Invitations.invite(entity.id)}">
#{/if}	
		
		 #{if permission == 1}
		 <br />
<input type="submit" value="Add A Topic" onclick=location.href="@{Topics.blank(entity.id)}">
        <br />
		#{/if}
    
		#{else}
		#{if canRequest == 1}
		<br />
<input type="submit" value="Request A Topic" onclick=location.href="@{TopicRequests.blank(entity.id)}">
		<br />
		#{/if}
		#{/else}
		
		#{if (canEdit == 1)}
		<HR>
		<input type="submit" value="Edit" onclick=location.href="@{MainEntitys.editEntityPage(entity.id)}">
		<HR>	
		#{/if}
		<script type="text/javascript">
			function unfollow(id){
		$.post('@{Users.unfollowEntity()}', {
			entityId: id
		});
		alert("done!");
		location.reload(true);
	}
		</script>
    </body>
</html>

