#{extends 'main.html' /}
#{set title:'View Entity Relationships' /}

<html>
	<title> View Entity Relationships </title>
	<body>
		<head>
			<p>
				#{if (entity.relationsSource.isEmpty() && entity.relationsDestination.isEmpty())}
				No relationships are available for this entity.				
				#{/if}
				#{else}
				List of relationships:
			</br>
		</br>
		#{list items: entity.relationsSource, as: 'relation'}
		<li>
			<fieldset>
				<legend>
					${relation.source} ${relation.name} ${relation.destination}
				</legend>	
				
				#{if (canRequestRelationship == true)}					
				<form action="@{MainEntitys.renameRequest(user.id, relation.id, 1, name)}" method="post"
				onsubmit="return validate()">
				<input type="text" id="name" name="name">
				<input type = "submit" value = "Request Rename">
			</form>
			<form action="@{MainEntitys.deleteRequest(user.id, relation.id, 0)}" method="post">
				<input type = "submit" value = "Request Delete">
			</form>
			#{/if}
				
					
			</fieldset>
		</li>
		
		#{/list}
				#{/else}
					
			<script type="text/javascript">
			
			function validate() {
				var n = document.getElementById('name').value;
				if(n == "") {
					return false;
				}
			}		
			</script>
		</head>
	</body>
</html>