#{extends 'main.html' /}
#{set title:'View list of assigned items' /}
#{if assignedItems.size() > 0}<h3>Assigned Items </h3>
<ul style="list-style: none; ">
    #{list items:assignedItems, as:'assignedItem'}
    <li >
        <fieldset>
            <legend>
                Title: ${item.summary}
            </legend>
            #{if assignedItem.status == 0} 
			<input type = "button" value="Start" onClick ="startItem('${assignedItem.id}');"/> #{/if}
            #{else}<h2><input type="checkbox" ${assingnedItem.status == 1  ? 'checked':''}  onClick="toggle_task(${assignedItem.id});"/></h2>#{/else}<h2>Plan: <a href="#">${assignedItem.plan.title}</a></h2>
            <br/>
            Item Description: ${assignedItem.description}
            <br/>
            Start Date:  ${assignedItem.startDate.format('dd MMM yy')}
            <br/>
            End Date:  ${assignedItem.endtDate.format('dd MMM yy')}
            <br/>
            Assigned Users: 
            <ul style="list-style: none; ">
                #{list users:${assignedItem.assignees}, as:'assignedUser'}
                <li>
                    <a href="#">${assignedUser.username}</a>
                </li>
                #{/list}
            </ul>
        </fieldset>
    </li>
    #{/list}
</ul>
#{/if}
#{else}
You are not assigned to any to-do item.
#{/else}
