
#{set title:'View list of assigned items' /}
#{if assignedItems.size() > 0}<h3>Assigned Items </h3>
<ul style="list-style: none; ">
    #{list items:assignedItems, as:'assignedItem'}
    <li>
        <fieldset>
            <legend>
            	
				<h2>Plan: <a href="@{Plans.viewAsList(assignedItem.plan.id)}">${assignedItem.plan.title}</a></h2>
               
            </legend>
            Title: ${assignedItem.summary} &nbsp; &nbsp; &nbsp;
			#{if assignedItem.endDate.compareTo(new Date()) >= 0}
            #{if assignedItem.status == 0} 
			<input type = "button" value="Start" onclick ="javascript: start_task('${assignedItem.id}');"/> 
			#{/if}
            #{else}
			<input type="checkbox"  onclick=" javascript: toggle_task('${assignedItem.id}');" ${assignedItem.status == 1 ? '':'checked'} />
		    <label>
			#{if assignedItem.status == 1}
			<label id = "label1_${assignedItem.id}" > Your item is in progress. Mark it as done. </label>
			#{/if}
			#{else}
			<label id = "label2_${assignedItem.id}" > Your item is done. Mark it as in progress</label>
			#{/else}
			#{/else}
			</label>
			<br/>
            Item Description: ${assignedItem.description}
            <br/>
            Start Date:  ${assignedItem.startDate.format('dd MMM yy')}
            <br/>
				#{/if}
			
            End Date:  ${assignedItem.endDate.format('dd MMM yy')}
            <br/>
            Assigned Users: 
            <ul style="list-style: none; ">
                #{list items:assignedItem.getAssignees(), as:'assignedUser'}
				${assignedItem.getAssignees().size()}
                <li>
                    <a href="#">${assignedUser.username}</a>
                </li>
                #{/list}
            </ul>
        </fieldset>
    </li>
    #{/list}
</ul>
#{/if}
#{else}
You are not assigned to any to-do item.
#{/else}

<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
</script>
<script type="text/javascript">

function start_task(id)
  {
	$.post('@{startItem()}' , {id: id});
	alert("Task is now in progress. Good luck!");
	window.location.reload();
  }

function toggle_task(id)
  {
	$.post( '@{toggleItem()}' , {id: id});
	window.location.reload();
  }

</script>