<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
<table border="0" bgcolor="#ececec" cellspacing="5">
<tr><td>Dear ${user.firstName} ,</td><td>
<tr><td>Unfortunately CoolSoft has to inform you that you have been deleted by one of the admins</td><td>
<tr><td> you won't be able to use our website any longer </td><td>
<tr><td>The reason for the deletion is</td><td>
<tr><td><font color ="red">${message}</font>  </td><td>
</table>
</body>
</html>