<html>
<body>
<table border="0" bgcolor="#ececec" cellspacing="5">
<tr><td>Dear ${user.name ?: 'Guest'} ,</td><td>
<tr><td>CoolSoft would like to invite you to join our Organization' team As : </td><td>
<tr><td> "${role}" to
#{if topic!="none"} "${topic}" Topic 

<tr><td>Details :"${topic}" Topic is related to "${entity}" Entity in "${organization}" Organization</td><td>
#{/if}
#{else}"${entity}" Entity</td><td>
<tr><td>Details : "${entity}" Entity is related to "${organization}" Organization</td><td>
#{/else}
</td><td>
<tr><td>To accept/reject the invitation click on the following link :  </td><td>
</table>
</body>
</html>