<html>
<body>
<table border="0" bgcolor="#ececec" cellspacing="5">
	<tr>
		<td>Dear ${reciever.firstName} ,</td>
		<td>
	<tr>
		<td>CoolSoft would like to inform you that a Comment has been
		reported as a spam</td>
		<td>
	<tr>
		<td>The Comment with the title</td>
		<td>
	<tr>
		<td>"${comment2}"</td>
		<td>
	<tr>
		<td>and it was reported by this user</td>
		<td>
	<tr>
		<td>"${reporter}"</td>
		
		<input type="submit" value="Show the Topic" onclick=location.href="${url}">