#{extends 'Secure/layout.html' /}
#{set title:'Login' /}
<h1>Login</h1>
<div id="login">
	<form method="post" action="@{authenticate()}">
	
	#{if flash.error}
		<p class="error">
			&{flash.error}
		</p>
	#{/if}
	#{if flash.success}
		<p class="success">
			&{flash.success}
		</p>
	#{/if}
		<p id="username-field">
			<label for="username">Username</label>
			&nbsp;&nbsp;&nbsp;
			<input type="text" name="username"/>
		</p>
		<p id="password-field">
			<label for="password">Password</label>
			&nbsp;&nbsp;&nbsp;
			<input type="password" name="password" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" value="true" />
			<label for="remember">Remember me</label>
		</p>
		<p id="signin-field">
			&nbsp;&nbsp;
			<input type="submit" id="signin" value="Login" />
			<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/Security/forgotpassword">Forgot your password?</a>
		</p>
	</form>
</div>