<!--C1S6  @author : Mai Magdy -->
#{extends 'Login/index.html' /}
#{set title:'invite Page' /}

#{if type==0}
<a href="@{MainEntitys.viewEntity(entity.id)}">Back to &{entity.name}</a>
#{/if}

#{if permitted==0}
<u><font size ="3" color ="red">You are not allowed to view this page</font></u>
#{/if}
#{if permitted==1}

<br/>
<br/>
<div id="errors" style="display:true">
#{if flashError==1}
#{if flash.error}
   <b> <p style="color:red">
              <i><font size=2> ${flash.error} </font></i>
    </p></b>
#{/if}
#{/if}
#{else}
#{if flash.error}
   <b> <p style="color:green">
              <i><font size=2> ${flash.error} </font></i>
    </p></b>
#{/if}
#{/else}
</div>
<input class = "linkButton" type="button" id="back" onclick="javascript: show1();" style="display:none" value="Back to search">
<form action="@{Invitations.send()}" method="GET" >
<table border="0" bgcolor="#ececec" cellspacing="5" id="table" style="display:none">
<tr><td><u>Invite directly by writing the email </u></td></tr>
<tr><td>Email <input type="text" size="30" id="mail" name="email"></td></tr>
<input type = "hidden" id="id" name ="userId" value =0>
<input type = "hidden" name ="type" value = ${type}>
#{if type==0}
<input type = "hidden" name ="id" value = ${entity.id}>
#{/if}
#{else}
<input type = "hidden" name ="id" value = ${topic.id}>
#{/else}
<tr><td>&nbsp;</td><td><input class = "linkButton" type="submit" value="send">
</table>
</form>

<div id="block" >
<input class = "linkButton" type="button" onclick="javascript: show();" value="Invite by mail" id="button1" /> 


<form action="@{Invitations.searchUser()}" method="GET" name="myform"">
<table border="0" bgcolor="#ececec" cellspacing="5">
<tr><td><u> You can search by name/email for users to invite </u></td></tr>
<tr><td>Name <input type="text" size="20" name="name"></td></tr>
<tr><td>&nbsp;</td><td><input  class = "linkButton" type="submit" value="search">
<input type = "hidden" name ="type" value = ${type}>
#{if type==0}
<input type = "hidden" name ="id" value = ${entity.id}>
#{/if}
#{else}
<input type = "hidden" name ="id" value = ${topic.id}>
#{/else}

</table>
</form>
#{if check==1}
<div id="appear">
<br/>
<br/>
<br/>
<hr/>
<u><b><font size ="3" color ="blue">Search Result</font></b></u>
<br/>
<br/>
<table border="0" bgcolor="#ececec" cellspacing="5">
#{if usersMatched.isEmpty()}
</table>
<tr><td><u><font size ="3" color ="black">No user Found</font></u></td><td>
#{/if}
#{else}
#{list items:usersMatched, as:'u'} 
<html>
<table border="0" bgcolor="#ececec" cellspacing="5" width="20%" >

<tr><td><font size ="3" color ="black">Name  : ${u.firstName} ${u.lastName}</font></td><td>
<tr><td><font size ="3" color ="black">Username  : ${u.username}</font>
#{if type==0}
<td  align="right"><a href="@{Invitations.send(type,u.email,entity.id,u.id)}">invite</a></td></td><td>
#{/if}
#{else}
<td  align="right"><a href="@{Invitations.send(type,u.email,topic.id,u.id)}">invite</a></td></td><td>

#{/else}
</table>
</html>
<br/>
<br/>
#{/list}
#{/else}
#{/if}
</div>
</div>


#{if check==2}
<script type="text/javascript">
$('#block').hide();
	$('#table').show();
</script>
#{/if}
#{/if}

<script src = "@{'/public/javascripts/jquery-1.5.2.min.js'}" type = "text/javascript">

	</script>
	
<script type="text/javascript">

function show(){
	$('#back').show();
	$('#errors').hide();
	$('#block').hide();
	$('#table').show();
	
}
function show1(){
	$('#back').hide();
	$('#errors').hide();
	$('#block').show();
	$('#table').hide();
	$('#appear').hide();
	
}
</script>





 