<!--C1S6  @author : Mai Magdy -->
<form action="@{Invitations.send()}" method="GET">
<table border="0" bgcolor="#ececec" cellspacing="5">

#{if id==0}
<tr><td>Email</td><td><input type="text" size="30" name="email"></td></tr>
<input type = "hidden" name ="id" value =0>
#{/if}
#{else}
<input type = "hidden" name ="email" value = ${user.email}>
<input type = "hidden" name ="id" value = ${user.id}>
<tr><td>Name : ${user.firstName}</td><td>
<tr><td>Email: ${user.email}</td><td>
#{/else}

<input type = "hidden" name ="entId" value = ${entity.id}>
</td></tr>
#{if flash.error}
   <b><p style="color:#c00">
               ${flash.error}
    </p></b> 
#{/if}

<tr><td>&nbsp;</td><td><input type="submit" value=" Send Invitation ">
</table>
</form>
