<!--C1S6  @author : Mai Magdy -->
<a href="@{Application.index()}">Back to Home</a>
<hr>          </hr>

<form action="@{Invitations.Page()}" method="GET">
<u><font size ="5" color ="blue">Search Result</font></u>
<br/>
<br/>
<table border="0" bgcolor="#ececec" cellspacing="5">
#{if users.isEmpty()}
</table>
<tr><td><u><font size ="3" color ="black">No user Found</font></u></td><td>
#{/if}
#{else}
#{list items:users, as:'u'} 
<html>
<table border="0" bgcolor="#ececec" cellspacing="5" >

<tr><td><font size ="3" color ="black">Name  : ${u.name}</font></td><td>
<tr><td><font size ="3" color ="black">Email : ${u.email}</font></td><td> 
<input type = "hidden" name = "id" value = ${u.id}>
<tr><td>&nbsp;</td><td><input type="submit" value="invite">

</table>
</html>
<br/>
<br/>
#{/list}
#{/else}