<!--C1S4  @author : Mai Magdy -->
<a href="@{Application.index()}">Back to Home</a>
<hr>          </hr>

<u><font size ="5" color ="blue">Invitations</font></u>
<br/>
<br/>
<table border="0" bgcolor="#ececec" cellspacing="5">
#{if inv.isEmpty()}
</table>
<tr><td><i>No new invitations</i></td><td>
#{/if}
#{else}
#{list items:inv, as:'inn'} 
<html>
<table border="0" bgcolor="#ececec" cellspacing="5" id ="view_${inn.id}">

<tr><td><font size ="3" color ="black">From : ${inn.organization.name} Organization</font></td><td>

<tr><td><font size ="3" color ="black">You have been invited to join ${inn.organization.name} Organization</font></td><td>
<tr><td><font size ="3" color ="black"> As ${inn.role} to ${inn.entity.name} Entity</font></td><td> 

<input type="button" onclick="javascript: show(1,'${inn.id}');" value="Accept" />
<input type="button" onclick="javascript: show(0,'${inn.id}');" value="Reject" />

</table>
</html>
<br/>
<br/>
#{/list}
#{/else}


<script type="text/javascript">
	function show(choice,id){
	   
	if (choice ==1 ) {
		$.post('@{respond()}', {choice:1,id:id},
			 function()
			 {
			 	alert("hey");
			$('#view_'+id).html('<i>Invitation has been accepted<\i>');}
			);
	}
	else {
		$.post('@{respond()}', {choice:0,id:id},
			 function()
			 {
			 	
			$('#view_'+id).html('<i>Invitation has been rejected<\i>');
			});
	}
}
</script>

