<html>
    <head>
        <title>my title</title>
    </head>
    <body>
        <h1 align="Center">heading level 1 </h1>
        <h2 align="Center">heading level 2 </h2>
        <h3 align="Center">heading level 3 </h3>
        <h4 align="Center">heading level 4 </h4>
        <h5 align="Center">heading level 5 </h5>
        <h6 align="Center">heading level 6 </h6>
        <u>
            this
        </u>
        <b>is a </b>
        <i>tutorial</i>
        <p align = "right">
            the hash tag p means it is a new line and p for paragraph 
        </p>
    </body>
</html>
