#{extends '/users/layout.html' /}

#{if request.actionMethod != 'index'}
            <div id="crudBreadcrumb">
                #{crud.navigation /}
            </div>
#{/if}
<h3>
<label>
	View User
</label>
</h3>
<div id="crudShow" class="${type.name}">

	<font color="Red">
		${message}
	</font>
	<div class="objectForm">
		#{form action:@view(object._key()), enctype:'multipart/form-data'}

		#{crud.form fields: ['email','username', 'firstName','lastName', 'communityContributionCounter','dateofBirth',  'country', 'profession','isAdmin']}

		#{crud.custom 'email'}
		<p>
			<label for="object_email">Email</label>
			<textarea disabled= true id="object_email" cols="30" rows="1" class="" name="object.email">${object.email}</textarea>
		</p>
		#{/crud.custom}
		
		#{crud.custom 'username'}
		<p>
			<label for="object_username">
				Username
			</label>
			<textarea disabled= true id="object_username" cols="20" rows="1" class="" name="object.username">${object.username}</textarea>
		</p>
		#{/crud.custom}
		
		
		#{crud.custom 'firstName'}
		<p>
			<label for="object_firstName">
				First Name
			</label>
			<textarea disabled= true id="object_firstName" cols="30" rows="1" class="" name="object.firstName">${object.firstName}</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'lastName'}
		<p>
			<label for="object_lastName">
				Last Name
			</label>
			<textarea disabled= true id="object_lastName" cols="30" rows="1" class="" name="object.lastName">${object.lastName}</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'communityContributionCounter'}
		<p>
			<label for="object_communityContributionCounter">
				Community Contribution Counter
			</label>
			<textarea disabled= true id="object_communityContributionCounter" cols="3" rows="1" class="" name="object.communityContributionCounter">${object.communityContributionCounter}</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'dateofBirth'}
		<p>
			<label for="object_dateofBirth">
				Date Of Birth
			</label>
			<textarea disabled= true id="object_dateofBirth" cols="30" rows="1" class="" name="object.dateofBirth">${object.dateofBirth}</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'country'}
		<p>
			<label for="object_country">
				country
			</label>
			<textarea disabled= true id="object_country" cols="30" rows="1" class="" name="object.dateofBirth">${object.country}</textarea>
		</p>
		#{/crud.custom }

		#{crud.custom 'profession'}
		<p>
			<label for="object_profession">
				Profession
			</label>
			<textarea disabled= true id="object_profession" cols="30" rows="1" class="" name="object.profession">${object.profession}</textarea>
		</p>
		#{/crud.custom }
		

		#{/crud.form }
		<button type="submit" onclick= >
			Edit
		</button>
		#{/form}
		
	#{if admin == 0}	
	#{if isDeleted == 0}
	</div>
	<form action="@{delete(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        <p class="crudDelete">
        	<input type="hidden" name = "deletionMessage" id = "justText">
            <input type="submit" value="&{'Delete User', type.modelName}" />
        </p>
    </form>
    #{/if}
    #{/if}
    
    
    #{if isDeleted == 1}
    <form action="@{undelete(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" >
        <p class="crudDelete">
            <input type="submit" value="&{'Undelete User', type.modelName}" />
        </p>
    </form>
    #{/if}
</div>

<script type="text/javascript">
 	
					function prompt1(){
					var text = prompt("Why do you want to delete this user ? ");
					
					if(text && text != ""){
						
						document.getElementById("justText").value=text;
						return true;
					}
					else{
						return false;
					}
					
				}
            </script>