#{extends 'Login/index.html' /}
#{set title:'Notifications' /}
<script type="text/javascript">
var ids = new Array();
var counter = ${nList.size()};
function toggleCheck(id) {			
	if(ids.indexOf(id) == -1) {
		ids.push(id);
	}else {
		ids.pop(id);
	}			
}
function markAll(){
	if(counter == 1) {
		oneMark();
	} else {
		var field = document.myform.checkfield;	
		for (i = 0; i < field.length; i++) {
			field[i].checked = true ;
			ids.push(field[i].id);
		}
	}	
}
function oneMark() {
	var field = document.myform.checkfield;
	field.checked = true;
	ids.push(field.id);
}
function unmarkAll(){
	if(counter == 1) {
		oneUnMark();
	} else {
		var field = document.myform.checkfield;	
		for (i = 0; i < field.length; i++) {
			field[i].checked = false ;
		}
	}
	ids = new Array();
}
function oneUnMark() {
	var field = document.myform.checkfield;
	field.checked = false;
}
function submit() {
	if(ids.length == 0) {
		alert('No notifications to be deleted!!');
	} else {
		var r=confirm("Are You sure you want to delete notifications?");
		if (r == true) {
			$.post('@{deleteNotifications()}', {a:ids});
			for(var i=0;i<ids.length;i++) {
				$('#not_' + ids[i]).remove();
			}
		} else {
			//window.location.reload();
		}
		ids = new Array();
		var field = document.myform.checkfield;
		for (i = 0; i < field.length; i++){
			field[i].checked = false ;
		}
		//window.location.reload();
	}
	
}
</script>

<big><u>Notifications List</u></big>
<br>
<hr>
<br>
#{if nList.size() == 0}
    <i>You have no notifications!!</i>
#{/if}
<form name='myform'>
<ul>
#{list items:nList, as:'notifi'}
    <li id="not_${notifi.id}">
    	<fieldset>
    		<big><b>${notifi.status}</b></big>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		<b><i>Delete Notification</i></b> &nbsp; 
    		<input type="checkbox" name="checkfield" id="${notifi.id}" onclick="toggleCheck(${notifi.id})" class="enabled"> 
    		<br>
    		<b>Source Type: </b> ${notifi.type}
    		<br>
    		${notifi.title}
    		<br>
    		<b>Message: </b> ${notifi.description}
    	</fieldset>
    </li>
#{/list}
</ul>
</form>
#{if nList.size() != 0}  
	<a onclick="markAll();" href="#"> Check All </a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a onclick="unmarkAll();" href="#"> Uncheck All</a>
	<br>	
	Delete Notifications: <input type="submit" value="Delete" onclick="submit()">
	<br>	
#{/if}