body {
	font-family:Verdana;
}
.el7r_notify { 
	z-index:999;
}
#el7r_notify_top_right {
	position:fixed;
	right:10px;
}
#el7r_notify_top_left {
	position:fixed;
	left:10px;
}
#el7r_notify_bottom_right {
	position:fixed;
	bottom:10px;
	right:10px;
}
#el7r_notify_bottom_left {
	position:fixed;
	bottom:10px;
	left:10px;
}
.el7r_notify.default {
	border:1px solid #68697B;
	background:#464646;
	color:#FFF;
	padding:10px;
	width:240px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: 0 0 7px #333;
	-webkit-box-shadow: 0 0 7px #333;
	-moz-box-shadow: 0 0 7px #333;
	box-shadow: 0 0 7px #333;
	margin-bottom:10px;
	cursor:help;
	display:block;
}
.el7r_notify.default span.ex {
	float:right;
	background:#7D7D7D;
	text-align:center;
	font-family:Verdana;
	color:#ccc;
	font-size:11px;
	height:15px; width:15px;
	border:1px solid silver;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
}
.el7r_notify.default span.ex:hover {
	background-color:#962127;
	color:white;
	border-color:red;
}


.el7r_notify.silver {
	border:1px solid silver;
	background:#FFF url(icons/silver_bg.jpg) bottom repeat-x;
	color:#000;
	padding:10px;
	width:240px;
	-moz-border-radius:8px;
	border-radius:8px;
	box-shadow: 0 0 7px #CCC;
	-webkit-box-shadow: 0 0 7px #CCC;
	-moz-box-shadow: 0 0 7px #CCC;
	margin-bottom:10px;
	cursor:help;
}
.el7r_notify.silver span.ex {
	float:right;
	background:#7D7D7D;
	text-align:center;
	font-family:Verdana;
	color:#ccc;
	font-size:11px;
	height:15px; width:15px;
	border:1px solid silver;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
}
.el7r_notify.silver span.ex:hover {
	background-color:#962127;
	color:white;
	border-color:red;
}


.el7r_notify.darkblue {
	border:1px solid #68697B;
	background:#FFF url(icons/darkblue_bg.jpg) bottom repeat-x;
	color:#FFF;
	padding:10px;
	width:240px;
	-moz-border-radius:8px;
	border-radius:8px;
	box-shadow: 0 0 7px #CCC;
	-moz-box-shadow: 0 0 7px #CCC;
	-webkit-box-shadow: 0 0 7px #CCC;
	margin-bottom:10px;
	cursor:help;
}
.el7r_notify.darkblue span.ex {
	float:right;
	background:#898AA6;
	text-align:center;
	font-family:Verdana;
	color:#FFF;
	font-size:11px;
	height:15px; width:15px;
	border:1px solid darkblue;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
}
.el7r_notify.darkblue span.ex:hover {
	background-color:#962127;
	color:white;
	border-color:red;
}

.el7r_notify .icon {
	float:left;
	margin-right:10px;
}
