#{extends 'Home/home.html' /}
#{set title:'About Us' /}

<style type="text/css">
#crudShow{
			margin-top: 2%;
			margin-right: 9%;
			margin-bottom: 4%;
			margin-left: 0%;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			background-color: #bbbbbb;
			padding-top: 2%;
			padding-right: 4%;
			padding-bottom: 0%;
			padding-left: 4%;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: #bbbbbb;
			border-right-width: 2px;
			border-right-style: solid;
			border-right-color: #bbbbbb;
			border-left-width: 2px;
			border-left-style: solid;
			border-left-color: #bbbbbb;
			border-top-width: 2px;
			border-top-style: solid;
			border-top-color: #bbbbbb;
			word-wrap: break-word;
		}
#descriptionShow{
			margin-top: 2%;
			margin-right: 5%;
			margin-bottom: 4%;
			margin-left: 5%;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			background-color: #FFFFFF;
			padding-top: 2%;
			padding-right: 4%;
			padding-bottom: 0%;
			padding-left: 4%;
			position: relative;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: #bbbbbb;
			word-wrap: break-word;
		}
</style>


<div id="about">
<div id="pageNoSideBar">
		<div id="pageNoSideBar-bgtop">			
				<div id="content">
					<div class="post">
					<div id="crudShow">
						<h2 class="title"><a href="#">About Us  </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p> We are CoolSoft. A group of 6th semester GUC students
							studying the software engineering course. Actually this application
							is our course project and we have exerted a lot of effort in developing,
							so you are more than welcome to register on our website.</p>
							<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
						</div>
					</div>
			</div>
		

		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
<!-- end #content -->