#{extends 'Home/home.html' /}

<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">Contact Us  </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<ul>
							<li><b>Our Doctor: </b> <i>Dr. Fatma Meawad</i>
								<br> 
								&nbsp;&nbsp;&nbsp;e-mail: fatma.meawad@guc.edu.eg
								</li>
								<li><b>Our Scrum Master: </b> <i>Mohamed El-Monayri</i>
								<br> 
								&nbsp;&nbsp;&nbsp;e-mail: mohamed.monayri@gmai​l.com
								</li>
								<li><b>Our Manager: </b> <i>Noha Khater</i>
								<br> 
								&nbsp;&nbsp;&nbsp;e-mail: nohakhater@gmail.com
								</li>
								<li><b>Our Teams: </b> 
								<br> 
								&nbsp;&nbsp;&nbsp;<b>User Management and Relations Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Nada Osama</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Lama Ashraf</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mai Magdy</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mostafa Ali</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader <i>Ahmed Maged</i>								
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail: aymaestro@gmail.com
								<br>
								&nbsp;&nbsp;&nbsp;<b>Organisation and Relation Management Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Fadwa Sakr</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Omar Faruki</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mohamed Hisham</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ibrahim El-Khayat</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader <i>Noha Khater</i>								
								<br>															
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail: nohakhater@gmail.com
								<br>
								&nbsp;&nbsp;&nbsp;<b>Requests and Ideas Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Alia El-Bolock</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ahmed El-Hadi</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Abdelrahman Mursi</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mostafa Aboul-Atta</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader <i>Mostafa Yasser</i>								
								<br>					
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail: mostafayasser.1991@g​mail.com
								<br>
								&nbsp;&nbsp;&nbsp;<b>Browsing Team: </b>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Monica Yusri</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ibrahim Safwat</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Fady Amir</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Loaay  Alkherbawy</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader <i>Mohamed Gomaa</i>								
								<br>					
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail: mgmohamedganem@gmail.com
								<br>
								&nbsp;&nbsp;&nbsp;<b>Planning and Tracking Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Yassmeen Hussein</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mohamed Mohie</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Alaa Sammer</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Hassan Ziko</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader <i>Salma Osama</i>								
								<br>			
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail: salma.qayed@gmail.co​m
								</li>							
								<br>
								<li><strong><u>To reach us all: </u></strong>
								<i>coolsoft-11@googlegroup.com</i></li>
							</ul>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- end #content -->