#{extends 'Home/home.html' /}
#{set title:'Home Page' /}

<style type="text/css">
#crudShow{
			margin-top: 2%;
			margin-right: 9%;
			margin-bottom: 4%;
			margin-left: 0%;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			background-color: #bbbbbb;
			padding-top: 2%;
			padding-right: 4%;
			padding-bottom: 0%;
			padding-left: 4%;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: #bbbbbb;
			border-right-width: 2px;
			border-right-style: solid;
			border-right-color: #bbbbbb;
			border-left-width: 2px;
			border-left-style: solid;
			border-left-color: #bbbbbb;
			border-top-width: 2px;
			border-top-style: solid;
			border-top-color: #bbbbbb;
			word-wrap: break-word;
		}
#descriptionShow{
			margin-top: 2%;
			margin-right: 5%;
			margin-bottom: 4%;
			margin-left: 5%;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			background-color: #FFFFFF;
			padding-top: 2%;
			padding-right: 4%;
			padding-bottom: 0%;
			padding-left: 4%;
			position: relative;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: #bbbbbb;
			word-wrap: break-word;
		}
</style>

<div id="index1">
<!-- Content of the page -->

<div id="pageNoSideBar">
		<div id="pageNoSideBar-bgtop">			
				<div id="content">
					<div class="post">
					<div id="crudShow">
						<h2 class="title">Welcome to Ideas Management </h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>This is <strong>Collaborative Thinking and Ideas Management  </strong>, 
							using our application you can navigate through different organisations and
							post your ideas and thoughts for a certain topic.
							</p>
							<p>Collaborative Thinking and Ideas Management gives you the opportunity to
							get involved in several communities and organisations and to actually see posted
							ideas and solutions being developed in an action plan. 
							</p>
						</div>
					</div>
					<div class="post">
					<div id="crudShow">
						<h2 class="title">Who we are? </h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>We are a group of extreme programmers and web developers.
							We design world class web applications with the highest efficiency and 
							a state of the art user interface.</p>
						</div>
					</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>

<!-- end #content -->
