<!--
@author Loaay Alkherbawy
@story  C4S02
--> 
<!DOCTYPE html>
<html>
    <form action="@{Search.quickSearch}" id="quckSearchForm" name="qS">
        <input type="text" name="keyWords"/>
        <input type="submit" name="Search" value="Search" onclick="quickSearchScript(this.form)"/>
    </form>
    <script type="text/javascript">
         function quickSearchScript(frm){
            //$.post('@{Search.quickSearch()}',{keyword: frm.keyWords.value},{userEmail: decodeURIComponent.toString()});
         	alert("Sorry! quick search is still under construction");
		 }
    </script>
	
</html>
