<!--
@author Loaay Alkherbawy
@story  C4S01
The Search Results Viewer
--> <!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
        </script>
    </head>
    <style type="text/css">
        body {
            font-family: arial, helvetica;
            font-size: 20px;
            color: #123456;
            background-color: #A3D5E4;
        }
        
        #text1 {
            font-size: 500px;
            color: #654321;
        }
    </style>
    <div>
        <center>
            <img src="/public/images/Picture1.jpg">
            </img>
        </center>
    </div>
    <body onLoad="step1()">
        <form action="@{Search.quickSearch()}" method="GET">
            <input type="text" id="search" name="search" /><input type="submit" id="submit" name="submit" value="Search" />
        </form><a href="/Ideas Management/app/views/Application/index.html">Home</a>
        <br/>
        <center>
        <b>
            <big>
                <u>
                    Search Results:
                </u>
            </big>
        </b>
        </br>
        <i>
        </br>
        <a href="filter_options.html"><b>for filtering your results:
            </br>
            click here to chose your criteria</b>
        </a>
    </i>
</center>
<div align="right">
    <u>
    <b>
    Sort by: 
    </u>
</b>
<input type="radio" name="scale" value="vote" />Vote <input type="radio" name="scale" value="rate" />Rate 
</br>
</br>
</div>
<div id='div1'>
</div>
<script type="text/javascript">
    function step1(){
        document.getElementById('div1').innerHTML = '<center><img src="/public/images/Loading.gif"/></center>';
        setTimeout(function(){
            quickSearch();
        }, 3000);
    }
    
    function quickSearch(){
        document.getElementById('div1').innerHTML = "<center>#{if results} Found ${results.size()} item${results.pluralize()} matching '${search}' <ul> #{list items:results, as:'item'} <li>${item.title}</li> #{/list} </ul> #{/if} #{else} Sorry! We did not find any results matching '${search}' #{/else}</center>";
    }
</script>
</body>
</html>
