<!--
@author Loaay Alkherbawy
@story  C4S01
The Search Results Viewer
--> #{set title:'Your results'/}  <!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
        </script>
    </head>
    <style type="text/css">
        
        body {
            margin: 0 .3em 0 1em !important;
            margin-left: 0em;
        }
        * html body {
            margin: 0 1.1em 0 1.7em !important;
        }
        
        #content {
            width: 552px;
            padding-left: 2em;
        }
        
        .content_articles {
            padding: 0;
            margin: 3px 0px 0px 0px;
            z-index: 2;
            width: 900px; /**?*/
            background-repeat: no-repeat;
            border-top-width: 2px;
            border-right-width: 2px;
            border-bottom-width: 2px;
            border-left-width: 2px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: #000000;
            border-right-color: #000000;
            border-left-color: #000000;
            border-bottom-color: #000000;
            background-color: #ffffff;
        }
        
        #div2 {
            float: right;
            width: 30%;
        }
        
        #div1 {
            marging-left: 50%;
            width: 50%;
        }
        
        #tabholder_articles span.activeTab {
            background: #ffffff;
            border: 2px solid #000000;
            border-bottom: none;
            color: #000000;
            padding: 1px 10px 3px 10px;
            margin: 0px 5px 3px 0px;
            font-size: 9pt;
            text-align: left;
            cursor: pointer;
        }
        
        #tabholder_articles span.inactiveTab {
            font-size: 12px;
            color: #ffffff;
            font-weight: 700;
            border: 2px solid #000000;
            border-bottom: none;
            padding: 1px 10px 3px 10px;
            margin: 0px 5px 3px 0px;
            cursor: pointer;
            background-color: #000000;
        }
        
        #panel2 {
            display: none;
            background-repeat: no-repeat;
            background-position: right top;
            width = 500px;
            padding-bottom:
            -25px;
        }
        
        #panel5 {
            display: block;
            background-repeat: no-repeat;
            background-position: right top;
            list-style-position: inside;
            width = 500px;
            padding-bottom:
            -25px;
        }
    </style>
    <body dir="ltr" onload="step1()">
        
    <div id="pageNoSideBar">
        <div id="pageNoSideBar-bgtop">
        <div id ='load'>
        </div>
        <div class="tabholder" id="tabholder_articles" style='display:none;'>
            <span class="activeTab" id="tab5" onMouseOver="hover(this);" onClick="showNewPanel(5);" onMouseOut="setState(5);">Abstract View&nbsp;</span>
            <span class="inactiveTab" id="tab2" onMouseOver="hover(this);" onClick="showNewPanel(2);" onMouseOut="setState(2);" style="margin-left: 5px; font-size: 12px;">Detailed View</span>
            <div id = 'holder' class = "content_articles">
                <form name="sort" >
               <u> <big><b>Sort:</b></big></u><br>
                
                <input type="radio" name="s" id="s1" value="D" onclick="whichsortmethod(this.form)"/>show ideas only in ascending rate order                         . 
                <input type="radio" name="s" id="s" value="A" onclick="whichsortmethod(this.form)"/>show ideas only in descending rate order
                
                </br>
                
                <input type="radio" name="sv" id="sv1" value="A" onclick="sortV(this.frm)"/>.show all results in  ascending visit order                                 .
                
                <input type="radio" name="sv" id="sv" value="D" onclick="sortV(this.frm)"/>show all results in descending visit order 
                
                
                
                </br>
                </form><b>
                    <big>
                        <u>
                            Search Results: 
                        </u>
                    </big>
                </b>
                <div id='div2' align="left">
                </br>
                <font color="black">
                    <u>
                        <b>
                        <big>
                        choose the filter options here!!</b>
                    </big>
                    </u>
                    </br>
                    <u>
                        N.B:
                    </u>
                    unchecked is what is removed 
                    <br>
                    </br>
                    <input type="checkbox" id ='I' name="type" value="idea" onclick=check() checked="checked"/>Ideas<input type="checkbox" id='E' name="type" value="entity" onclick=check() checked="checked"/>Entities
                    </br><input type="checkbox" id='T' name="type" value="topic" onclick=check() checked="checked"/>Topics<input type="checkbox" id='O' name="type" value='organization' onclick=check() checked="checked"/>Organizations
                    </br><input type="checkbox" id='P' name="type" value="plans" onclick=check() checked="checked"/>Plans<input type="checkbox" id='It' name="type" value="items" onclick=check() checked="checked"/>Items
                    </br>
                </font>
            </div>
            <div id='panel5' style='display:none'>
                <div id='divO'>
                #{if lof} 
                #{if organizationsFound} 
                Found ${organizationsFound.size()} organization${organizationsFound.pluralize()}
                </br>
                <ul>
                #{list items:organizationsFound, as:'org'}
                <li>
                    <a href='@{Organizations.viewProfile(org.id)}' target="_parent">${org.toString()}</a>
                </li>#{/list}
                </br>
            </ul>
            #{/if}#{/if}
        </div>
        <div id='divIt'>
        #{if lof} 
        #{if itemsFound} 
        Found ${itemsFound.size()} item${itemsFound.pluralize()}
        </br>
        <ul>
        #{list items:itemFound, as:'item'}
        <li>
            <a href='@{item.viewAssignedItems(item.id)}' target="_parent">${item.summary}</a>
        </li>#{/list}
        </br>
    </ul>
    #{/if}#{/if}
</div>
<div id='divE'>
#{if lof}#{if entitiesFound} Found ${entitiesFound.size()} entity${entitiesFound.pluralize()}
</br>
<ul>
#{list items:entitiesFound, as:'item'}
<li>
    <a href='@{MainEntitys.viewEntity(item.id)}' target="_parent">${item.toString()}</a>
</li>#{/list}
</br>
</ul>
#{/if}#{/if}
</div>
<div id='divP'>
#{if lof} 
#{if plansFound} 
Found ${plansFound.size()} plan${plansFound.pluralize()}
</br>
<ul>
#{list items:itemFound, as:'plan'}
<li>
    <a href='@{plan.planView(plan.id)}' target="_parent">${plan.title}</a>
</li>#{/list}
</br>
</ul>
#{/if}#{/if}
</div>
<div id='divT'>
#{if lof}#{if topicsFound} Found ${topicsFound.size()} topic${topicsFound.pluralize()}
</br>
<ul>
#{list items:topicsFound, as:'item'}
<li>
    <a href='@{Topics.show(item.id)}' target="_parent">${item.toString()}</a>
</li>
#{/list}
</br>
</ul>
#{/if}#{/if}
</div>
<div id='divI'>
#{if lof}#{if ideasFound} Found ${ideasFound.size()} idea${ideasFound.pluralize()}
</br>
<ul>
#{list items:ideasFound, as:'item'}
<li>
    <input type='checkbox' id ='${item.id}' onclick='mark(this.id)'/><a href=@{Ideas.show(item.id)} target="_parent">${item.title}</a>
</li>
#{/list}
</br>
</ul>
#{/if}
#{if ideasFound.size()>1}
<a href='javascript: markDuplicate()'>Mark two ideas as duplicate</a>#{/if}#{/if}
</div>
#{else}
<center>
    <img src='/public/images/noresults.jpg'>
    </br>No results found
</center>#{/else}
#{if lof}
<div id='errors'>
</div>
<div id='down'>
    <a href='/public/results.zip'><img src='/public/images/download.gif' width=15% height=30/></a>
</div>
#{/if}
</div>
<div id='panel2' style='display:none'>
    <div id='divO1'>
    #{if lof}
    #{if organizationsFound} Found ${organizationsFound.size()} organization${organizationsFound.pluralize()}
    </br>
    <ul>
    #{list items:organizationsFound, as:'org'}
    <li>
    <a href='@{Organizations.viewProfile(org.id)}' target="_parent">${org.toString()}</a>
    </br>Description:
    </br>
    No description for organizations
</li>#{/list}
</br>
</ul>
#{/if}
#{/if}
</div>
<div id='divIt1'>
#{if lof} 
#{if itemsFound} 
Found ${itemsFound.size()} item${itemsFound.pluralize()}
</br>
<ul>
#{list items:itemFound, as:'item'}
<li>
<a href='@{item.viewAssignedItems(item.id)}' target="_parent">${item.summary}</a>
</br>Description:
</br>${item.description}
</li>#{/list}
</br>
</ul>
#{/if}#{/if}
</div>
<div id='divE1'>
#{if lof}#{if entitiesFound} Found ${entitiesFound.size()} entity${entitiesFound.pluralize()}
</br>
<ul>
#{list items:entitiesFound, as:'item'}
<li>
<a href='@{MainEntitys.show(item.id)}' target="_parent">${item.toString()}</a>
</br>Description:
</br>${item.description}
</li>#{/list}
</br>
</ul>
#{/if}#{/if}
</div>
<div id='divP1'>
#{if lof} 
#{if plansFound} 
Found ${plansFound.size()} plan${plansFound.pluralize()}
</br>
<ul>
#{list items:itemFound, as:'plan'}
<li>
<a href='@{plan.planView(plan.id)}' target="_parent">${plan.title}</a>
</br>${plan.description}
</li>#{/list}
</br>
</ul>
#{/if}#{/if}
</div>
<div id='divT1'>
#{if lof}
#{if topicsFound}
Found ${topicsFound.size()} topic${topicsFound.pluralize()}
</br>
<ul>
#{list items:topicsFound, as:'item'}
<li>
<a href='@{Topics.show(item.id)}' target="_parent">${item.toString()}</a>
</br>Description:
</br>${item.description}
</li>
#{/list}
</br>
</ul>
#{/if}
#{/if}
</div>
<div id='divI1'>
#{if lof}#{if ideasFound} Found ${ideasFound.size()} idea${ideasFound.pluralize()}
</br>
<ul>
#{list items:ideasFound, as:'item'}
<li>
<input type='checkbox' id='${item.id}' onclick='mark(this.id)'/><a href='@{Ideas.show(item.id)}' target="_parent">${item.title}</a>
</br>Description:
</br>${item.description}
</li>
#{/list}
</br>
</ul>
#{/if}
#{if ideasFound.size()>1}
<a href='javascript: markDuplicate()'>Mark two ideas as duplicate</a>#{/if}#{/if} 
</div>
#{else}
<center>
    <img src='/public/images/noresults.jpg'>
    </br>No Results Found
</center>#{/else}
#{if lof}
<div id='errors1'>
</div>
<div id='down' align='justify'>
    <a href='/public/results.zip'><img src='/public/images/download.gif' width='15%' height=30/></a>
</div>
#{/if}
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
    
    var marked = new Array();
    
    function step1(){
        document.getElementById('panel5').style.display = 'none';
        document.getElementById('panel2').style.display = 'none';
        document.getElementById('tabholder_articles').style.display = 'none';
        document.getElementById('load').innerHTML = '<center><img src="/public/images/Searching.gif"/></center>';
        setTimeout('showNewPanel(5)', 1000);
    }
    
    function check(){
        if (document.getElementById('O').checked == false) {
            document.getElementById('divO').style.display = 'none';
        }
        else {
            document.getElementById('divO').style.display = 'block';
        }
        if (document.getElementById('O').checked == false) {
            document.getElementById('divO1').style.display = 'none';
        }
        else {
            document.getElementById('divO1').style.display = 'block';
        }
        if (document.getElementById('T').checked == false) {
            document.getElementById('divT').style.display = 'none';
        }
        else {
            document.getElementById('divT').style.display = 'block';
        }
        if (document.getElementById('T').checked == false) {
            document.getElementById('divT1').style.display = 'none';
        }
        else {
            document.getElementById('divT1').style.display = 'block';
        }
        if (document.getElementById('E').checked == false) {
            document.getElementById('divE').style.display = 'none';
        }
        else {
            document.getElementById('divE').style.display = 'block';
        }
        if (document.getElementById('E').checked == false) {
            document.getElementById('divE1').style.display = 'none';
        }
        else {
            document.getElementById('divE1').style.display = 'block';
        }
        if (document.getElementById('I').checked == false) {
            document.getElementById('divI').style.display = 'none';
			document.getElementById('divI1').style.display = 'none';
        }
        else {
            document.getElementById('divI').style.display = 'block';
			document.getElementById('divI1').style.display = 'block';
            document.getElementById('error').style.display = 'block';
			document.getElementById('error1').style.display = 'block';
            
        }
        if (document.getElementById('I').checked == false) {
            document.getElementById('divI1').style.display = 'none';
        }
        else {
            document.getElementById('divI1').style.display = 'block';
            document.getElementById('error1').style.display = 'block';
        }
        if (document.getElementById('P').checked == false) {
            document.getElementById('divP').style.display = 'none';
        }
        else {
            document.getElementById('divP').style.display = 'block';
        }
        if (document.getElementById('P').checked == false) {
            document.getElementById('divP1').style.display = 'none';
        }
        else {
            document.getElementById('divP1').style.display = 'block';
        }
        if (document.getElementById('It').checked == false) {
            document.getElementById('divIt').style.display = 'none';
        }
        else {
            document.getElementById('divIt').style.display = 'block';
        }
        if (document.getElementById('It').checked == false) {
            document.getElementById('divIt1').style.display = 'none';
        }
        else {
            document.getElementById('divIt1').style.display = 'block';
        }
    }
    
    var currentPanel = 5;
    
    function showNewPanel(panelNum){
        if (currentPanel != null) {
            hidePanel();
        }
        document.getElementById('load').style.display = 'none';
        document.getElementById('panel' + panelNum).style.display = 'block';
        document.getElementById('tabholder_articles').style.display = 'block';
        currentPanel = panelNum;
        setState(panelNum);
        $('#panel' + panelNum).hide();
        $('#panel' + panelNum).show(1000);
        check();
    }
    
    function hidePanel(){
        document.getElementById('panel' + currentPanel).style.display = 'none';
        document.getElementById('tab' + currentPanel).className = 'inactiveTab';
        document.getElementById('tab' + currentPanel).style.color = '#ffffff';
        document.getElementById('tab' + currentPanel).style.background = '#000000';
    }
    
    function setState(tabNum){
        if (tabNum == currentPanel) {
            document.getElementById('tab' + tabNum).style.color = '#000000';
            document.getElementById('tab' + tabNum).style.background = '#ffffff';
            document.getElementById('tab' + tabNum).className = 'activeTab';
        }
        else {
            document.getElementById('tab' + tabNum).style.color = '#ffffff';
            document.getElementById('tab' + tabNum).style.background = '#000000';
            document.getElementById('tab' + tabNum).className = 'inactiveTab';
        }
    }
    
    function hover(tab){
        tab.style.color = '#000000';
        tab.style.background = '#ffffff';
    }
    
    function quickSearch(frm){
        $.post('@{quickSearch}', {
            keyword: frm.search.value
        }, function(){
            window.location.reload(true);
        });
    }
    
    function whichsortmethod(frm){
        var c = 'v';
        var e = 'r';
        if (document.getElementById("s1").checked) {
            //			if (document.getElementById("v").checked) {
            //document.write(document.sort.v.name);
            $.post('@{sortD}', { //voteOrRate : document.sort.v.value
    }, function(){
                window.location.reload(true);
            });
            
        }
        else //if (document.getElementById("v").checked)
        {
            $.post('@{sortA}', { //voteOrRate : document.sort.v.value
    }, function(){
                window.location.reload(true);
            });
        }
    }
    
    function mark(id){
        if (marked.indexOf(id) == -1 && marked.length < 2) {
            marked.push(id);
        }
        else {
            if (marked.indexOf(id) != -1) {
                marked.pop(id);
            }
            else {
                marked.push(id);
                document.getElementById('errors').innerHTML = '<font color="red">You could only mark two ideas</font>';
               	document.getElementById('errors1').innerHTML = '<font color="red">You could only mark two ideas</font>';
				for (i = 0; i < marked.length; i++) {
                    document.getElementById(marked[i] + '').checked = false;
                }
                marked = new Array();
            }
        }
		check();
    }
    
    function markDuplicate(){
        if (marked.length < 2) {
            document.getElementById('errors').innerHTML = '<font color="red">Mark two ideas</font>';
            document.getElementById('errors1').innerHTML = '<font color="red">Mark two ideas</font>';
			for (i = 0; i < marked.length; i++) {
                document.getElementById(marked[i] + '').checked = false;
            }
            marked = new Array();
        }
        else {
            $.post('@{MarkRequest.sendRequest()}', {
                idea1ID: marked[0],
                idea2ID: marked[1],
                des: "Sending a request to mark"
            }, function(kill){
			if(kill == 0){
			document.getElementById('errors').innerHTML = '<font color="green">A request Have been sent to the topic organizer</font>';
            document.getElementById('errors1').innerHTML = '<font color="green">A request Have been sent to the topic organizer</font>';
				}
			if(kill == 2){
			document.getElementById('errors').innerHTML = '<font color="red">A request Have already been sent to the topic organizer</font>';
            document.getElementById('errors1').innerHTML = '<font color="red">A request Have already been sent to the topic organizer</font>';	
			}
			if(kill == 1){
			document.getElementById('errors').innerHTML = '<font color="red">Ideas relate to different topics</font>';
            document.getElementById('errors1').innerHTML = '<font color="red">Ideas relate to different topics</font>';	
			}
            });
            for (i = 0; i < marked.length; i++) {
                x = document.getElementsByTagName("input");
				for(j=0;j<x.length;j++){
					if(x[j].id == marked[i]){
						x[j].checked = false;
						x[j].disabled = true;
					}
				}
            }
            marked = new Array();
        }
    }
    
    function sortV(frm){

        if (document.getElementById("sv1").checked) {
    	$.post('@{sortA_Views()}',
    			{},function(){
    				window.location.reload(true);})
    			
    }else{
    $.post('@{sortD_Views()}',
    		{},function(){
    	window.location.reload(true);})
    
    }
    
        }
</script>
<br/>
</br>
</br>
</body>
</div>
</html>
