#{extends 'login/index.html' /}
<br/>
<br/>


<br/>
<br/>
<u><font size ="5" color ="blue">Logs</font></u>
<br/>
<br/>
Search Logs <input type="text" size="20" name="name" id="table">

<input type="button" onclick="javascript: show('${organizationId}');" value="Search" />

<table border="0" bgcolor="#ececec" cellspacing="5">
	#{if toFilter.isEmpty()}
</table>
<tr><td><i>No logs</i></td><td>
#{/if}
#{else}
<table border="0" bgcolor="#ececec" cellspacing="5" id ="toFil">	
<tr><td width="100%"><font size ="2" color ="black"> </font></td><td>
#{list items:toFilter, as:'filter'} 
<tr><td width="100%"><font size ="2" color ="black">${filter.actionDescription.raw()} &nbsp;&nbsp;&nbsp;&nbsp; ${filter.time}</font></td><td>
#{/list}
</table>
<div id="pageNavPosition"></div>
<script src = "@{'/public/javascripts/jquery-1.5.2.min.js'}" type = "text/javascript">
	</script>
	
<script src="@{'/public/javascripts/paging.js'}"></script>
	
	<script type="text/javascript">


    var pager = new Pager('toFil', 2); 
    pager.init(); 
    pager.showPageNav('pager', 'pageNavPosition'); 
    pager.showPage(1);
    </script>
#{/else}

<br/>
<br/>



<script type="text/javascript">
function show(id){
	window.location.reload();
	var name = document.getElementById('table').value;

	      
          $.getJSON('@{searchLog()}', {keyword:name,id:id},
			 function(data)
			 {
			   
			   
			  var action={};
	        action=data.actions.split(",");
	         var  times = {};
	          times = data.time.split(",");
	        
		     
			  	
				$('#toFil').html('<tr><td><font size=2> </font></td><td>');
				 for (var i = 0; i < action.length; i++) {
				 	var text = action[i].raw();
			  	var tex = times[i];
				 	$('#toFil').append('<tr><td><font size=2> ' + text +'&nbsp;&nbsp;&nbsp;&nbsp;'+ tex + '</font></td><td>');
				 	$('#toFil').show();
					
				 }
			  
			 
			 
			 
			});
}
	</script>
	<style type="text/css">    
       .pg-normal {

                color: black;

                font-weight: normal;

                 text-decoration: none;    

                cursor: pointer;    

            }

            .pg-selected {

                color: black;

                font-weight: bold;        

                text-decoration: underline;

                cursor: pointer;

            }
        </style>

	