#{extends '/topics/layout.html' /}
<div id="crudBlank" class="${type.name}">
    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>
    <font color="Red">
        ${message}
    </font>
    <div class="objectForm">
        #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form fields: ['title', 'description','isDraft']}
        #{crud.custom 'title'}
        <p>
            <label for="object_title">
                Title
            </label>
            <textarea id="object_title" cols="30" rows="1" class="" name="object.title">
            </textarea>
            <span class="crudHelp">
                <font color="Red">
                    *
                </font>Required
            </span>
        </p>
        #{/crud.custom}
        #{crud.custom 'description'}
        <p>
            <label for="object_description">
                Description
            </label>
            <textarea id="object_description" cols="50" rows="5" class="" name="object.description">
            </textarea>
            <span class="crudHelp">
                <font color="Red">
                    *
                </font>Required
            </span>
        </p>
        #{/crud.custom}
        #{/crud.form }
        <p class="crudButtons">
            <input t id = "save" type="submit" name="_save" value="&{'crud.save', type.modelName}" /><input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" /><input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>#{/form}
    </div>
</div>