#{extends '/topics/layout.html' /}<h3>
    <label>
        View Topic
    </label>
</h3>
<div id="crudShow" class="${type.name}">
    <font color="Red">
        ${message}
    </font>
    <div class="objectForm">
        #{form action:@view(object._key()), enctype:'multipart/form-data'}
        #{crud.form fields: ['title', 'author','description', 'privacyLevel']}
        #{crud.custom 'title'}
        <p>
            <!--<label for="object_title">Title</label>-->
            <textarea disabled= true id="object_title" cols="30" rows="1" class="" name="object.title">
                ${object.title}
            </textarea>
        </p>
        #{/crud.custom}
        #{crud.custom 'author'}
        <p>
            <label for="object_creator">
                by
            </label>
            <textarea disabled= true id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">
                ${object.author}
            </textarea>
        </p>
        #{/crud.custom }
        #{crud.custom 'description'}
        <p>
            <label for="object_description">
                Description
            </label>
            <textarea disabled= true id="object_description" cols="50" rows="5" class="" name="object.description">
                ${object.description}
            </textarea>
        </p>
        #{/crud.custom}
        #{crud.custom 'privacyLevel'}
        <p>
            <label for="object_privacyLevel">
                Privacy Level
            </label>
            <textarea disabled= true id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">
                ${object.privacyLevel}
            </textarea>
        </p>
        #{/crud.custom }
        #{/crud.form }
        #{/form}
        <form action= "@{Ideas.view()}">
            <input type="hidden" name="ideaId" value="${ideaId}"><input type="submit" value = "Edit">
        </form>
        <form action="@{Users.ReportIdeaAsSpam()}" method="GET" name="myform">
            <input type="hidden" name="ideaId" value="${ideaId}">
            <table border="0" bgcolor="#ececec" cellspacing="5">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                    </table>
                    <input type="submit" value="Report As Spam">
                </form>