#{extends 'login/index.html' /}
#{stylesheet src:"ideas.css" /}
<style type="text/css">
	#labels li
	{
		display: inline;
		list-style-type: none;
		padding-right: 20px;
	}
</style>
<br/>
<div id="main" class ="post">
<a href="@{Topics.show(topic.id)}"><font color="#4CC417">Back to topic</a>
<br/>
<br/>
<h3>
    <label>
        View idea
    </label>
</h3>
<div>
<div id="labelsContainer">
	<ul id="labels">
	 	#{if ideasLabels.isEmpty()==false}
			<li><font color="#123456">Labels:</font></li>
		#{/if}
		#{list items:ideasLabels, as:'label'}
			<li><a href='@{Labels.showLabel(label.id)}'>${label.name}</a></li>
		#{/list}
	</ul>
</div>
<br/>
<table id = "success" border="0" bgcolor="#FF0000" cellspacing="0" id ="toFil">
		<tr><td><font size ="3" color ="black"><i>
					<font color="#000000"><b><i>Idea Has been Reported As Spam</i></b></font>                
        </i></font></td><td>
</table>
    <br/>
    <font color="Red">
        ${message}
    </font>
    <br/>
    
    <div class="objectForm">
    
    #{if isAuthor}
    #{form @delete(object._key())}
			<input type="submit" class="linkButton" style="color: red;" value="&{'Delete My Idea', type.modelName}" />
	#{/form}    
	#{/if}
	
	#{if canDelete && !isAuthor}
		<form action="@{Topics.deleteIdea(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        	<input type="hidden" name = "justification" id = "justText">
            <input type="submit"  class="linkButton" style="color: red;" align="right" value="&{'Delete Idea', type.modelName}" />
    </form>
	#{/if}
	#{if canDelete && !isAuthor}
	<form action="@{Topics.hideIdea(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        	<input type="hidden" name = "justification" id = "justText2">
            <input type="submit" class="linkButton" style="color: red;"  value="&{'Hide Idea', type.modelName}" />
    </form>
    #{/if}
    </div>
    </div>
    <div id="main2">
        <p>
            <h2 class="post-title">
            ${object.title}
            	<h3 class"post-metadata">
            	<span class "post-author">
            	by <a href="@{Users.viewProfile(userId)}"><font color="#4CC417">${username}</font></a>
            	</span>
            	<span class "post-tags">

            	</span>
            </h3>
            </h2>
        </p>
        <p>
            
        </p>
        <div class="post-content">
<!--          <div class="about">Detail:</div>-->
		  <h3>${object.description}</h3>
        </div>

		  #{if ideaAlreadyReported==false && CanReport}
		    <form action="@{Users.reportIdeaAsSpam()}" method="GET" name="myform">
        		<input type="hidden" name="ideaId" value="${ideaId}">
                <input id="spam" align="right" type="submit" class="linkButton" value="Report Idea As Spam">
            </form>
          #{/if}
          </br>
          </br>
          #{if ideaAlreadyReported==true}
		        <input id="spam" disabled="disabled" class="linkButton" type="hidden" value="Report Idea As Spam">
        				<b><font color="Red">you have already reported this idea</font><b>
          #{/if}
          </br>
          </br>
            <script type="text/javascript">
            	$('#spam').click(function(){
            	$('#success').show();});
            	function prompt1(){
					var text = prompt("Why do you want to delete/hide this idea?");
					
					if(text){
						document.getElementById("justText").value=text;
						document.getElementById("justText2").value=text;
						return true;
					}
					else{
						return false;
					}
					
				}
            </script>
            <style type="text/css">
					#success{display: none;}
			</style>            
	<div>
	#{if notBlockedFromUsing}
	<form action="@{Ideas.shareIdea()}">
			<input type="submit" class="linkButton" value="Share with user" />
			<input type="hidden" name="ideaId" value="${ideaId}">
			<select id="userName" name = "userName"> 
					#{list userNames, as:'name'}
					<option>${name}</option>
					#{/list}
					</select>
		</form>
		#{/if}
			<input type="button" id ='like' value="Like" onclick="like()" />
			<input type="button" id ='dislike' value="Dislike" onclick="disLike()" />
		<form>
			<big><b>List Of Duplicates</b></big>
			#{list items:idea.duplicateIdeas , as:'idea'}
			<li>
				<a href='@{Ideas.show(idea.id)}' ><b>${idea.title}</b></a>
			</li>
			#{/list}
		</form>
				<script type='text/javascript'>
			;
			function like(){
				$.post('@{Ideas.like}',{ideaId: ${ideaId}},function(){
					alert("you liked this idea");
					document.getElementById('like').disabled = true;
					document.getElementById('dislike').disabled = true;
				});
				}
				;
			function disLike(){
				$.post('@{Ideas.disLike}',{ideaId: ${ideaId}},function(){
					alert("you disliked this idea");
					document.getElementById('like').disabled = true;
					document.getElementById('dislike').disabled = true;
				});
			}
		</script>
		</br>
 		Idea rating : ${rate}
 		<br/>
 		<br/>
 		#{if notBlockedFromUsing}
 		#{if checkPermitted}
 		#{if checkNotRated}
		<form action="@{Ideas.rate(ideaId,rat)}" method="GET">
    <input type="submit" value="Submit rating"/><input type = "hidden" name = "ideaId" value = ${ideaId}>
    <select name="rat">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</form>
		#{/if}
		#{else}
		You have already rated this idea
		#{/else}
		#{/if}
		<br />
 		<form action="@{Comments.addCommentToIdea()}" method="GET">
			<textarea name = "comment"></textarea>
      	 	<input type = "hidden" name = "ideaID" value = ${ideaId} >
			<input type = "submit" value = "Comment"  >
		</form>
		<br/>
		<input type = "submit" id="comm" class="linkButton" value = "Show Comments" onclick="viewComments()" >
		#{/if}
		<input type = "submit" id = "commentsd"  value = "Show Comments" onclick="viewComments()" >
		<br/>
		<script type="text/javascript">
                        function viewComments(){
                                if(document.getElementById("commentsd").value == "Show Comments")
                                        {
                                                document.getElementById('div1').style.display = 'inline';
                                                document.getElementById("commentsd").value = "Hide Comments";
                                        }
                                else
                                        {
                                                document.getElementById('div1').style.display = 'none';
                                                document.getElementById("commentsd").value = "Show Comments";
                                        }
                                document.getElementById('div1').innerHTML = "#{if comments} Comments <br/> <ul> #{list comments, as:'comment'} <li><a>${comment.toString()}</a></li> #{/list} <br/></ul> #{/if} #{else}No comments posted#{/else}"
                        }
                        </script>
			
		<br/>
		Idea priority : ${priority}	
		<br/>
		#{if notBlockedFromUsing}
		#{if checkPermitted}
		<form action = @{Ideas.setPriority()} method = "GET">
		<input type ="submit" value = "Submit Priority"/>
		<input type = "hidden" name = "ideaId" value = ${ideaId} >
		<br />
		<input type = "radio" name = "priority" value = "critical" checked ="checked"/> critical
		<br />
		<input type = "radio" name = "priority" value = "high"/> high
		<br />
		<input type = "radio" name = "priority" value = "medium"/> medium
		<br />
		<input type = "radio" name = "priority" value = "low"/> low
		<br />
		</form>
		#{/if}
		#{/if}
        <br />
        <br />
        </div>
        </br>
        </div>
		<form action="@{Ideas.tagIdea()}" method="post">
        	<input type="hidden" value=${ideaId} name='ideaId'>
			<input type="hidden" value='@@' name='tag'>
			<input type="submit" value="Add tags">
        </form>
      	  <div id='div1' align='left' style="display: none">
</div>
</div>    
</div>