#{extends '/ideas/layout.html' /}
<div id="crudShow" class="${type.name}">
    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
    <font color="Red">
        ${message}
    </font>
    <div class="objectForm">
        #{form action:@show(object._key()), enctype:'multipart/form-data'}
        #{crud.form fields: ['author','belongsToTopic','title','description', 'privacyLevel','isDraft']}
        #{crud.custom 'author'}
        <p>
            <label for="object_creator">
                by
            </label>
            <textarea disabled= true id="object_creator" cols="30" rows="1" class="" name="object.author">${object.author}</textarea>
        </p>
        #{/crud.custom }
        #{crud.custom 'belongsToTopic'}
        <p>
            <label for="object_topic">
                Idea belong to topic 
            </label>
            <textarea disabled= true id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">${object.belongsToTopic}</textarea>
        </p>
        #{/crud.custom }
        #{crud.custom 'title'}
        <p>
            <label for="object_title">
                Title
            </label>
            <textarea disabled= true id="object_title" cols="25" rows="2" class="" name="object.title">${object.title}</textarea>
        </p>
        #{/crud.custom}
        #{crud.custom 'description'}
        <p>
            <label for="object_description">
                Description
            </label>
            <textarea disabled= true id="object_description" cols="60" rows="5" class="" name="object.description" required>${object.description}</textarea>
        </p>
        #{/crud.custom}
        #{crud.custom 'privacyLevel'}
        <p>
            <label for="object_privacyLevel">
                Privacy Level
            </label>
            <textarea disabled= true id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">
                ${object.privacyLevel}
            </textarea>
        </p>
        #{/crud.custom }
        #{crud.custom 'isDraft'}
        <p>
            <label for="object_description">
                isDraft
            </label>
            <input type="checkbox" checked="${object.isDraft}" id="object_isDraft" class="" name="object.isDraft">is this Idea a draft
            </input><span class="crudHelp">
                <font color="Red">
                    *
                </font>Required
            </span>
        </p>
        #{/crud.custom}
        #{/crud.form }
        #{/form}
    </div>
    <form action= "@{Ideas.view()}">
        <input type="hidden" name="ideaId" value="${ideaId}"><input type="submit" value = "Edit">
    </form>#{if x==0}
    <form action="@{Users.ReportIdeaAsSpam()}" method="GET" name="myform">
        <input type="hidden" name="ideaId" value="${ideaId}">
        <table border="0" bgcolor="#ececec" cellspacing="5">
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                </table>
                <input type="submit" value="Report As Spam">
            </form>#{/if}
	#{if x==1}
                <input disabled=true type="submit" value="Report As Spam">
	#{/if}
