#{extends '/ideas/layout.html' /}
<!--<script language="javascript" type="text/javascript" src="/public/javascripts/autocomplete.js">
        </script>-->
<html>
    <head>
        <title>Adding Tags</title>
	</head>
    <body>
		
			<ul>
			#{list items:tags, as:'tag'}
                <li>
                    ${tag.name}
                </li>
                #{/list}
			</ul>
		<p>
        	
			#{if tagAlreadyExists == true}
			<script type='text/javascript'>
			alert("tag already exists");
			</script>
			#{/if}
			
        	#{if userNotAllowed == false}
			<form action="@{Ideas.tagIdea()}" method="post">
            <input type="text" name="tag" id="tag">
<!--			 <input type="hidden" id='tagsList' name="users" value="${tags}">
			 <script language="javascript" type="text/javascript">
                        var a = document.getElementById('tagsList');
                        b = a.value + "";
                        c = b.split("|");
                        autoComplete.Set("group", c);
                    </script>-->
			<input type="hidden" name="ideaId" value="${ideaId}">
			<input type="submit" value="Add Tag">
			</form>
			#{/if}
			#{else}
			<script type='text/javascript'>
			alert("you are not allowed to tag this idea");
			</script>			#{/else}
        </p>
    </body>
</html>
