#{extends '/ideas/layout.html' /}<h3>
    <label>
        View Idea
    </label>
</h3>
<div id="crudShow" class="${type.name}">
    <font color="Red">
        ${message}
    </font>
    <div class="objectForm">
        #{form action:@show(object._key()), enctype:'multipart/form-data'}
        #{crud.form fields: ['author','belongsToTopic','title','description', 'privacyLevel','isDraft']}
        #{crud.custom 'author'}
        <p>
            <label for="object_creator">
                by
            </label>
            <textarea disabled= true id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">${object.author}
            </textarea>
        </p>
        #{/crud.custom }'
        #{crud.custom 'belongsToTopic'}
        <p>
            <label for="object_creator">
                Idea belong to topic 
            </label>
            <textarea disabled= true id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">${object.belongsToTopic}</textarea>
        </p>
        #{/crud.custom }
        #{crud.custom 'title'}
        <p>
            <label for="object_title">
                Title
            </label>
            <textarea disabled= true id="object_title" cols="30" rows="1" class="" name="object.title">${object.title}</textarea>
        </p>
        #{/crud.custom}
        #{crud.custom 'description'}
        <p>
            <label for="object_description">
                Description
            </label>
            <textarea id="object_description" cols="50" rows="5" class="" name="object.description" required>${object.description}</textarea>
        </p>
        #{/crud.custom}
        #{crud.custom 'privacyLevel'}
        <p>
            <label for="object_privacyLevel">
                Privacy Level
            </label>
            <textarea disabled= true id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">${object.privacyLevel}
            </textarea>
        </p>
        #{/crud.custom }
        #{/crud.form }
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" /><input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>#{/form}