#{extends 'Home/home.html' /}

<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
					
					
<h2>
Congratulations on joining Coolsoft,You must activate your account first to be able to log in .
</h2>
<br>
<br>
<h3>
An activation link has been sent to your email
</h3>
<label for="email">
				E-mail : ${email}
</label>
<label for="username">
				username : ${username}
			</label>
			<a href="@{Login.homePage()}">Back to Login</a>
					
					
					</div>
					</div>
					</div>
					</div>
					</div>

