#{extends 'login/index.html' /}
#{set title:'View Volunteer Requests' /}
#{if planVolunteerRequests.size() > 0}<h3>Volunteer Requests </h3>
<ul>
    #{list items:planVolunteerRequests, as:'request'}
    <div id = "request_${request.id}"><li>
        <fieldset>
            <legend>
            <h2>
                <a href="@{Plans.viewAsList(request.destination.plan.id)}">${request.destination.summary}</a>
            </h2>
            </legend>
            Sender: <a href = "@{Users.viewProfile(request.sender.id)}">${request.sender.username}</a>
            <br/>
            Justification:  ${request.justification}
            <br/>
			<input class = "linkButton" type = "button" value = "Accept" onclick="accept_request('${request.id}')">
			<input class = "linkButton" type = "button" value = "Reject" onclick="reject_request('${request.id}')">
        </fieldset>
    </li></div>
    #{/list}
</ul>
#{/if}
#{else}
No volunteer requests for this plan exist.
#{/else}


</br><a href="@{Plans.viewAsList(plan.id)}">Go back to plan</a>

<script type="text/javascript">

function accept_request(id)
  {
	$.post('@{accept()}' , {requestId: id});
	alert("Request rejected!");
	$("#request_" + id).remove();
  }

function reject_request(id)
  {
	$.post( '@{reject()}' , {requestId: id});
	alert("Request rejected!");
	$("#request_" + id).remove();
  }

</script>