#{extends 'login/index.html' /}
#{set title:'View Volunteer Requests' /}
#{if planVolunteerRequests.size() > 0}<h3>Volunteer Requests </h3>
<ul>
    #{list items:planVolunteerRequests, as:'request'}
    <li>
        <fieldset id = "request_${request.id}">
            <legend>
            <h2>
                <a href="@{Plans.viewAsList(request.destination.plan.id)}">${request.destination.summary}</a>
            </h2>
            </legend>
            Sender: <a href = "@{Users.viewProfile(request.sender.id)}">${request.sender.username}</a>
            <br/>
            Justification:  ${request.justification} &nbsp; &nbsp; &nbsp; &nbsp;
            <a onclick="javascript: accept_request(${request.id});" style="cursor:pointer;" /><img src="/public/images/ranktable-tick.png" title="Accept" width="27" height="27"/></a>
			&nbsp;<a onclick="javascript: reject_request(${request.id});" style="cursor:pointer;" /><img src="/public/images/Cross.png" title="Reject" width="23" height="20"/></a>
        </fieldset>
    </li>
    #{/list}
</ul>
#{/if}
#{else}
No volunteer requests for this plan exist.
#{/else}


</br><a href="@{Plans.viewAsList(plan.id)}">Go back to plan</a>

<script type="text/javascript">

function accept_request(id)
  {
	$.post('@{accept()}' , {requestId: id});
	$("#request_" + id).html('<i>Request has been accepted</i>');
  }

function reject_request(id)
  {
	$.post( '@{reject()}' , {requestId: id});
	$("#request_" + id).html('<i>Request has been rejected</i>');
  }

</script>