 #{extends 'main.html' /}
 #{if type==1}
            <legend>
            <h2>
       <a href="@{Topics.show(id)}">Back to ${name}</a>           
            </legend>
			#{/if}
			#{else}
  <a href="@{Organizations.viewProfile(id)}">Back to ${name}</a>  			
  #{/else}

<br />
<br />
<u><font size ="5" color ="blue"> Requests </font></u>
<br />
<br />
#{if requests.isEmpty()}
<tr><td><i>No new Requests</i></td><td>
#{/if}
#{else}
 #{list items:requests, as:'request'}
    <li>
        <fieldset>
        	#{if type==1}
            <legend>
            <h2>
            	A new user ${request.source.username} Wants to join Topic ${request.topic.title}
            </h2>
            </legend>
			#{/if}
			#{else}
              A new user ${request.source.username} Wants to join Organization ${request.organization.name}
			#{/else}

			<input type = "button" value = "Accept" onclick="javascript: respondGalal(1,${request.id})">
			<input type = "button" value = "Reject" onclick="javascript: respondGalal(0,${request.id})">
        </fieldset>
    </li>
    #{/list}
#{/else}


<script type="text/javascript">
function respondGalal(stat, id){
	if (stat == 1) {
		//alert(stat + "" + id);
		//id = id + 1;
		$.post('@{RequestToJoins.respondToRequest()}',{status:stat,reqId:id});
		alert("Request Accepted!");
		window.location.reload();
	}
	else {
		$.post('@{RequestToJoins.respondToRequest()}', {
		status:stat, reqId: id
		});
		alert("Request rejected!");
		window.location.reload();	
	}
}


</script>