#{extends 'Login/index.html' /}
#{set title:'Contacts' /}

<div id = "contact">
<div id="pageNoSideBar">
		<div id="pageNoSideBar-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">Contact Us  </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<ul>							
							<li><b>Our Doctor: </b><a href="mailto:fatma.meawad@guc.edu.eg"><i>Dr. Fatma Meawad</i></a>								 							
								</li>
								<li><b>Our Scrum Master: </b><a href="mailto:mohamed.monayri@gmai​l.com"> <i>Mohamed El-Monayri</i></a>								
								</li>
								<li><b>Our Manager: </b><a href="mailto:nohakhater@gmail.com"><i>Noha Khater</i></a>								
								</li>
								<li><b>Our Teams: </b> 
								<br> 
								&nbsp;&nbsp;&nbsp;<b>User Management and Relations Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Nada Osama</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Lama Ashraf</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mai Magdy</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mostafa Ali</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader <a href="mailto:aymaestro@gmail.com"><i>Ahmed Maged</i></a>								
								<br>
								&nbsp;&nbsp;&nbsp;<b>Organisation and Relation Management Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Fadwa Sakr</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Omar Faruki</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mohamed Hisham</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ibrahim El-Khayat</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader<a href="mailto:nohakhater@gmail.com"><i>Noha Khater</i></a>								 
								<br>
								&nbsp;&nbsp;&nbsp;<b>Requests and Ideas Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Alia El-Bolock</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ahmed El-Hadi</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Abdelrahman Mursi</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mostafa Aboul-Atta</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader<a href="mailto:mostafayasser.1991@g​mail.com"><i>Mostafa Yasser</i></a>							
								<br>
								&nbsp;&nbsp;&nbsp;<b>Browsing Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Monica Yusri</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ibrahim Safwat</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Fady Amir</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Loaay  Alkherbawy</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader<a href="mailto:mgmohamedganem@gmail.com"><i>Mohamed Gomaa</i></a>									
								<br>
								&nbsp;&nbsp;&nbsp;<b>Planning and Tracking Team: </b>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Yassmeen Hussein</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mohamed Mohie</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Alaa Sammer</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Hassan Ziko</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader<a href="mailto:salma.qayed@gmail.co​m"><i>Salma Osama</i></a>								 
								</li>							
								<br>
								<li><strong><u>To reach us all: </u></strong>
								<i><u>coolsoft-11@googlegroup.com</u></i></li>
							</ul>
						</div>
					</div>
			</div>
			<div style="clear: both;">&nbsp;</div>

		</div>
	</div>
</div>
<!-- end #content -->
</div>