#{extends '/ideas/layout.html' /}
<div id="crudBlank" class="${type.name}">
    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>
    <font color="Red">
        ${message}
    </font>
    <div class="objectForm">
        #{form action:@create(topicId), enctype:'multipart/form-data'} 
        #{crud.form fields: ['title', 'description']} 
        #{crud.custom 'title'}
        <p>
            <label for="object_title">
                Title
            </label>
            <input type="text" id="object_title" cols="30" rows="1" class="" name="object.title" required>
            <span class="crudHelp">
                <font color="Red">
                    *
                </font>Required
            </span>
        </p>
        #{/crud.custom}
        #{crud.custom 'description'}
        <p>
            <label for="object_description">
                Description
            </label>
            <textarea id="object_description" cols="50" rows="5" class="" name="object.description"required></textarea>
            <span class="crudHelp">
                <font color="Red">
                    *
                </font>Required
            </span>
        </p>
        #{/crud.custom}
        #{/crud.form }
        <p class="crudButtons">
            <input "hidden" id = "save" type="submit" name="_save" value="&{'Post Idea', type.modelName}" />
        </p>#{/form}
		<button onclick="save()">Save as Draft</button>
        <input "hidden" type = "sumbit" href="">
    </div>
</div>
<script type="text/javascript">
	function save()
	{
		var id = ${topic.id};
		var x = document.getElementById("object_title").value.toString();
		var y = document.getElementById("object_description").value;
		$.post('@{Ideas.createDraft()}' ,{title:x, description:y, topicId:id},function(){window.location.href= "/ideas/getdrafts"}  );
		//alert("Idea Saved ");
	}
</script>