#{extends '/ideas/layout.html' /}


<style type="text/css">
	#labels li
	{
		display: inline;
		list-style-type: none;
		padding-right: 20px;
	}
</style>
<br/>
<input type="submit" value="Back to topic" onclick=location.href="@{Topics.show(topic.id)}">
<br/>
<br/>
<h3>
    <label>
        View idea
    </label>
</h3>
<div id="labelsContainer">
	<ul id="labels">
	 	#{if ideasLabels.isEmpty()==false}
			<li><font color="#123456">Labels:</font></li>
		#{/if}
		#{list items:ideasLabels, as:'label'}
			<li><a href='@{Labels.showLabel(label.id)}'>${label.name}</a></li>
		#{/list}
	</ul>
</div>
<br/>
<table id = "success" border="0" bgcolor="#FF0000" cellspacing="0" id ="toFil">
		<tr><td><font size ="3" color ="black"><i>
					<font color="#000000"><b><i>Idea Has been Reported As Spam</i></b></font>                
        </i></font></td><td>
</table>

<div id="crudShow" class="${type.name}">
    <br/>
    <font color="Red">
        ${message}
    </font>
    <br/>
    
    <div class="objectForm">
    
    #{if isAuthor}
    #{form @delete(object._key())}
		<p class="crudDelete">
			<input type="submit" value="&{'Delete Idea                  ', type.modelName}" />
		</p>
	#{/form}    
	#{/if}
	
	#{if canDelete && !isAuthor}
		<form action="@{delete(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        <p class="crudDelete">
        	<input type="hidden" name = "justification" id = "justText">
            <input type="submit"  value="&{'Delete Idea                  ', type.modelName}" />
        </p>
    </form>
	#{/if}
	<div>
	#{if canDelete && !isAuthor}
	<form action="@{hide(object.id,justification)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        <p class="crudDelete">
        	<input type="hidden" name = "justification" id = "justText">
            <input type="submit"  value="&{'Hide Idea', type.modelName}" />
        </p>
    </form>
    #{/if}
    </div>
        #{form action:@show(object._key()), enctype:'multipart/form-data'}
		<br/>
        #{crud.form fields: ['author','belongsToTopic','title','description']}
		<br/>
        #{crud.custom 'author'}
        <p>
            <label for="object_creator">
                by
            </label>
            <label disabled= true id="object_creator" cols="30" rows="1" class="" name="object.author">${object.author}</label>
        </p>
        #{/crud.custom }
		<br/>
        <br/>
        #{crud.custom 'belongsToTopic'}
        <p>
            <label for="object_topic">
                Idea belong to topic 
            </label>
            <label disabled= true id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">${object.belongsToTopic}</label>
        </p>
        #{/crud.custom }
		<br/>
        <br/>
        #{crud.custom 'title'}
        <p>
            <label for="object_title">
                Title
            </label>
            <label disabled= true id="object_title" cols="25" rows="2" class="" name="object.title">${object.title}</label>
        </p>
        #{/crud.custom}
		<br/>
        <br/>
        #{crud.custom 'description'}
        <p>
            <label for="object_description">
                Description
            </label>
            <label disabled= true id="object_description" cols="60" rows="5" class="" name="object.description" required>${object.description}</label>
        </p>
        #{/crud.custom}
		<br/>
        <br/>
        </p>
        #{/crud.form }
		<br/>
        #{/form}
    </div>
    <br>
		  #{if ideaAlreadyReported==false}
    <form action="@{Users.reportIdeaAsSpam()}" method="GET" name="myform">
        <input type="hidden" name="ideaId" value="${ideaId}">
                <input id="spam" type="submit" value="Report Idea As Spam">
            </form>
            #{/if}
            #{if ideaAlreadyReported==true}
        <input id="spam" disabled="disabled" type="submit" value="Report Idea As Spam">
        <b><font color="Red">you have already reported this idea</font><b>
            #{/if}
            <script type="text/javascript">
            	$('#spam').click(function(){
            	$('#success').show();});
            	function prompt1(){
					var text = prompt("Why do you want to delete/hide this idea?");
					
					if(text){
						document.getElementById("justText").value=text;
						return true;
					}
					else{
						return false;
					}
					
				}
            </script>
            <style type="text/css">
			#success{display: none;}
		</style>
            
	<br>
	<div>
	<form action="@{Ideas.shareIdea()}">
			<input type="submit" value="Share with user" />
			<input type="hidden" name="ideaId" value="${ideaId}">
			<input type="text" name="userName" id="userName"/>
		</form>
			<input type="button" id ='like' value="Like" onclick="like()" />
			<input type="button" id ='dislike' value="Dislike" onclick="disLike()" />
		<form>
			<big><b>List Of Duplicates</b></big>
			#{list items:idea.duplicateIdeas , as:'idea'}
			<li>
				<a href='@{Ideas.show(idea.id)}' ><b>${idea.title}</b></a>
			</li>
			#{/list}
		</form>
				<script type='text/javascript'>
			;
			function like(){
				$.post('@{Ideas.like}',{ideaId: ${ideaId}},function(){
					alert("you liked this idea");
					document.getElementById('like').disabled = true;
					document.getElementById('dislike').disabled = true;
				});
				}
				;
			function disLike(){
				$.post('@{Ideas.disLike}',{ideaId: ${ideaId}},function(){
					alert("you disliked this idea");
					document.getElementById('like').disabled = true;
					document.getElementById('dislike').disabled = true;
				});
			}
		</script>
		</br>
 		Idea rating : ${rate}
 		<br/>
 		
 		#{if checkPermitted}
 		#{if checkNotRated}
		<form action="@{Ideas.rate(ideaId,rat)}" method="GET">
    <input type="submit" value="Submit rating"/><input type = "hidden" name = "ideaId" value = ${ideaId}>
    <select name="rat">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</form>
		#{/if}
		#{else}
		You have already rated this idea
		#{/else}
		#{/if}
		<br />
 		<form action="@{Comments.addCommentToIdea()}" method="GET">
			<input type = "text" name = "comment">
      	 	<input type = "hidden" name = "ideaID" value = ${ideaId} >
			<input type = "submit" value = "Comment"  >
		</form>
		<br/>
		<input type = "submit" value = "Show Comments" onclick="viewComments()" >
		<br/>
		<script type="text/javascript">
			function viewComments(){
				
				document.getElementById('div1').innerHTML = "#{if comments} Comments <br/> <ul> #{list comments, as:'comment'} <li><a>${comment.toString()}</a></li> #{/list} <br/></ul> #{/if} #{else}No comments posted#{/else}"
			}
			</script>
			
		<br/>
		Idea priority : ${priority}	
		<br/>
		#{if checkPermitted}
		<form action = @{Ideas.setPriority()} method = "GET">
		<input type ="submit" value = "Submit Priority"/>
		<br />
		<input type = "radio" name = "priority" value = "critical" checked ="checked"/> critical
		<br />
		<input type = "radio" name = "priority" value = "high"/> high
		<br />
		<input type = "radio" name = "priority" value = "medium"/> medium
		<br />
		<input type = "radio" name = "priority" value = "low"/> low
		<br />
		</form>
		#{/if}
        <br />
        <br />
        </div>
        </br>
        </div>
		<form action="@{Ideas.tagIdea()}" method="post">
        	<input type="hidden" value=${ideaId} name='ideaId'>
			<input type="hidden" value='@@' name='tag'>
			<input type="submit" value="Add tags">
        </form>
      	  <div id='div1' align='left'>
</div>