#{extends '/ideas/layout.html' /}
<html>
    <head>
        <title>Adding Tags</title>
	</head>
    <body>
    	

		
        <p>
        	
			#{if ${Ideas.tagAlreadyExists} == true}
			alert(tag already exists);
			#{/if}
			
        	#{if ${Ideas.userNotAllowed} == false}
			#{form @Ideas.tagIdea()}
            <input type="text" name="tag" id="tag">
			<input type="hidden" name="ideaId" value="${ideaId}">
			<input type="submit" value="Add Tag">
			#{/form}
			#{/if}
			#{else}
			alert('You are not allowed to tag this idea!');
			#{/else}
        </p>
    </body>
</html>
