#{extends 'login/index.html' /}

<style>
#deleteHide{
	text-align:right;
}

#crudShow{
	margin-top: 1%;
	margin-right: 25%;
	margin-bottom: 4%;
	margin-left: 16.5%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #bbbbbb;
	padding-top: 2%;
	padding-right: 4%;
	padding-bottom: 0%;
	padding-left: 4%;
	position: relative;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #bbbbbb;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #bbbbbb;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #bbbbbb;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #bbbbbb;
	word-wrap: break-word;
}

#descriptionShow{
	margin-top: 2%;
	margin-right: 14%;
	margin-bottom: 4%;
	margin-left: 8%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #FFFFFF;
	padding-top: 2%;
	padding-right: 4%;
	padding-bottom: 0%;
	padding-left: 4%;
	position: relative;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #bbbbbb;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #bbbbbb;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #bbbbbb;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #bbbbbb;
	word-wrap: break-word;
}

.arrow {
   
    height: 15px;
    left: -7px;
    position: absolute;
    top: 25px;
    width: 8px;
}

#backToEntity{
	margin-right: 17%;
	margin-left: 11%;
	text-align:left;
}
</style>

<div id="leftSidebar">
    <ul>
        <div style="clear: both;">
            &nbsp;
        </div>
        <li>
            <ul>
            	<li>
            		No actions yet
            	</li>
				
            </ul>
        </li>
    </ul>
</div>

<div id="backToEntity" ><a href="@{MainEntitys.viewEntity(entity.id)}"> Back to ${entity.name}</a></div>
<div id="crudShow" class="${type.name}">
	
	<h2 id="crudBlankTitle" style="font-family:'Lucida Grande',Verdana,Arial,Sans-Serif; color:#000000">&{'crud.blank.title', type.modelName}</h2>
	<br />
	
	<font color="Red">${message}</font>	<font size="3px" color="#123456"><span id="flashAmessage"></span></font>
	
	<div class="objectForm">
	#{form action:@create(entityId), enctype:'multipart/form-data'}
	#{crud.form fields: ['title', 'description', 'privacyLevel', 'createRelationship']}
		
			#{crud.custom 'title'}
	  		<p> 
 			<label for="object_title">Title</label>
			<br />
			<input type="text" id="object_title" cols="30" rows="1" class="" name="object.title" required/><span id = "ideaTitleError"></span>
 			<span class="crudHelp" ><font color="Red">*</font></span>
			</p> 
			#{/crud.custom}
		
			#{crud.custom 'description'}
			<p> 
 			<label for="object_description">Description</label>
			<br /> 
			<textarea id="object_description" cols="50" rows="5" class="" name="object.description" required></textarea><span id = "ideaDescriptionError"></span>
			<span class="crudHelp" ><font color="Red">*</font></span> 
 			</p> 
			#{/crud.custom}
			
			#{crud.custom 'privacyLevel'}
			<p> 
 			<label for="object_privacyLevel">Privacy Level</label> 
			<select name="object.privacyLevel" id="object_privacyLevel">
 				<option value = "1">private</option>
				<option value = "2">public</option>
 			</select>
 			<span class="crudHelp" ><font color="Red">*</font></span> 
			</p> 
			#{/crud.custom } 
			
			#{crud.custom 'createRelationship'}
			<p> 
 			<label for="object_createRelationship">Allow this topic to have relationships</label> 
			<input type="checkbox" id="object_createRelationship" name="object.createRelationship"> 
			</p> 
			#{/crud.custom } 
		
		#{/crud.form }
		<p class="crudButtons">
			<input id = "save" type="submit" name="_save" value="&{'crud.save', type.modelName}" class="linkButton"/>
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" class="linkButton"/>
			<input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" class="linkButton"/>
			
		</p>
	#{/form}
			
			<input type="submit" id ="saveAsDraftButton" value="Save as Draft" onclick="saveAsDraft()" class="linkButton"></input>
			
	</div>

</div>

<script type="text/javascript">
				
	function saveAsDraft() {
		var entityId = ${entity.id};
		var topicId = auto.kill;
		var topicTitle = document.getElementById("object_title").value.toString();
		var topicDescription = document.getElementById("object_description").value.toString();
		var privacyLevel = getPrivacyLevel();
		
		var createRelationship = document.getElementById("object_createRelationship").checked;
					
		var link = "/mainentitys/viewentity?id="+entityId;
		$.post('@{Topics.createDraft()}' ,{title:topicTitle, description:topicDescription, 
			privacyLevel: privacyLevel, createRelationship: createRelationship,
			topicId:topicId}, function(){window.location.href=link});					
	}
	
	function discardDraft() {
		if (getSavedCounter() != 0) {
			$.post('@{Topics.discardDraftTopic()}', {
				topicId: getKill()
			});
		}
		return true;
	}
	
	function testing() {
		
		var id = getKill();
		alert(id);
		 $.getJSON( '@{Topics.discardForCrud()}',{topicId:id},  function(data) {
		 	alert(data);
		 });
	}
	
	
</script>
<script type="text/javascript">

				//window.onload = auto;
				if(!auto.kill) auto.kill = 0;
				if(!auto.c) auto.c = 0;
				
				function getPrivacyLevel()
				{
					var privacyLevelString = document.getElementById("object_privacyLevel").value.toString();
					var privacyLevel;
					
					if(privacyLevelString == "1") {
						privacyLevel = 1;
					} else {
						privacyLevel = 2;
					}
					
					return privacyLevel;
					
				}
				
				function save()
				{
					var entityId 		 = ${entityId};
					var topicTitle 		 = document.getElementById("object_title").value.toString();
					var topicDescription = document.getElementById("object_description").value.toString();
					
					if(validate())
					{
						var link = "/mainentitys/viewentity?id="+entityId;
						
						$.post('@{Topics.createDraft()}' ,
						{title:topicTitle, description:topicDescription,
							privacyLevel: privacyLevel, createRelationship: createRelationship,
							entityId:entityId}, 
						function(){window.location.href=link});
					}					
				}
				
				function takeFirstSave()
				{
					var id;
					var x = ${entityId};
					var y = document.getElementById("object_title").value.toString();
					var z = document.getElementById("object_description").value.toString();
					var r = getPrivacyLevel();
					var w = document.getElementById("object_createRelationship").checked;
						

					if(!validate2())
						setTimeout("takeFirstSave()",'1000');
					else
					{
						$.post('@{Topics.createDraft()}', 
						{
							title:y, 
							description:z, 
							privacyLevel:r, 
							createRelationship:w,
							entityId:x
						}, 
						function(data){
							id = data;
							auto.kill = id;
							
							var currentTime = new Date();
							var hours = currentTime.getHours();
							var minutes = currentTime.getMinutes();
			
							if (minutes < 10)	
								minutes = "0" + minutes;
			
							var write =(hours + ":" + minutes /*+ ":" + secs + " "*/ );
							
							document.getElementById("flashAmessage").innerHTML = "Topic auto saved as a draft at " + write;
							setTimeout("myFader()", '3000');
						});
						
					}
					auto.c = 1;
				}
				
				function auto()
				{
					
					if(!auto.t) auto.t = document.getElementById("object_title").value.toString();
	            	if(!auto.b)	auto.b = document.getElementById("object_description").value.toString();
					if(!auto.pr) auto.pr = getPrivacyLevel();
					if(!auto.createRelation) auto.createRelation = document.getElementById("object_createRelationship").checked;
					
					
					
	                if (auto.c == 0) 
					{
                    	takeFirstSave();    
                    }
					else
					{
						var x = document.getElementById("object_title").value.toString();
	            		var y = document.getElementById("object_description").value.toString();
	            		var r = getPrivacyLevel();
						var w = document.getElementById("object_createRelationship").checked;
					   		
						var currentTime = new Date();
						var hours = currentTime.getHours();
						var minutes = currentTime.getMinutes();
		
						if (minutes < 10)	
							minutes = "0" + minutes;
		
						var write =(hours + ":" + minutes /*+ ":" + secs + " "*/ );
						
						var xx = jQuery.trim(x);
						var yy = jQuery.trim(y);
						
						if(((x != auto.t) || (y != auto.b)|| w != auto.createRelation || r != auto.pr) && ((xx != "") && (yy != "") ) )
						{
							
							$('#flashAmessage').fadeIn('10');
							
							$.post('@{Topics.saveDraft()}', 
							{
								title:x, 
								description:y, 
								privacyLevel:r, 
								createRelationship:w,
								topicId:auto.kill
							});
							
							auto.t = x;
	            			auto.b = y;
							auto.createRelation = w;
							auto.pr = r;
							
							document.getElementById("flashAmessage").innerHTML = "draft auto saved at " + write;
							setTimeout("myFader()",'3000');
						}
					
					}
					setTimeout("auto()",'10000');
				}
				
					function myFader()
					{
						$('#flashAmessage').fadeOut('500');
					}
					
					
						
					function validate()
					{
						var x = document.getElementById("object_title").value.toString();
						var y = document.getElementById("object_description").value.toString();
					
						var Tflag = true;
						var Dflag = true;
						
						x = jQuery.trim(x);
						y = jQuery.trim(y);
						
						if(x=="")
						{
							document.getElementById("ideaTitleError").innerHTML = "please enter a title for the topic";
							Tflag = false;
						}
						else
						{
							document.getElementById("ideaTitleError").innerHTML = "";
							Tflag = true;
						}
						if(y=="")
						{
							document.getElementById("ideaDescriptionError").innerHTML = "please enter a body for the topic";
							Dflag = false;
						}
						else
						{
							document.getElementById("ideaDescriptionError").innerHTML = "";
							Dflag = true;
						}
						
						if(Tflag && Dflag)
						{
							return true;
						}
						else
						{
							return false;
						}
					}
					
					function validate2()
					{
						var x = document.getElementById("object_title").value.toString();
						var y = document.getElementById("object_description").value.toString();
						
						var Tflag = true;
						var Dflag = true;
						
						x = jQuery.trim(x);
						y = jQuery.trim(y);
						
						if(x=="")
						{
							Tflag = false;
						}
						else
						{
							Tflag = true;
						}
						if(y=="")
						{
							Dflag = false;
						}
						else
						{
							Dflag = true;
						}
						
						if(Tflag && Dflag)
						{
							return true;
						}
						else
						{
							return false;
						}
					}
					
					function getKill() {
						return auto.kill;
					}
					
					function getSavedCounter() {
						return auto.c;
					}
			</script>
	
			