#{extends 'login/index.html' /}
#{script src:"jquery-1.5.2.min.js" /}
<script type="text/javascript" src="/public/javascripts/jquery-1.4.1.js"></script>
<br/>
<input type="submit" value="Back to Entity" onclick=location.href="@{MainEntitys.viewEntity(entity.id)}">
<br/>
<br/>
<h3>
    <label>
        View Topic
    </label>
</h3>
<br/>
<table id = "success" border="0" bgcolor="#FF0000" cellspacing="0" id ="toFil">
		<tr><td><font size ="3" color ="black"><i>
					<font color="#000000"><b><i>Topic Has been Reported As Spam</i></b></font>                
        </i></font></td><td>
</table>
<div id="crudShow" class="${type.name}">
    <br/>
    <font color="Red">
        ${message}
    </font>
    <br/>
    <div class="objectForm">
        #{form action:@view(object._key()), enctype:'multipart/form-data'}
        <br/>
        #{crud.form fields: ['title', 'creator', 'entity', 'description', 'privacyLevel', 'createRelationship']}
        <br/>
        #{crud.custom 'title'}
        <p>
            <!--<label for="object_title">Title</label>-->
            <label id="object_title" cols="30" rows="1" class="" name="object.title">
                ${object.title}
            </label>
        </p>
        #{/crud.custom}
        <br/>
        <br/>
        #{crud.custom 'creator'}
        <p>
            <label for="object_creator">
                by
            </label>
            <label id="object_creator" cols="30" rows="1" class="" name="object.privacyLevel">
                ${object.creator}
            </label>
        </p>
        #{/crud.custom }
        <br/>
        <br/>
        #{crud.custom 'entity'}
        <p>
            <label for="object_entity">
                in
            </label>
            <label id="object_entity" cols="30" rows="1" class="" name="object.privacyLevel">
                ${object.entity}
            </label>
        </p>
        #{/crud.custom }
        <br/>
        <br/>
        #{crud.custom 'description'}
        <p>
            <label for="object_description">
                Description
            </label>
            <label id="object_description" cols="50" rows="5" class="" name="object.description">
                ${object.description}
            </label>
            <!--<span class="crudHelp" ><font color="Red">*</font>Required</span>-->
        </p>
        #{/crud.custom}
        <br/>
        <br/>
        #{crud.custom 'privacyLevel'}
        <p>
            <label for="object_privacyLevel">
                Privacy Level
            </label>
            #{if object.privacyLevel ==1} 
            <label id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">
                private
            </label>
            #{/if}
            #{else}
            <label id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">
                public
            </label>
            #{/else}
        </p>
        #{/crud.custom }
		
		#{crud.custom 'createRelationship'}
        <p>
            <label for="object_createRelationship">
                createRelationship
            </label>
            <label id="object_createRelationship" cols="50" rows="5" class="" name="object.createRelationship">
                ${object.createRelationship}
            </label>
            <!--<span class="crudHelp" ><font color="Red">*</font>Required</span>-->
        </p>
        #{/crud.custom}
        #{/crud.form }
        <br/>
        #{if permission == 1}
        <br>
        <button type="submit" onlclick="#" >  Edit
        </button>
        <br>
        #{/if}
        <br/>
        #{if allowed==1}<a href="@{RequestToJoins.viewRequests(1,object.id)}">Requests</a>
		<br>
		<br>
		   <a href="@{Invitations.invite(object.id,1,0,0)}">Invite</a>
        #{/if}
        <br>
       
	    #{/form}
		#{if alreadyReportedTopic==false}
    	<form action="@{Users.reportTopicAsSpam()}" method="GET" name="myform">
        <input type="hidden" name="topicId" value="${topicId}">
        <input id="spam" type="submit" value="Report Topic As Spam">
            </form>
            #{/if}
        #{if alreadyReportedTopic==true}
        <input id="spam" disabled="disabled" type="submit" value="Report Topic As Spam">
        <b><font color="Red">you have already reported this topic</font><b>
            #{/if}    
            <script type="text/javascript">
            	$('#spam').click(function(){
            	$('#success').show();});
            </script>
            <style type="text/css">
			#success{display: none;}
		</style>
		<form action="@{Topics.tagTopic()}" method="post">
        	<input type="hidden" value=${topicId} name='topicId'>
			<input type="hidden" value='@@' name='tag'>
			<input type="submit" value="Add tags">
        </form>
		
		<h4>List of ideas within this topic : </h4>
        <div>
        
        #{if numberOfIdeas > 0}
        <form action=@{Ideas.show(ideaId)}>
                #{if ideas}
                #{list items:ideas, as:'idea'}
                #{if idea.isDraft == false}
				<li id="idea_${idea.id}">
				<fieldset>
                <a id = "LOL" href="@{Ideas.show(idea.id)}"><font size=3>${idea.title}</font></a>
				#{if canDelete}
				<input type="button" name="hide" value="Hide Idea" onclick="hides(${idea.id});">
				<input type="button" name="delete" value="x" onclick="deletes(${idea.id});">
				#{/if}
                <div id = "table_${idea.id}">
                <label><font size=3>Description : ${idea.description}</font></label>
                </br>
                <label><font size=3>by : ${idea.author}</font></label>
                </tr>
                </div>
                </fieldset>
                </li>
				#{/if}
                #{/list}
                        <script type ="text/javascript">
        				$("#hide").click(function(){
						$("#idea").hide();});
                        

                        var showOrHide = function(id) {
                        		$("#table_"+id).toggle();
                        		$("#hidedetails_"+id).toggle();
                        		$("#showdetails_"+id).toggle();
                        	
                        }
		
      		    </script>
                #{/if}
                #{else}
                no ideas posted to this topic
                #{/else}    
        </form>
        #{/if}
        		
		#{if numberOfIdeas > 1 && canMerge == 1}
		#{form @Topics.getIdeasToMerge(), method:'POST', enctype:'multipart/form-data' }
				<input type = "hidden" name = "topicId" value = ${topicId}>
				<input type="submit" value="Merge Ideas" />
		#{/form}
		#{/if}
        #{if numberOfIdeas == 0}<h4>no ideas posted to this topic</h4>
        #{/if}
<!--        <form action="@{Ideas.blank(topicId)}" method="post">-->
<!--            <input id="postIdea" type="hidden" name"topicId" value="${topicId}"><HR><input type="submit" value="Post Idea to this topic">-->
<!--        </form>-->
		
		#{if canDelete}
		<input id="showhidden" type="submit" value="show hidden Ideas">
		<div id="hidden">
		#{list items:hiddenIdeas, as:'idea'}
				<fieldset>
				</br>
                <label>${idea.title}</label>
                </br>
                <label>Description : ${idea.description}</label>
                </br>
                <label>by : ${idea.author}</label>
                <input type="submit" value="unhide" onclick="unhide(${idea.id})">
                </fieldset>
        #{/list}
        </div>
		#{/if}
        
        #{if topicNotClosed==true}
        <input id="postIdea" type="button" value="Post Idea to this topic">
        #{/if}
        <div id="postIdeaform">
        	<p>
            <label>Title  <font color="#123456"><span id="flashAmessage"></span></font>
            <br>	
       		<input type="text" id="ideaTitle" cols="30" rows="1" class="" name="object.title" required>
            <span id = "ideaTitleError">
                <font color="Red">
                    *
                </font>Required
            </span>
            </p>
            <p>
            <label>
                Description
            </label>
            <br>
            <textarea id="ideaDescription" cols="50" rows="5" class="" name="object.description" required></textarea>
            <span id="ideaDescriptionError">
                <font color="Red">
                    *
                </font>Required
            </span>
            </p>
			<input id ="draftSaver" type="submit"  value="Save as Draft" onclick="save()" ></input>
           	<input type="submit" value="post" onclick="postIt()"></input<
		</div>
		<style type="text/css">
			#postIdeaform{display: none;}
		</style>
		#{if numberOfIdeas > 0}
		<style type="text/css">
			#showdetails_${idea.id}{display: none;}
		</style>
		#{/if}
		<script type="text/javascript">
		$("#postIdea").click(function(){
			$("#postIdeaform").toggle();
			auto();
           });
		$("#showhidden").click(function(){
          	 $("#hidden").toggle();
           });
                 </script>
		<style type="text/css">
			#hidden{display: none;}
		</style>                 
<!--        #{if canPost == true}-->
<!--        #{/if }-->
    </div>
    #{if permission == 1}
    #{if !hidden}
    #{if deletable}
    <form action="@{delete(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        <p class="crudDelete">
        	<input type="hidden" name = "justification" id = "justText">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    </form> #{/if}
    #{if !deletable}
    <form action="@{hide(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        <p class="crudDelete">
        	<input type="hidden" name = "justification" id = "justText">
            <input type="submit" value="&{'Hide Topic', type.modelName}" />
        </p>
    </form> #{/if}
    #{/if}
	#{if hidden}		
		#{if object.hider.username == actor.username}		
		   <form action="@{unhide(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return confirm('Are you sure you want to unhide this topic?');">		
	        <p class="crudDelete">		
           <input type="submit" value="Unhide" />		
       </p>		
    </form>		
		
    #{/if}		
	#{/if}
    #{/if}


</div>#{if canClose == 1 && openToEdit == true}
			#{form @Topics.closeTopic(), method:'POST', enctype:'multipart/form-data' }
				<input type = "hidden" name = "topicId" value = ${topicId}>
				<input type="submit" value="Close Topic" />
			#{/form} 
		#{/if} 

		#{if canClose == 1 && openToEdit == false}
			#{form @Topics.reopen(), method:'POST', enctype:'multipart/form-data' }
				<input type = "hidden" name = "topicId" value = ${topicId}>
				<input type="submit" value="Reopen Topic" />
			#{/form}
		#{/if}

#{if canPlan == 1 && plan == null}
#{form @Plans.planCreate(), method:'POST', enctype:'multipart/form-data' }
<input type = "hidden" name = "topicId" value = ${topicIdLong}>
<input type="submit" value="Create A plan" />
#{/form}
#{/if}
#{if plan != null}
#{form @Plans.viewAsList(), method:'POST', enctype:'multipart/form-data' }
<input type = "hidden" name = "planId" value = ${plan.id}>
<input type="submit" value="View the plan" />
#{/form}
#{/if}
#{if check == 1}
 <input type="submit" value="Block/Unblock developers" onclick=location.href="@{BannedUsers.viewUsers(topicId,1)}">
#{/if}

#{if check2 == 1}
 <input type="submit" value="use" onclick=location.href="@{BannedUsers.viewUsers(entity.id,0)}">
#{/if}
<HR>

#{if (targetTopic.createRelationship == true)}
			#{if (canCreateRelationship == true)}
			<p>
				<a href="@{Topics.createRelation(object.id,object.entity.id)}">Create Relation</a>
			</p>
			#{/if}
			#{/if}

 <a onclick="$('#lista').slideToggle();">Show Relationships</a>
   <div id="lista" style="display: none;">
   	#{if targetTopic.relationsSource != null}
      #{list items:targetTopic.relationsSource, as:'relationElement'}
			<ul><a href="/topics/show?topicId=${relationElement.source.id}">${relationElement.source.title}</a> <q id=${relationElement.id}>${relationElement.name}</q> <a href="/topics/show?topicId=${relationElement.destination.id}">${relationElement.destination.title}</a> #{if (canCreateRelationship == true)}<input type="button" value="rename" onclick="showRename(${relationElement.id})"/> <input type="button" value="end relationship" onclick="endRelation(${relationElement.id})" />#{/if}</ul>
	  #{/list}
	#{/if}
	#{if targetTopic.relationsDestination != null}
	  #{list items:targetTopic.relationsDestination, as:'relElement'}
			<ul><a href="/topics/show?topicId=${relElement.source.id}">${relElement.source.title}</a> <q id=${relElement.id}>${relElement.name}</q> <a href="/topics/show?topicId=${relElement.destination.id}"> ${relElement.destination.title}</a> #{if (canCreateRelationship == true)}<input type="button" value="rename" onclick="showRename(${relElement.id})"/> <input type="button" value="end relationship" onclick="endRelation(${relElement.id})" />#{/if}</ul>
	  #{/list}
	#{/if}
   </div>
   
   <script type="text/javascript">
   	function showRename(relId)
	{
	var newRelName = prompt("Please enter the new name:", document.getElementById(relId).textContent);
	location.reload();
	if (newRelName!=null && newRelName!="")
  	{
  	$.post('@{TopicRelationships.renameRelationship()}', {
		relationToBeRenamedId: relId,
		newName: newRelName
	});
	
  	}
	}
   </script>


<form action="@{Topics.viewFollowers()}">
    <HR><input type="hidden" name="topicId" value="${targetTopic.id}"><input type="hidden" name="f" value="true">#{if (!targetTopic.followers.contains(user))} 
    <p>
        #{if follower == false} 
        Follow ${targetTopic.title} <input type="submit" value="Follow">#{/if}
        <br/>
        #{/if}
        </form>
        #{if follower == true}
        <p>
            Unfollow ${targetTopic.title} <input type="submit" value="unfollow" onclick="unfollow('${topicId}');"/>
        </p>#{/if}
        </br>
        <form action="@{Topics.viewFollowers()}">
            <input type="hidden" name="topicId" value="${targetTopic.id}"><input type="hidden" name="f" value="false">View ${targetTopic.title} Followers <input type="submit" value="Followers">
           </form>
		    <br/>
            <HR>#{if canNotPost == true}
            <p>
                <a onclick="requestToPost('${topicId}');" href="#">request to post on this topic</a>
            </p>
            #{/if}
            #{if pending == true && canNotPost == false}
            <p>
                Request To Post status: Pending
            </p>
			
            #{/if}
			<br />
			
			#{if seeRelationStatus}
			#{if createRelationship}
			<form name="topicForm" action="@{Topics.changeRelationStatus()}" method="POST">
				<input type = "hidden" name = "topicId" value = ${targetTopic.id} >
				<input type="checkbox" id="createRelationship" name="createRelationship" checked>Allow topic to have relationships<br />
				<input type="submit" onclick="get_Value()" value="Change"><br />
				<HR>
			</form>
			#{/if}
			#{else}
			<form name="topicForm" action="@{Topics.changeRelationStatus()}" method="POST">
				<input type = "hidden" name = "topicId" value = ${targetTopic.id} >
				<input type="checkbox" id="createRelationship" name="createRelationship">Allow topic to have relationships
				<input type="submit" onclick="get_Value()" value="Change"><br />
				<HR>
			</form>
			#{/else}
			#{/if}
			<!--#{form @delete(object._key())}
            <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
            </p>
            #{/form}-->
            </div>       
            
             #{if (canRestrict == 1)}
		
		     <input type="submit" value="Restrict/De-Restrict Organizer" onclick=location.href="@{BannedUsers.restrictOrganizerTopicPath(topicId)}">
		      <HR>	
		    #{/if}
		    
		    <form action="@{Topics.requestRelationship(actor.id, organisation.id, entity.id, targetTopic.id)}" method="post">
 				<input type="submit" value="Request Relationship Creation">
  				</form>
 			<form action="@{Topics.viewRelationships(actor.id, organisation.id, entity.id, targetTopic.id, canRequestRelationship)}" method="post">
  				<input type="submit" value="View Relationships">
  				</form>

            <script type="text/javascript">
            	
            	function endRelation(relId){
				$.post('@{TopicRelationships.delete()}', {relationId: relId});
				alert("relation deleted succesfully!");
				window.location.reload();
				}
				
                function requestToPost(id, user){
                    $.post('@{addRequest()}', {
                        topicId: id
                    });
                    alert("done!");
                    location.reload(true);
                }
                
                function unfollow(topic, user){
                    $.post('@{Users.unfollowTopic()}', {
                        topicId: topic
                    });
                    alert("done!");
                    location.reload(true);
                }
				function get_Value() {
					var createRelationship = false;
					if(document.topicForm.createRelationship.checked) {
						createRelationship = true;
					}
					return createRelationship;
				}	
           		function prompt1(){
					var text = prompt("Why do you want to delete/hide this topic?");
					
					if(text){
						document.getElementById("justText").value=text;
						return true;
					}
					else{
						return false;
					}
					
				}
				
            </script>
            <script type ="text/javascript">
            
            </script>
			<script type="text/javascript">
				
				function save()
				{
					var id = ${topicId};
					var x = document.getElementById("ideaTitle").value.toString();
					var y = document.getElementById("ideaDescription").value;
					
					if(validate())
					{
						$.post('@{Ideas.saveDraft()}', {ideaId: auto.kill, title: x,description: y},function(){window.location.href= "/ideas/getdrafts"}  );
					}					
				}
				function takeFirstSave()
				{
					var id;
					var z = ${topicId};
					var x = document.getElementById("ideaTitle").value.toString();
					var y = document.getElementById("ideaDescription").value;
						

					if(!validate2())
						setTimeout("takeFirstSave()",'1000');
					else
					{
						$.post('@{Ideas.createDraft()}', {
						title: x,
						description: y,
						topicId: z
						}, function(data){
							id = data;
							auto.kill = id;
							var currentTime = new Date();
							var hours = currentTime.getHours();
							var minutes = currentTime.getMinutes();
			
							if (minutes < 10)	
								minutes = "0" + minutes;
			
							var write =(hours + ":" + minutes /*+ ":" + secs + " "*/ );
							
							document.getElementById("flashAmessage").innerHTML = "Idea auto saved as a draft at " + write;
							setTimeout("myFader()", '3000');
						});
						
					}
					auto.c = 1;
				}
				
				function auto()
				{
					if(!auto.c) auto.c = 0;
					if(!auto.t) auto.t = document.getElementById("ideaTitle").value;
	            	if(!auto.b)	auto.b = document.getElementById("ideaDescription").value;
					if(!auto.kill) auto.kill = 0;
					
	                if (auto.c == 0) 
					{
                    	takeFirstSave();    
                    }
					else
					{
						var x = document.getElementById("ideaTitle").value.toString();
		               	var y = document.getElementById("ideaDescription").value;			   
				   		
						var currentTime = new Date();
						var hours = currentTime.getHours();
						var minutes = currentTime.getMinutes();
		
						if (minutes < 10)	
							minutes = "0" + minutes;
		
						var write =(hours + ":" + minutes /*+ ":" + secs + " "*/ );
						
						var xx = jQuery.trim(x);
						var yy = jQuery.trim(y);
						
						if(((x != auto.t) || (y != auto.b)) && ((xx != "") && (yy != "") ) )
						{
							
							$('#flashAmessage').fadeIn('10');
							
							$.post('@{Ideas.saveDraft()}', {ideaId: auto.kill, title: x,description: y });
							
							auto.t = document.getElementById("ideaTitle").value;
		            		auto.b = document.getElementById("ideaDescription").value;
							
							document.getElementById("flashAmessage").innerHTML = "draft auto saved at " + write;
							setTimeout("myFader()",'3000');
						}
					
					}
					setTimeout("auto()",'10000');
				}
				
					function myFader()
					{
						$('#flashAmessage').fadeOut('500');
					}
					
					
						
					function validate()
					{
						var x = document.getElementById("ideaTitle").value.toString();
						var y = document.getElementById("ideaDescription").value;
						var Tflag = true;
						var Dflag = true;
						
						x = jQuery.trim(x);
						y = jQuery.trim(y);
						
						if(x=="")
						{
							document.getElementById("ideaTitleError").innerHTML = "please enter a title for the idea";
							Tflag = false;
						}
						else
						{
							document.getElementById("ideaTitleError").innerHTML = "";
							Tflag = true;
						}
						if(y=="")
						{
							document.getElementById("ideaDescriptionError").innerHTML = "please enter a body for the idea";
							Dflag = false;
						}
						else
						{
							document.getElementById("ideaDescriptionError").innerHTML = "";
							Dflag = true;
						}
						
						if(Tflag && Dflag)
						{
							return true;
						}
						else
						{
							return false;
						}
					}
					
					function validate2()
					{
						var x = document.getElementById("ideaTitle").value.toString();
						var y = document.getElementById("ideaDescription").value;
						var Tflag = true;
						var Dflag = true;
						
						x = jQuery.trim(x);
						y = jQuery.trim(y);
						
						if(x=="")
						{
							Tflag = false;
						}
						else
						{
							Tflag = true;
						}
						if(y=="")
						{
							Dflag = false;
						}
						else
						{
							Dflag = true;
						}
						
						if(Tflag && Dflag)
						{
							return true;
						}
						else
						{
							return false;
						}
					}
			</script>
			<script type="text/javascript">
				function postIt()
				{
					var id = auto.kill;
					var x = document.getElementById("ideaTitle").value.toString();
					var y = document.getElementById("ideaDescription").value;
					
					if(validate())
					{
						$.post('@{Ideas.postDraft()}' ,{ideaId: id, title: x, description: y },function(){location.reload();});
					}
				}
				function hides(id){
					$.post('@{hideIdea()}', {
						ideaId: id
					});
					$('#idea_' + id).hide();
			}
				function unhide(id){
					$.post('@{unhideIdea()}', {
						ideaId: id
					});
				}	
				function deletes(id){
					$.post('@{Ideas.delete()}', {
						ideaId: id
					});
					$('#idea_' + id).hide();
			}
			</script>