#{extends 'login/index.html' /}
<div id="leftSidebar">
    <ul>
        <div style="clear: both;">
            &nbsp;
        </div>
        <li>
            <ul>
            	#{if permission == 1}
                <li>
                <input type="submit" value="Edit topic" onclick=location.href="@{Topics.view(topicId)}" class="linkButton"> 
                </li>
				 #{/if}
                
				#{if allowed==1}
				<li>
					<input type="submit" value="Requests" onclick=location.href="@{RequestToJoins.viewRequests(1,object.id)}" class="linkButton">
                </li>
                #{/if}
				
				#{if allowed==1}
				<li>
					<input type="submit" value="Invite" onclick=location.href="@{Invitations.invite(object.id,1,0,0)}" class="linkButton">
                </li>
                #{/if}
       
				#{if alreadyReportedTopic==false}
				<li>
                    <form action="@{Users.reportTopicAsSpam()}" method="GET" name="myform">
                          <input type="hidden" name="topicId" value="${topicId}">
                          <input id="spam" type="submit" value="Report Topic As Spam" class = "linkButton">
                    </form>
                </li>
				#{/if}
				
				#{if alreadyReportedTopic==true}
                <li>
                    <font color="Red">Already reported as spam</font>
                </li>
				#{/if}
				
				
				<li>
				  	<form action="@{Topics.tagTopic()}" method="post">
        	             <input type="hidden" value=${topicId} name='topicId'>
			             <input type="hidden" value='@@' name='tag'>
						 <input type="submit" value="Add tags" class = "linkButton">
        			</form>
				</li>
				
				 #{if numberOfIdeas > 1 && canMerge == 1}
                <li>
                   #{form @Topics.getIdeasToMerge(), method:'POST', enctype:'multipart/form-data' }
				       <input type = "hidden" name = "topicId" value = ${topicId}>
				       <input type="submit" value="Merge Ideas" class = "linkButton"/>
				   #{/form}
                </li>
				#{/if}
				
				#{if canClose == 1 && openToEdit == true}
                <li> 
					#{form @Topics.closeTopic(), method:'POST', enctype:'multipart/form-data' }
						<input type = "hidden" name = "topicId" value = ${topicId}>
						<input type="submit" value="Close Topic" class = "linkButton"/>
					#{/form} 
		        </li>
				#{/if} 
				
				#{if canClose == 1 && openToEdit == false}
                <li>
                    #{form @Topics.reopen(), method:'POST', enctype:'multipart/form-data' }
						<input type = "hidden" name = "topicId" value = ${topicId}>
						<input type="submit" value="Reopen Topic" class = "linkButton"/>
					#{/form}
                </li>
				#{/if} 
				
				
				#{if canPlan == 1 && plan == null}
				<li>
					#{form @Plans.planCreate(), method:'POST', enctype:'multipart/form-data' }
						<input type = "hidden" name = "topicId" value = ${topicIdLong}>
						<input type="submit" value="Create A plan" class = "linkButton"/>
					#{/form}
				</li>
				#{/if}
					
				#{if plan != null}
				<li>
					#{form @Plans.viewAsList(), method:'POST', enctype:'multipart/form-data' }
						<input type = "hidden" name = "planId" value = ${plan.id}>
						<input type="submit" value="View the plan" class = "linkButton"/>
					#{/form}
				</li>
				#{/if}
					
				#{if check == 1}
				<li>
					 <input type="submit" value="Block/Unblock developers" onclick=location.href="@{BannedUsers.viewUsers(topicId,1)}" class = "linkButton">
				</li>
				#{/if}
					
				#{if (targetTopic.createRelationship == true)}
				#{if (canCreateRelationship == true)}
				<li>
					<p>
						<input type="submit" value="Create Relation" onclick=location.href="@{Topics.createRelation(object.id,object.entity.id)}" class="linkButton">
					</p>
				</li>
				#{/if}
				#{/if}
				
				 #{if (!targetTopic.followers.contains(user))} 
			     #{if follower == false} 
				<li>
					<p>
						<form action="@{Topics.viewFollowers()}">
			   				 <input type="hidden" name="topicId" value="${targetTopic.id}"><input type="hidden" name="f" value="true">
			       		     <input type="submit" value="Follow ${targetTopic.title}" class = "linkButton">
			   	 		</form>
					</p>
				</li>
			    #{/if}
			    #{/if}
				 
				#{if follower == true}
		        <li>
			      <p>
			      	<form action="@{Topics.viewFollowers()}">
			   			<input type="hidden" name="topicId" value="${targetTopic.id}"><input type="hidden" name="f" value="true">
			       		<input type="submit" value="Unfollow ${targetTopic.title} " onclick="unfollow('${topicId}');" class = "linkButton"/>
				 	</form>
			      </p>
				</li>
			    #{/if}
			      
				<li>
				    <form action="@{Topics.viewFollowers()}">
				     	 <input type="hidden" name="topicId" value="${targetTopic.id} Followers"><input type="hidden" name="f" value="false"> <input type="submit" value="Followers" class = "linkButton">
				 	</form>
			    </li>
				
				#{if canNotPost == true}
				<li>
		            <p id="req">
		                <a onclick="requestToPost('${topicId}');" href="#">request to post on this topic</a>
		            </p>
				</li>
               #{/if}
			
           	   #{if pending == true && canNotPost == false}
			   <li>
		            <p>
		                Request To Post status: Pending
		            </p>
			   </li>
           	   #{/if}
			
			   <li>
					<p id="pen">
	                Request To Post status: Pending
	                </p>
			   </li>
			   
			   #{if (canRestrict == 1)}
			   <li>
		           <input type="submit" value="Restrict/De-Restrict Organizer" onclick=location.href="@{BannedUsers.restrictOrganizerTopicPath(topicId)}" class = "linkButton">	
			   </li>
			   #{/if}
			   
			   <li>
			    	<form action="@{Topics.requestRelationship(actor.id, organisation.id, entity.id, targetTopic.id)}" method="post">
	 					<input type="submit" value="Request Relationship Creation" class = "linkButton">
	  				</form>
				</li>	
					
	 			<li>
	 				<form action="@{Topics.viewRelationships(actor.id, organisation.id, entity.id, targetTopic.id, canRequestRelationship)}" method="post">
	  					<input type="submit" value="View Relationships" class = "linkButton">
	  				</form>
				</li>
				
				
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
            </ul>
        </li>
    </ul>
</div>

<div style="float:1000px" >#{script src:"jquery-1.5.2.min.js" /}
<script type="text/javascript" src="/public/javascripts/jquery-1.4.1.js"></script>
<br/>
<a href="@{MainEntitys.viewEntity(entity.id)}"> Back to ${entity.name}</a>

<table id = "success" border="0" bgcolor="#FF0000" cellspacing="0" id ="toFil">
		<tr><td><font size ="3" color ="black"><i>
					<font color="#000000"><b><i>Topic Has been Reported As Spam</i></b></font>                
        </i></font></td><td>
</table>
<div id="crudShow" class="${type.name}">
    
    <div class="objectForm">
		<br />
        <p>
		   <h3> <label id="object_title" cols="30" rows="1" class="" name="object.title" >
              <font size = "6">  ${object.title} </font> 
				<font size= "4">
			<label for="object_creator" style = "font:2">
                by
            </label>
            <label id="object_creator" cols="30" rows="1" class="" name="object.creator">
            	<a href="@{Users.viewProfile(object.creator.username)}">${object.creator.username}</a>
            </label>
			</font>
            </label>
			#{if permission == 1}
  			   #{if !hidden}
   				 #{if deletable}
   				   <form action="@{delete(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
       				 <p class="crudDelete">
        				<input type="hidden" name = "justification" id = "justText">
           			    <input type="submit" value="&{'crud.delete', type.modelName}" class = "linkButton" />
      			    </p>
    			   </form> 
		        #{/if}
                #{if !deletable}
                  <form action="@{hide(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
                    <p class="crudDelete">
                      	<input type="hidden" name = "justification" id = "justText">
                       <input type="submit" value="&{'Hide Topic', type.modelName}" class = "linkButton"/>
                   </p>
                 </form> 
            	#{/if}
             #{/if}
             #{if hidden}		
                #{if object.hider.username == actor.username}		
		           <form action="@{unhide(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return confirm('Are you sure you want to unhide this topic?');">		
	                  <p class="crudDelete">		
                         <input type="submit" value="Unhide" class = "linkButton"/>		
                      </p>		
                  </form>			
                #{/if}		
            #{/if}
          #{/if}
		</h3>
        </p>
        
        <p>
            <h3>
            <font size= "4">	
            <label for="object_entity">
                in
            </label>
            <label id="object_entity" cols="30" rows="1" class="" name="object.entity">
            	<a href="@{MainEntitys.viewEntity(entity.id)}"> ${object.entity}</a>
                
            </label>
			</font>
			</h3>
        </p>
       
        <br/>
        <p>
           <h3>
           	<font size= "4">
            <label id="object_description" class="" name="object.description">
                ${object.description}
            </label>
			</font>
			</h3>
            <!--<span class="crudHelp" ><font color="Red">*</font>Required</span>-->
        </p>
        <br/>
        <p>
           <h3>
           	<font size="3">
            #{if object.privacyLevel ==1} 
            <label id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">
                Private
            </label>
            #{/if}
            #{else}
            <label id="object_privacyLevel" cols="3" rows="1" class="" name="object.privacyLevel">
                Public
            </label>
            #{/else}
			<label for="object_privacyLevel">
                topic
            </label>
			</font>
			</h3>
        </p>
		
        <p>
            <h3>
            	<font size="3">
            <label id="object_createRelationship" cols="50" rows="5" class="" name="object.createRelationship">
                #{if object.createRelationship}
				Relationship creation allowed
				#{/if}
				#{else}
				Relationship creation not allowed
				#{/else}
            </label>
			</font>
			</h3>
            <!--<span class="crudHelp" ><font color="Red">*</font>Required</span>-->
        </p>
		</div>
		
		<div name="relationships">
           				
			 <a onclick="$('#lista').slideToggle();">Show Relationships</a>
			   <div id="lista" style="display: none;">
			   	#{if targetTopic.relationsSource != null}
			      #{list items:targetTopic.relationsSource, as:'relationElement'}
						<ul><a href="/topics/show?topicId=${relationElement.source.id}">${relationElement.source.title}</a> <q id=${relationElement.id}>${relationElement.name}</q> <a href="/topics/show?topicId=${relationElement.destination.id}">${relationElement.destination.title}</a> #{if (canCreateRelationship == true)}<input type="button" value="rename" onclick="showRename(${relationElement.id})"/> <input type="button" value="end relationship" onclick="endRelation(${relationElement.id})" />#{/if}</ul>
				  #{/list}
				#{/if}
				#{if targetTopic.relationsDestination != null}
				  #{list items:targetTopic.relationsDestination, as:'relElement'}
						<ul><a href="/topics/show?topicId=${relElement.source.id}">${relElement.source.title}</a> <q id=${relElement.id}>${relElement.name}</q> <a href="/topics/show?topicId=${relElement.destination.id}"> ${relElement.destination.title}</a> #{if (canCreateRelationship == true)}<input type="button" value="rename" onclick="showRename(${relElement.id})"/> <input type="button" value="end relationship" onclick="endRelation(${relElement.id})" />#{/if}</ul>
				  #{/list}
				#{/if}
			   </div>
			   
			   <script type="text/javascript">
			   	function showRename(relId)
				{
				var newRelName = prompt("Please enter the new name:", document.getElementById(relId).textContent);
				location.reload();
				if (newRelName!=null && newRelName!="")
			  	{
			  	$.post('@{TopicRelationships.renameRelationship()}', {
					relationToBeRenamedId: relId,
					newName: newRelName
				});
				
			  	}
				}
			   </script>
			   
			#{if seeRelationStatus}
			#{if createRelationship}
			<form name="topicForm" action="@{Topics.changeRelationStatus()}" method="POST">
				<input type = "hidden" name = "topicId" value = ${targetTopic.id} >
				<input type="checkbox" id="createRelationship" name="createRelationship" checked>Allow topic to have relationships </input>
				<input type="submit" onclick="get_Value()" value="Change" class = "linkButton"><br />
			</form>
			#{/if}
			#{else}
			<form name="topicForm" action="@{Topics.changeRelationStatus()}" method="POST">
				<input type = "hidden" name = "topicId" value = ${targetTopic.id} >
				<input type="checkbox" id="createRelationship" name="createRelationship">Allow topic to have relationships
				<input type="submit" onclick="get_Value()" value="Change" class = "linkButton"><br />
			</form>
			#{/else}
			#{/if}
			
            </div>   
		
		 
            <script type="text/javascript">
            	$('#spam').click(function(){
            	$('#success').show();});
            </script>
            <style type="text/css">
			#success{display: none;}
		</style>
		
		<br />
        <div>		
        <h4>List of ideas within this topic : </h4>
        
		#{if numberOfIdeas > 0}
        <form action=@{Ideas.show(ideaId)}>
                #{if ideas}
                #{list items:ideas, as:'idea'}
                #{if idea.isDraft == false}
				<li id="idea_${idea.id}">
				<fieldset>
                <a id = "LOL" href="@{Ideas.show(idea.id)}"><font size=3>${idea.title}</font></a>
				#{if canDelete}
				<input type="button" name="hide" value="Hide Idea" onclick="hides(${idea.id});" class = "linkButton">
				<input type="button" name="delete" value="x" onclick="deletes(${idea.id});" class = "linkButton">
				#{/if}
                <div id = "table_${idea.id}">
                <label><font size=3>Description : ${idea.description}</font></label>
                </br>
                <label><font size=3>by : ${idea.author}</font></label>
                </tr>
                </div>
                </fieldset>
                </li>
				#{/if}
                #{/list}
                        <script type ="text/javascript">
        				$("#hide").click(function(){
						$("#idea").hide();});
                        

                        var showOrHide = function(id) {
                        		$("#table_"+id).toggle();
                        		$("#hidedetails_"+id).toggle();
                        		$("#showdetails_"+id).toggle();
                        	
                        }
		
      		    </script>
                #{/if}
                #{else}
                no ideas posted to this topic
                #{/else}    
        </form>
        #{/if}
      
        #{if numberOfIdeas == 0}<h4>no ideas posted to this topic</h4>
        #{/if}
		<br />
		#{if canDelete}
		<input id="showhidden" type="submit" value="show hidden Ideas" class = "linkButton">
		<div id="hidden">
		#{list items:hiddenIdeas, as:'idea'}
				<fieldset>
				</br>
                <label>${idea.title}</label>
                </br>
                <label>Description : ${idea.description}</label>
                </br>
                <label>by : ${idea.author}</label>
                <input type="submit" value="unhide" onclick="unhide(${idea.id})" class = "linkButton">
                </fieldset>
        #{/list}
        </div>
		#{/if}
        
        #{if topicNotClosed==true}
        <input id="postIdea" type="button" value="Post Idea to this topic" class = "linkButton">
        #{/if}
        <div id="postIdeaform">
        	<p>
            <label>Title  <font color="#123456"><span id="flashAmessage"></span></font>
            <br>	
       		<input type="text" id="ideaTitle" cols="30" rows="1" class="" name="object.title" required>
            <span id = "ideaTitleError">
                <font color="Red">
                    *
                </font>Required
            </span>
            </p>
            <p>
            <label>
                Description
            </label>
            <br>
            <textarea id="ideaDescription" cols="50" rows="5" class="" name="object.description" required></textarea>
            <span id="ideaDescriptionError">
                <font color="Red">
                    *
                </font>Required
            </span>
            </p>
			<input id ="draftSaver" type="submit"  value="Save as Draft" onclick="save()" class = "linkButton"></input>
           	<input type="submit" value="post" onclick="postIt()" class = "linkButton"></input>
		<style type="text/css">
			#postIdeaform{display: none;}
		</style>
		#{if numberOfIdeas > 0}
		<style type="text/css">
			#showdetails_${idea.id}{display: none;}
		</style>
		#{/if}
		<script type="text/javascript">
		$("#postIdea").click(function(){
			$("#postIdeaform").toggle();
			auto();
           });
		$("#showhidden").click(function(){
          	 $("#hidden").toggle();
           });
                 </script>
		<style type="text/css">
			#hidden{display: none;}
		</style> 
	</div> 
</div>
  
  <br />
  <br />
 
               
            	
			<div name= "scripts">
				
            <script type="text/javascript">
            	 $('#pen').hide();
            	function endRelation(relId){
				$.post('@{TopicRelationships.delete()}', {relationId: relId});
				alert("relation deleted succesfully!");
				window.location.reload();
				}
				
                function requestToPost(id, user){
                    $.post('@{addRequest()}', {
                        topicId: id
                    });
					 $('#req').hide();
					 $('#pen').show(500);
                }
                
                function unfollow(topic, user){
                    $.post('@{Users.unfollowTopic()}', {
                        topicId: topic
                    });
                    alert("done!");
                    location.reload(true);
                }
				function get_Value() {
					var createRelationship = false;
					if(document.topicForm.createRelationship.checked) {
						createRelationship = true;
					}
					return createRelationship;
				}	
           		function prompt1(){
					var text = prompt("Why do you want to delete/hide this topic?");
					
					if(text){
						document.getElementById("justText").value=text;
						return true;
					}
					else{
						return false;
					}
					
				}
				
            </script>

			<script type="text/javascript">
				
				function save()
				{
					var id = ${topicId};
					var x = document.getElementById("ideaTitle").value.toString();
					var y = document.getElementById("ideaDescription").value;
					
					if(validate())
					{
						$.post('@{Ideas.saveDraft()}', {ideaId: auto.kill, title: x,description: y},function(){window.location.href= "/ideas/getdrafts"}  );
					}					
				}
				function takeFirstSave()
				{
					var id;
					var z = ${topicId};
					var x = document.getElementById("ideaTitle").value.toString();
					var y = document.getElementById("ideaDescription").value;
						

					if(!validate2())
						setTimeout("takeFirstSave()",'1000');
					else
					{
						$.post('@{Ideas.createDraft()}', {
						title: x,
						description: y,
						topicId: z
						}, function(data){
							id = data;
							auto.kill = id;
							var currentTime = new Date();
							var hours = currentTime.getHours();
							var minutes = currentTime.getMinutes();
			
							if (minutes < 10)	
								minutes = "0" + minutes;
			
							var write =(hours + ":" + minutes /*+ ":" + secs + " "*/ );
							
							document.getElementById("flashAmessage").innerHTML = "Idea auto saved as a draft at " + write;
							setTimeout("myFader()", '3000');
						});
						
					}
					auto.c = 1;
				}
				
				function auto()
				{
					if(!auto.c) auto.c = 0;
					if(!auto.t) auto.t = document.getElementById("ideaTitle").value;
	            	if(!auto.b)	auto.b = document.getElementById("ideaDescription").value;
					if(!auto.kill) auto.kill = 0;
					
	                if (auto.c == 0) 
					{
                    	takeFirstSave();    
                    }
					else
					{
						var x = document.getElementById("ideaTitle").value.toString();
		               	var y = document.getElementById("ideaDescription").value;			   
				   		
						var currentTime = new Date();
						var hours = currentTime.getHours();
						var minutes = currentTime.getMinutes();
		
						if (minutes < 10)	
							minutes = "0" + minutes;
		
						var write =(hours + ":" + minutes /*+ ":" + secs + " "*/ );
						
						var xx = jQuery.trim(x);
						var yy = jQuery.trim(y);
						
						if(((x != auto.t) || (y != auto.b)) && ((xx != "") && (yy != "") ) )
						{
							
							$('#flashAmessage').fadeIn('10');
							
							$.post('@{Ideas.saveDraft()}', {ideaId: auto.kill, title: x,description: y });
							
							auto.t = document.getElementById("ideaTitle").value;
		            		auto.b = document.getElementById("ideaDescription").value;
							
							document.getElementById("flashAmessage").innerHTML = "draft auto saved at " + write;
							setTimeout("myFader()",'3000');
						}
					
					}
					setTimeout("auto()",'10000');
				}
				
					function myFader()
					{
						$('#flashAmessage').fadeOut('500');
					}
					
					
						
					function validate()
					{
						var x = document.getElementById("ideaTitle").value.toString();
						var y = document.getElementById("ideaDescription").value;
						var Tflag = true;
						var Dflag = true;
						
						x = jQuery.trim(x);
						y = jQuery.trim(y);
						
						if(x=="")
						{
							document.getElementById("ideaTitleError").innerHTML = "please enter a title for the idea";
							Tflag = false;
						}
						else
						{
							document.getElementById("ideaTitleError").innerHTML = "";
							Tflag = true;
						}
						if(y=="")
						{
							document.getElementById("ideaDescriptionError").innerHTML = "please enter a body for the idea";
							Dflag = false;
						}
						else
						{
							document.getElementById("ideaDescriptionError").innerHTML = "";
							Dflag = true;
						}
						
						if(Tflag && Dflag)
						{
							return true;
						}
						else
						{
							return false;
						}
					}
					
					function validate2()
					{
						var x = document.getElementById("ideaTitle").value.toString();
						var y = document.getElementById("ideaDescription").value;
						var Tflag = true;
						var Dflag = true;
						
						x = jQuery.trim(x);
						y = jQuery.trim(y);
						
						if(x=="")
						{
							Tflag = false;
						}
						else
						{
							Tflag = true;
						}
						if(y=="")
						{
							Dflag = false;
						}
						else
						{
							Dflag = true;
						}
						
						if(Tflag && Dflag)
						{
							return true;
						}
						else
						{
							return false;
						}
					}
			</script>
			
            <script type="text/javascript">
				function postIt()
				{
					var id = auto.kill;
					var x = document.getElementById("ideaTitle").value.toString();
					var y = document.getElementById("ideaDescription").value;
					
					if(validate())
					{
						$.post('@{Ideas.postDraft()}' ,{ideaId: id, title: x, description: y },function(){location.reload();});
					}
				}
				function hides(id){
					$.post('@{hideIdea()}', {
						ideaId: id
					});
					$('#idea_' + id).hide();
			}
				function unhide(id){
					$.post('@{unhideIdea()}', {
						ideaId: id
					});
				}	
				function deletes(id){
					$.post('@{Ideas.delete()}', {
						ideaId: id
					});
					$('#idea_' + id).hide();
			}
			</script>
			
			</div>
			
			<br />