#{extends 'main.html' /}

<div id="crudShow" class="${type.name}">
	<br />
<input type="submit" value="Back to Entity" onclick=location.href="@{MainEntitys.viewEntity(entity.id)}">
        <br />
	
	<br />
	
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
	 <font color="Red">${message}</font>	
	
	<div class="objectForm">
	#{form action:@save(object._key()), enctype:'multipart/form-data'}
	
		#{crud.form fields: ['title', 'description', 'privacyLevel']}
		
		   #{crud.custom 'title'}
			<p> 
 			<label for="object_title">Title</label> 
			<label id="object_title" cols="30" rows="1" class="" name="object.title">${object.title}</label>
 			</p> 
			#{/crud.custom}
		
			#{crud.custom 'description'}
			<p> 
 			<label for="object_description">Description</label> 
			<textarea id="object_description" cols="50" rows="5" class="" name="object.description" required>${object.description}</textarea> 
			<span class="crudHelp" ><font color="Red">*</font>Required</span> 
 			</p> 
			#{/crud.custom}
			
			#{crud.custom 'privacyLevel'}
			<p> 
 			<label for="object_privacyLevel">Privacy Level</label> 
			<select name="object.privacyLevel">
 				<option value = "1">private</option>
				<option value = "2">public</option>
 			</select>
 			<span class="crudHelp" ><font color="Red">*</font>Required</span> 
			</p> 
			#{/crud.custom }
		
		
		#{/crud.form }
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		</p>
	#{/form}
	</div>
	
	
 #{if !hidden}
    #{if deletable}
    <form action="@{delete(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        <p class="crudDelete">
        	<input type="hidden" name = "message2" id = "justText">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    </form> #{/if}
    #{if !deletable}
    <form action="@{hide(object.id)}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return prompt1();">
        <p class="crudDelete">
        	<input type="hidden" name = "message2" id = "justText">
            <input type="submit" value="&{'Hide', type.modelName}" />
        </p>
    </form> #{/if}
    #{/if}



	
	<!--#{form @delete(object._key())}
		<p class="crudDelete">
			<input type="submit" value="&{'crud.delete', type.modelName}" />
		</p>
	#{/form}-->

</div>

 <script type="text/javascript">
 	
					function prompt1(){
					var text = prompt("Why do you want to delete/hide this topic?");
					
					if(text){
						document.getElementById("justText").value=text;
						return true;
					}
					else{
						return false;
					}
					
				}
            </script>
