<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>#{get 'title' /}</title>
<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
</script>
<script src="@{'/public/javascripts/topbar_message/jquery.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/topbar_message/juery.topbar.js'}" type="text/javascript"></script>
#{if timeline==true}
<script src="http://simile.mit.edu/timeline/api/timeline-api.js" type="text/javascript"></script>
#{/if}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}"/>
</head>
<!-- Header -->
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<img src="/public/images/coolsoft_logo.png"/>
				<p><b>Collaborative Thinking and Ideas Management</b></p>
			</div>
			<div id="menu">
				<ul>
					<li><a href="@{Login.homePage()}">Home</a></li>
					<li><a href="@{Login.about()}">About</a></li>	
					<li><a href="@{Login.contact()}">Contact</a></li>
					<li><a href="@{Users.Logout()}">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End of header -->
	<body>
	#{doLayout /}

	</body>
	
		<div id="footer">	
	<p>Copyright © All rights reserved. Design by <img src="/public/images/cool11.png" width="70px" height="15px"> 
	<br> 
	 <a href="http://twitter.com/#!/CoolSoft2011" target="_blank">Follow us on Twitter <img src="/public/images/twiii.png" width="15px" height="15px"></a>
	</p>

</div>

</html>