<!DOCTYPE html>
<html>
	
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <p align="right"><a href="@{Login.index()}">Back to Home</a>
		&nbsp;
		<a href="@{Users.logout()}">Logout</a>
		</p>
        <hr>          </hr>
        <!-- <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">-->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}" />
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
        </script>
        #{get 'moreScripts' /}
        <style type="text/css">
		h1 {color:blue}
		h2 {color:green}
		</style>
</head>

        
    </head>
    <style type="text/css">
        
        body {
            font-family: arial, helvetica;
            font-size: 20px;
            color: #123456;
           /*background-color: #A3D5E4*/
        }
        
        #text1 {
            font-size: 500px;
            color: #654321;
        }
    </style>
    <div>
       
    </div>
	<form>
	 <h1 align="left">
	 <big><b><i>COOLSOFT</i></b></big>
	 </h1>	
	 <h2 align="left">
	 <i>Collaborative Thinking and Ideas Management</i>
	 </h2>
	<p align='center'>
	<input type="text" id="search" name="search" value= "enter a keyword here" style='width="200px" height="30px"'/>
	&nbsp; <input type="button" id="submit" name="submit" value="Search" onclick="quickSearch(this.form)"/>
	&nbsp; <a href="AdvancedSearch">Advanced Search</a>
    </p>
    </form>
    <form action="@{Browse.browse()}" method="GET">        
        <input type="submit" value="Browse" />    	
    </form>
    <form action="@{Invitations.view()}" method="GET">        
        <input type="submit" value="View Invitations" />    	
    </form>
    <br>
    <hr>
    <script type="text/javascript">
        function quickSearch(frm){
            $.post('@{Search.quickSearch()}', {
                keyword: frm.search.value
            }, function(){
                window.location.href = "/searchResult";
            });
        }
    </script>
	
    <body>
        #{doLayout /}
    </body>
    <hr>
    <div id="crudFooter">
            Follow us on <a href="http://www.twitter.com"> Twitter</a>
    </div>
    
</html>
