#{extends 'login/index.html' /}
#{set title:'View Plan as List' /}
#{if canView == true}
<div id="leftSidebar">
    <ul>
        <div style="clear: both;">
            &nbsp;
        </div>
        <li>
            <ul>
                #{if isOrganizer == true}
                <li>
                    <a href="@{VolunteerRequests.viewVolunteerRequests(plan.id)}">Volunteer Requests</a>
                </li>
                #{/if} 
                #{if canIdea == 1} 
                <li>
                    <a href="@{Plans.addIdea(plan.id)}">Associate ideas to plan</a>
                </li>
                #{/if}
                <li>
                    <a href="@{Plans.planView(plan.id)}">Promoted Ideas </a>
                </li>
                #{if canEdit == 1}
                <li>
                    <a href="@{Plans.addItem(plan.id)}">Add item(s)</a>
                </li>
                <li>
                    <a href="@{Plans.editPlan(plan.id)}" id="demo01">Edit plan</a>
                </li>
				#{/if} 
				#{if canDelete}
				<li>
				  	<a href="#" onclick="delPlan(${plan.id}, ${plan.topic.id})">delete plan</a>
				</li>
                #{/if} 
                <li>
                    <a href="@{Plans.viewAsList(plan.id)}">View list of to-do items</a>
                </li>
                <li>
                    <a href="@{Plans.viewAsCalendar(plan.id)}">View plan calendar</a>
                </li>
                <li>
                    <a href="@{Plans.viewAsTimeline(plan.id)}">View plan timeline</a>
                </li>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
            </ul>
        </li>
    </ul>
</div>
<body>
    <h1 align="center" style="font-size:xx-large; ">${plan.title}</h1>
    <br/>
    <p>
    	<b> Topic: </b> <a href="@{Topics.show(plan.topic.id)}">${plan.topic.title}</a>
		<br>
        <b>Created by: </b>
        ${plan.madeBy.username}
        <br/>
        <b>StartDate: </b>${plan.startDate.format('dd MMM yy')}
        <br/>
        <b>EndDate: </b>${plan.endDate.format('dd MMM yy')}
        <br/>
        <b>Description:</b>
        ${plan.description}
        <br/>
        <b>Plan rating: </b>
        ${plan.rating}
        <br/>
        <b>Plan progress:</b>
        ${plan.calculateProgress()}
        <br/>
    </p>
    <script type="text/javascript">
        function delPlan(id, topicId){
            var r = confirm("Are You sure you want to delete the plan?");
            if (r == true) {
                $.post('@{deletePlan()}', {planId: id}, function () {
					window.location.replace("/topics/show?topicId=" + topicId);
				});

            }
        }
    </script>
    <div id="layout1">
        <br/>
        #{doLayout /} 
    </div>
</body>
#{/if}
#{else}<h3>You are not allowed to view this plan.</h3>
#{/else}