<!--C1S6  @author : Mai Magdy -->
#{extends 'Login/index.html' /}
#{set title:'invite Page' /}
<div id="pageNoSideBar">
        <div id="pageNoSideBar-bgtop">
#{if type==0}
<a href="@{MainEntitys.viewEntity(entity.id)}"><img src="/public/images/icons/back.png" title="back" width="25" height="12"/> Back to &{entity.name}</a>
#{/if}
#{else}
<a href="@{	Topics.show(topic.id)}"><img src="/public/images/icons/back.png" title="back" width="25" height="12"/> Back to &{topic.title}</a>
#{/else}





<br/>
<br/>
<div id="errors" style="display:true">
#{if flash.error}
   <b> <p style="color:red">
              <i><font size=2> ${flash.error} </font></i>
    </p></b>
#{/if}
#{if flash.success}
   <b> <p style="color:green">
              <i><font size=2> ${flash.success} </font></i>
    </p></b>
#{/if}
</div>
<div id="table" style="display:none">
<input class = "linkButton" type="button" id="back" onclick="javascript: show1();" value="Back to search">
<form action="@{Invitations.send()}" method="GET" >
<table border="0" bgcolor="#ececec" cellspacing="5" >
<tr><td><u>Invite directly by writing the email </u></td></tr>
<tr><td>Email <input type="text" size="30" id="mail" name="email"></td></tr>
<input type = "hidden" id="id" name ="userId" value =0>
<input type = "hidden" name ="type" value = ${type}>
#{if type==0}
<input type = "hidden" name ="id" value = ${entity.id}>
#{/if}
#{else}
<input type = "hidden" name ="id" value = ${topic.id}>
#{/else}
<tr><td>&nbsp;</td><td><button class = "linkButton" type="submit" value="send"><img src="/public/images/icons/mail_send.png" title="send" width="35" height="25"/></button>
</table>
</form>
</div>

<div id="block" >
<input class = "linkButton" type="button" onclick="javascript: show();" value="Invite by mail" id="button1" /> 
<form action="@{Invitations.searchUser()}" method="GET" name="myform"">
<table border="0" bgcolor="#ececec" cellspacing="5">
<tr><td><u> You can search by name/email for users to invite </u></td></tr>
<tr><td>Name/Email <input type="text" size="25" name="name"></td></tr>
<tr><td></td><td><button class = "linkButton" type="submit" value="search"><img src="/public/images/icons/mail_search.png" title="search" width="35" height="25"/></button>
<input type = "hidden" name ="type" value = ${type}>
#{if type==0}
<input type = "hidden" name ="id" value = ${entity.id}>
#{/if}
#{else}
<input type = "hidden" name ="id" value = ${topic.id}>
#{/else}

</table>
</form>
#{if check==1}
<div id="appear">
<br/>
<br/>
<br/>
<hr/>
<u><b><font size ="3" color ="blue">Search Result</font></b></u>
<br/>
<br/>
<table border="0" bgcolor="#ececec" cellspacing="2">
#{if usersMatched.isEmpty()}
<tr><td><u><font size ="3" color ="black">No user Found</font></u></td><td>
#{/if}
</table>
#{else}

<div id="leftSidebar">
    <ul>
        
        <li>
        	  <ul>
#{list items:0..usersMatched.size()-1, as:'u'} 
<li>
<font size ="3"><a href="@{Users.viewProfile(usersMatched.get(u).id)}">${usersMatched.get(u).username}</a>
#{if usersInvited.get(u)==1}
&nbsp;&nbsp;&nbsp;<p align="right"><i><font size ="2" color ="blue">pending invitation</font></i></p>
#{/if}
#{else}
#{if type==0}
<p align="right"><a href="@{Invitations.send(type,usersMatched.get(u).email,entity.id,usersMatched.get(u).id)}">invite</a></p>
#{/if}
#{else}
<p align="right"><a href="@{Invitations.send(type,usersMatched.get(u).email,topic.id,usersMatched.get(u).id)}">invite</a></p>
#{/else}
#{/else}
</li>
<li></li>
#{/list}
</ul>
      </li>
    </ul>
</div>
#{/else}
#{/if}
</div>

#{if check==2}
<script type="text/javascript">
$('#block').hide();
	$('#table').show();
</script>
#{/if}
    </div>
</div>
<script src = "@{'/public/javascripts/jquery-1.5.2.min.js'}" type = "text/javascript">

	</script>
	
<script type="text/javascript">

function show(){
	$('#errors').hide();
	$('#block').hide();
	$('#table').show();
	
}
function show1(){
	$('#errors').hide();
	$('#block').show();
	$('#table').hide();
	$('#appear').hide();
	
}
</script>





 