
<form action="@{Invitations.send()}" method="GET">
<table border="0" bgcolor="#ececec" cellspacing="5">

#{if id==0}
<tr><td>Email</td><td><input type="text" size="30" name="email"></td></tr>
<input type = "hidden" name ="id" value =0>
#{/if}
#{else}
<tr><td>Name : ${user.name}</td><td>
<tr><td>Email: ${user.email}</td><td>
<input type = "hidden" name ="email" value = ${user.email}>
<input type = "hidden" name ="id" value = ${user.id}>
#{/else}


<tr><td>Roles</td><td>
#{if {org.privacyLevel} !=2}
#{select 'role', value:0, id:'select2'}
   #{option value="select"}select#{/option} 
   #{option value="Idea Developer"}Idea Developer#{/option}
   #{option value="Organizer"}Organizer#{/option}
  #{/select}
#{/if}
#{else}
#{select 'role', value:0, id:'select2'}
   #{option value="select"}select#{/option}
   #{option value="Organizer"}Organizer#{/option}
#{/select}
#{/else}
</td></tr>
#{if flash.error}
   <b><p style="color:#c00">
               ${flash.error}
    </p></b> 
#{/if}

<tr><td>&nbsp;</td><td><input type="submit" value="send">
</table>
</form>