#{extends 'Login/index.html' /}<!-- copy from here -->
<script type="text/javascript" src="/public/javascripts/tiny_mce/tiny_mce.js">
</script>
<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode: "textareas",
        theme: "advanced",
        plugins: "",
        
        // Theme options remove buttons u do not need 
        theme_advanced_buttons1: "",
        theme_advanced_buttons2: "",
        theme_advanced_buttons3: "",
        theme_advanced_buttons4: "",
        readonly: 1,
        theme_advanced_resizing: false,
    });
    function del(id){
		var b = document.getElementById('b').value;
		var OwnerId = document.getElementById('i').value +"";
        $.post('@{Documents.deleteDocument()}', {
            id: id
        });
        alert("document is deleted");
        if (b == "false") {
			window.location = "http://localhost:9008/";	
		} else {		 
			window.location = "http://localhost:9008/organizations/viewProfile?id=" + OwnerId;
		}
    }
</script>
<div id="page">
	<input type="hidden" id= "i" value="${document.userOrganizationId}">
    <center><p>
        <b>${document.name}</b>   <input type="image" src="/public/images/Cross.png" width="10" height="10" onclick="del('${document.id}');">
        #{if canEdit == true}
        <form action="@{Documents.editDocument()}" method="post">
            <input type="hidden" name="id" value="${document.id}">
			<input type="submit" value="edit">
        </form>
		#{/if}
		<input type="hidden" id= "b" value="${document.isOrganization}">     
            <textarea id="data" name="data" rows="30" cols="80" style="width: 70%">${document.data}</textarea>
        </p>
    </center>
</div>
