#{extends 'Login/index.html' /}
#{set title:'Notification Profile' /}

<script type="text/javascript">
		var en_ids = new Array();
		var dis_ids = new Array();
		var counter = ${npList.size()};
		function submit() {
			if(en_ids.length == 0 && dis_ids.length == 0) {
				alert('No changes to perform!!');
			} else {
				var r=confirm("Are You sure you want to save changes?");
				if (r == true) {
					$.post('@{disablePreferences()}', {a:dis_ids});
					$.post('@{enablePreferences()}', {b:en_ids});					
				} else {
					window.location.reload();
				}	
				dis_ids = new Array();
				en_ids = new Array();
				if(counter == 1) {
					var field = document.myform.checkfield;
					field.checked = false;
				} else {
					var field = document.myform.checkfield;				
					for (i = 0; i < field.length; i++){
						field[i].checked = false ;
					}
				}
				window.location.reload();
			}			
		}		
		function checkD(id) {			
			if(dis_ids.indexOf(id) == -1) {
				dis_ids.push(id);
			}else {
				dis_ids.pop(id);
			}			
		}
		function checkE(id) {			
			if(en_ids.indexOf(id) == -1) {
				en_ids.push(id);
			}else {
				en_ids.pop(id);
			}
		}
</script>

<div id="pageNoSideBar">
		<div id="pageNoSideBar-bgtop">			
				<div id="content">
					<div class="post">
					<h2>Notification Profile</h2>
<br>
<hr>
<br>
#{if npList.size() == 0}
    <i>You have no notification profiles!!</i>
#{/if}
<br>
<form name='myform'>
<ul>
#{list items:npList, as:'npro'}
    <li>
    	<fieldset>
    		<b>Notification from: </b> ${npro.notifiableType}
    		&nbsp; ${npro.title}
    		<br>
    		<b>Receive Notification: </b> 
    		#{if npro.enabled}
    		<i>yes</i>
    		#{/if}
    		#{else}
    		<i>no</i>
    		#{/else}
    		&nbsp;
    		#{if npro.enabled}
    		<b><i>Disable</i></b> &nbsp; 
    		<input type="checkbox" name="checkfield" id="${npro.id}" onclick="checkD(${npro.id})" class="enabled"> 
    		#{/if}
    		#{else}
    		 <b><i>Enable</i></b> &nbsp; 
    		 <input type="checkbox" name="checkfield" id="${npro.id}" onclick="checkE(${npro.id})" class="disabled">
    		#{/else} 
    	</fieldset>
    </li>
#{/list}
</ul>
</form>
<br>

<input class = "linkButton" type="button"  value = "Save changes" onclick="submit()">
					
					</div>
				</div>
			</div>
		</div>	
