#{extends 'main.html' /}

<script type="text/javascript">
		var en_ids = new Array();
		var dis_ids = new Array();
		var x = 1;
		function markAll(){
			$('.x').attr('checked',true);
		}
		function unmarkAll(){
			$('.x').attr('checked',false);
		}
		function submit() {
			if(en_ids.length == 0 && dis_ids.length == 0) {
				alert('No changes to perform!!');
			} else {
				$.post('@{changePreferences()}', {a:dis_ids,b:en_ids,y:x} ,function(){
				window.location = 'http://localhost:9008/';
			});)
				//var r=confirm("Are You sure you want to save changes?");
				//if (r == true) {
					//$.post('@{disablePreferences()}', {a:dis_ids});
					//$.post('@{enablePreferences()}', {b:en_ids});
					//$.post('@{goHome()}');
					//document.write('Done <br> <a href="@{Login.index()}">Back to home page</a>');
					//window.location ='http://localhost:9000/';
				//}
				
			}
		}		
		function checkD(id) {			
			if(dis_ids.indexOf(id) == -1) {
				dis_ids.push(id);
			}else {
				dis_ids.pop(id);
			}			
		}
		function checkE(id) {			
			if(en_ids.indexOf(id) == -1) {
				en_ids.push(id);
			}else {
				en_ids.pop(id);
			}
		}
</script>

<big><u>Notification Profile</u></big>
<br>
<hr>
<br>
#{if npList.size() == 0}
    <i>You have no notification profiles!!</i>
#{/if}
<br>
<ul>
#{list items:npList, as:'npro'}
    <li>
    	<fieldset>
    		<b>Notification from: </b> ${npro.notifiableType}
    		&nbsp; ${npro.title}
    		<br>
    		<b>Receive Notification: </b> ${npro.enabled}
    		&nbsp;
    		#{if npro.enabled}
    		<b><i>Disable</i></b> &nbsp; 
    		<input type="checkbox" id="${npro.id}" onclick="checkD(${npro.id})" class="enabled"> 
    		#{/if}
    		#{else}
    		 <b><i>Enable</i></b> &nbsp; 
    		 <input type="checkbox" id="${npro.id}" onclick="checkE(${npro.id})" class="disabled">
    		#{/else} 
    	</fieldset>
    </li>
#{/list}
</ul>
<br>
Edit Preferences <input type="submit" value="Done" onclick="submit()"/>
