<!--
@author Loaay Alkherbawy
@story  C4S10
The marking request
-->
<!DOCTYPE>

#{extends 'main.html' /}

<html>
<body>
<a href="@{Application.index()}">Back to home</a>
<br />
<br />
<u><font size ="5" color ="blue"> Requests </font></u>
<br />
<br />
#{if requests.isEmpty()}
<tr><td><i>No new Requests</i></td><td>
#{/if}
#{else}
 #{list items:requests, as:'request'}
    <li>
        <fieldset>
              User ${request.sender.username} Wants to mark Idea ${request.idea1.title} with Idea ${request.idea2.title}
			</br>
			<input type = "button" value = "Accept" onclick='reject(${request.id},0)'/>
			<input type = "button" value = "Reject" onclick='reject(${request.id},1)'/>
        </fieldset>
    </li>
    #{/list}
#{/else}


<script type="text/javascript">	
	function reject(id,ar) {
		if (ar > 0) {
			$.post('@{MarkRequest.reject()}', {
				reqID: id
			}, function(){
				alert("Request rejected!");
				window.location.reload(true);
			});
		}
		else{
		$.post('@{MarkRequest.accept()}', {
		reqID: id
		},function(){alert("Request Accepted!");
		window.location.reload(true);});	
		}
	}
</script>
</body>
</html>