#{extends '/login/index.html' /}

<div id="creation">
	<p>Label Name: <font color="red"><span id="flashAmessage"></span></font></p> 
	<input type="textbox" size = "50" id="name"></input> 
	<span id="warning"></span> 
	<br>
	<input type="submit" value ="create label" onclick="save()"></input>
</div>

<form name="labels">
	
	<p>Choose the Ideas you want to apply the label to:</p>
	
	#{if user.ideasCreated.isEmpty() }
		<font color="#123456"><p>You don't have any Ideas to Label</p></font>
	#{/if}
	#{else}
		#{list items:user.ideasCreated , as:'idea'}
	    	<input type="checkbox" value="${idea.id}">${idea.title}</input><br>
		#{/list}
    #{/else}
</form> 

<script type="text/javascript">
	function save()
	{
		var x = document.getElementById("name").value.toString();
		var choosenIdeas = new Array();
		
		if(validate())
		{
			if(${user.ideasCreated.isEmpty()} == true)
			{
                $.post('@{Labels.doCreateLabel()}', {
                    name: x,
                    ideas: choosenIdeas
                }, function(data){
					if(data == 0)
                    	error(x);
					else
                    	window.location.href = "/labels/showAllLabels"
                });
			}
			else
			{
				choosenIdeas = loopForm(document.labels);
                $.post('@{Labels.doCreateLabel()}', {
                    name: x,
                    ideas: choosenIdeas
                }, function(data){
                    if(data == 0)
                    	error(x);
					else
                    	window.location.href = "/labels/showAllLabels"
                });
			}
			
		}
		else
			showWarning();
	}
	
	function error(huh)
	{
		document.getElementById("flashAmessage").innerHTML = "There exists a label with the name "+huh+" Please choose another name";
	}
	
	function validate()
	{
		var x = document.getElementById("name").value.toString();
		
		x = jQuery.trim(x);
		
		if(x == "")
			return false;
		else
			return true;
	}
	
	function showWarning()
	{
		document.getElementById('warning').innerHTML = "Please Enter a valid name for the label";
	}
	
    function loopForm(form)
	{
        var j = 0;
		var choosenIdeas = new Array();
        
		for (var i = 0; i < form.elements.length; i++) 
		{
			if (form.elements[i].type == 'checkbox') 
			{
                if (form.elements[i].checked == true) 
				{
                    choosenIdeas[j] = form.elements[i].value ;
					j++;
                }
            }
        }
        
		return choosenIdeas;
    }
</script>