#{extends 'planLayout.html' /}
<style type="text/css">body {
			font-size:80%;
			font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
		}
	#showAddIdea{
	margin-top: 1%;
	margin-right: 1.5%;
	margin-bottom: 4%;
	margin-left: 1.5%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #bbbbbb;
	padding-top: 2%;
	padding-right: 4%;
	padding-bottom: 0%;
	padding-left: 4%;
	position: relative;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #bbbbbb;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #bbbbbb;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #bbbbbb;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #bbbbbb;
	word-wrap: break-word;
}
</style>

<div id="showAddIdea">
	<br/>
#{if ideas.size() > 0}
<br/>
Ideas posted in the topic:
<br/>
<br/>
#{form @Plans.selectedIdeas(), method:'POST', id:'creationForm', onsubmit: 'return validate()',
       enctype:'multipart/form-data' }
	   

#{list items:ideas, as:'idea'}
<div>

<fieldset style="width:600px;">
        <legend>
             <b> Title:</b> <a href="@{Ideas.show(idea.id)}"> ${idea.title}</a>
        </legend> 
		Description: ${idea.description}
		<br/>
		Author: 
		#{if idea.author.state == "a"}
		  <a href="@{Users.viewProfile(idea.author.id)}">${idea.author.username}</a>
		 #{/if}
		 #{else}
		  ${idea.author.username}
		  #{/else}
		<br/>
		Rating: ${idea.rating}
		<br/>
<input  type="checkbox" name="checkedIdeas" value = ${idea.id} onclick = "javascript: toggleCheck('${idea.id}')"> Promote to execution
 </fieldset>

 </div>
#{/list}

<input type = "hidden" name = "planId" value = ${plan.id} >
<input type="submit" value="save">
#{/form}
#{/if}
#{else}
The topic has no ideas to be promoted to execution
#{/else}</div>
<a href="@{Plans.viewAsList(plan.id)}">Go back to plan</a>

<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
</script>
<script type="text/javascript" >
	var ids = new Array();
	
	function toggleCheck (id) {
		if(ids.indexOf(id) == -1) {
			ids.push(id);
		}else {
			ids.pop(id);
		}
	}
	
	
	function validate() {
		if (ids.length == 0){
			alert("You haven't selected any ideas");
			return false;
		}
	}
	
	</script>

