#{extends 'main.html' /}
#{extends 'planLayout.html' /}
#{set title:'Add Item' /}
<h1> Add Item </h1>
#{form @Plans.add(), method:'POST', id:'additemForm', onsubmit: 'return checkall()', enctype:'multipart/form-data' }
</br>
Start Date::
        <select name="startDay" id="startDay">
            <option value="" disabled="true"selected>Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select name="startMonth" id="startMonth">
            <option value="" disabled="true"selected>Month</option>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
        <select name="startYear" id="startYear">
            <option value="" disabled="true" selected>Year</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>

</br>
End Date::
        <select name="endDay" id="endDay">
            <option value="" disabled="true"selected>Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select name="endMonth" id="endMonth">
            <option value="" disabled="true"selected>Month</option>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
        <select name="endYear" id="endYear">
            <option value="" disabled="true" selected>Year</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>
</br>
<p><b>Insert the description of the item</b></p>
<textarea id="description" name="description" rows="7" cols="50"></textarea>
<label id = "descriptionerror"> </label>
</br>
<p><b>Insert a summary for the description</b></p>
<input type = "hidden" name = "planId" value = ${p.id} >
<input type = "text" id = "summary" name = "summary" type = "text" size = "30">
<label id = "summaryerror"> </label>
</br>
To add another item check here <input type="checkbox" name = "check" value = "checked">
<input type = "submit" value ="Add" >
#{/form}
<script type ="text/javascript">
	function checkall(){
		var desc = document.getElementById("description").value;
		var sum = document.getElementById("summamry").value;
		if(document.getElementById("startDay").value == ""){
			alert("Please insert a start day for the item");
			return false;
		}
		if(document.getElementById("startMonth").value == ""){
			alert("Please insert a start month for the item");
			return false;
		}
		if(document.getElementById("startYear").value == ""){
			alert("Please insert a start year for the item");
			return false;
		}
		if(document.getElementById("endDay").value == ""){
			alert("Please insert a end day for the item");
			return false;
		}
		if(document.getElementById("endMonth").value == ""){
			alert("Please insert a end month for the item");
			return false;
		}
		if(document.getElementById("endYear").value == ""){
			alert("Please insert a end year for the item");
			return false;
		}
		if(sum == null || sum == "" ){
			alert("Please insert a summary for the description of the item");
			return false;
		}
		if(desc == null ||desc == "" ){
			alert("Please insert a description for the item");
			return false;
		}
		if(document.getElementById("startMonth").value == "1" && (document.getElementById("startDay").value == "29" ||document.getElementById("startDay").value == "30"||document.getElementById("startDay").value == "31")){
			alert("In start date: February has only 28 days");
			return false;
		}
		if(document.getElementById("startMonth").value == "3" && document.getElementById("startDay").value == "31"){
			alert("In start date: April has only 30 days");
			return false;
		}
		if(document.getElementById("startMonth").value == "5" && document.getElementById("startDay").value == "31"){
			alert("In start date: June has only 30 days");
			return false;
		}
		if(document.getElementById("startMonth").value == "8" && document.getElementById("startDay").value == "31"){
			alert("In start date: September has only 30 days");
			return false;
		}
		if(document.getElementById("startMonth").value == "10" && document.getElementById("startDay").value == "31"){
			alert("In start date: November has only 30 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "1" && (document.getElementById("endDay").value == "29" ||document.getElementById("startDay").value == "30"||document.getElementById("startDay").value == "31")){
			alert("In end date: February has only 28 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "3" && document.getElementById("endDay").value == "31"){
			alert("In end date: April has only 30 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "5" && document.getElementById("endDay").value == "31"){
			alert("In end date: June has only 30 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "8" && document.getElementById("endDay").value == "31"){
			alert("In end date: September has only 30 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "10" && document.getElementById("endDay").value == "31"){
			alert("In end date: November has only 30 days");
			return false;
		}
		if(parseInt(document.getElementById("endYear").value.toString())< parseInt(document.getElementById("startYear").value.toString())){
			alert("End year must be greater than Start year");
			return false;
			if(parseInt(document.getElementById("endYear").value.toString())== parseInt(document.getElementById("startYear").value.toString())){
				if(parseInt(document.getElementById("endMonth").value.toString())< parseInt(document.getElementById("startMonth").value.toString())){
					alert("End month must be greater than Start month");
					return false;
					}
				if(parseInt(document.getElementById("endMonth").value.toString())== parseInt(document.getElementById("startMonth").value.toString())){
					if (parseInt(document.getElementById("endDay").value.toString()) < parseInt(document.getElementById("startDay").value.toString())) {
						alert("End day must be greater than Start day");
						return false;
			}
				}
			}
			
			
		}
		if(parseInt(document.getElementById("startYear").value.toString()) < '$p.startDate.getYear()'){
			alert("The start year of the item must be later than the start year of the plan");
			return false;
			if(parseInt(document.getElementById("startYear").value.toString()) == '$p.startDate.getYear()'){
				if(parseInt(document.getElementById("startMonth").value.toString())< '$p.startDate.getMonth()'){
					alert("The start month of the item must be later than the start month of the plan");
					return false;
					if(parseInt(document.getElementById("startMonth").value.toString())== '$p.startDate.getMonth()'){
						if(parseInt(document.getElementById("startDay").value.toString()) < '$p.startDate.getDay()'){
							alert("The start day of the item must be later than the start day of the plan");
							return false;
						}
					}
				}
			}
		}
		if(parseInt(document.getElementById("endYear").value.toString()) > '$p.enddate.getYear()'){
			alert("The end year of the item must be earlier than the end year of the plan");
			return false;
			if(parseInt(document.getElementById("endYear").value.toString())== '$p.endDate.getYear()'){
				if(parseInt(document.getElementById("endMonth").value.toString())>'$p.endDate.getMonth()'){
					alert("The end month of the item must be earlier than the end month of the plan");
					return false;
					if(parseInt(document.getElementById("endMonth").value.toString())== '$p.endDate.getMonth()'){
						if(parseInt(document.getElementById("endDay").value.toString()) > '$p.endDate.getMonth()'){
							alert("The end day of the item must be earlier than the end day of the plan");
							return false;
						}
					}
				}
			}
		}
						
	}
</script>
