#{extends 'Login/index.html' /}
#{set title:'Edit Item' /}
<link type="text/css" href="/public/stylesheets/jquery-ui-.custom.css" rel="Stylesheet" />
    <script type="text/javascript" src="/public/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/jquery-ui-.custom.min.js"></script>
</br>
<h1>${item.summary}</h1>
#{form @Plans.edit2(), method:'POST', id:'edititemForm', onsubmit: 'return checkall()', enctype:'multipart/form-data' }
</br>
Start Date:: <input type="text" name= "startDate"id="datePickerA" vspace="20" readonly onclick= "datepickerA()" value="${item.startDate.format('MM/dd/yyyy')}"/>
</br>
End Date:: <input type="text" name= "endDate" id="datePickerB" vspace="20" readonly onclick= "datepickerB()" value="${item.endDate.format('MM/dd/yyyy')}"/>
</br>
<p><b>Insert the description of the plan</b></p>
<textarea id="description" name="description" rows="7" cols="50">${item.description}</textarea>
</br>
<p><b>Insert a summary for the description</b></p>
<input type = "hidden" name = "planId" value = '${item.plan.id}' >
<input type = "text" id = "summary" name = "summary" type = "text" size = "30" value="${item.summary}"><label id = "summaryerror"> </label>
</br>
<input type = "hidden" name = "itemId" value = '${item.id}'>
</br>
<input type = "submit" value ="Edit" >
#{/form}
<br>
<script type ="text/javascript">
function datepickerA(){
		$($("#datePickerA").datepicker({
                                                changeYear: true,
                                                showButtonPanel: true
                                            }));
											}
function datepickerB(){
		$($("#datePickerB").datepicker({
                                                changeYear: true,
                                                showButtonPanel: true
                                            }));
											}
function checkall(){
		var start = document.getElementById("datePickerA").value;
		var end = document.getElementById("datePickerB").value;
		var desc = document.getElementById("description").value;
		var sum = document.getElementById("summamry").value;
		if(start == "" || start == null){
			alert("Please Insert the date on which the item starts");
			return false;
		}
		if(end == "" || end == null){
			alert("Please Insert the date on which the item ends");
			return false;
		}
		if (desc == null || desc == "") {
			alert("Please insert a description for the item");
			return false;
		}
		if(sum == null || sum == "" ){
			alert("Please insert a summary for the description of the item");
			return false;
		}
		var sd = new Date("" +document.getElementById("datePickerA").value.toString());
		var ed = new Date("" +document.getElementById("datePickerB").value.toString());
		var psd = new date("" +document.getElementById("planstart").value.toString());
		var ped = new date("" +document.getElementById("planend").value.toString());
		alert(psd);
		if(ed <sd){
			alert("Start date must be later than end date");
			return false;
		}
		if(sd< new Date()){
			alert("Start date can not be earlier than today's date");
			return false;
		}
		if(sd <psd){
			alert("The item's start date must be later than the plan's start date");
			return false;
		}
		if(ed>ped){
			alert("The item's end date must be earlier than teh plan's end date");
			return false;
		}			
		
	}			
	
</script>