#{extends 'main.html' /}
#{set title:'Edit Plan' /}
<h1> Edit Action plan </h1>
<h1> Create Plan </h1>
Plan title:<input type= "text" id= "plantitle" size= "30" value = ""+'${plan.title}'>
Start Date:<input type = "text" id = "startdate" size ="30" value =""+'$Plan.startDate'>
End Date:<input type = "text" id = "enddate" size ="30" value =""+'$Plan.startDate'>
<p><b>Plan Description</b></p>
<textarea id="description" rows="7" cols="50" value = ""+'$Plan.description'>
</textarea>
<p><b>Requirements of the plan</b></p>
<textarea id="requirements" rows="7" cols="50" value = ""+'$Plan.requirement'>
</textarea>
<input type ="submit" value = "Edit" onclick="javascript:checkall();"/>
<!a href = ""> Go to add items<!/a>
<script type ="text/javascript">
	function checkall(){
		var t = document.getElementById("plantitle").value;
		var sd = document.getElementById("startdate").value;
		var ed = document.getElementById("enddate").value;
		var desc = document.getElementById("description").value;
		var req = document.getElementById("requirements").value;
		if(t == null || t== ""){
			alert("Please insert Plan title");
		}else{
			if(sd == null|| sd == ""){
				alert("Please insert Start Date");
			}else{
				if(ed == null || ed == ""){
					alert("Please insert End Date");
				}else{
					if(desc == null || desc == ""){
						alert("Please insert a description for the plan");
					}else{
						if(req == null || req == ""){
							alert("Please insert requirements for the plan");
						}else{
							$.post('@{edit()}',{
								title: t,
								startDate: sd,
								endDate: ed,
								description: desc,
								requirement:req
							});
						}
					}
				}
			}
		}
	}
</script>
