#{extends 'main.html' /}
#{set title:'Plan Creation' /}
<link type="text/css" href="/public/stylesheets/jquery-ui-.custom.css" rel="Stylesheet" />
    <script type="text/javascript" src="/public/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/jquery-ui-.custom.min.js"></script>
<h1> Create Plan </h1>
#{form @Plans.myCreate(), method:'POST', id:'plancreationForm', onsubmit: 'return checkall()', enctype:'multipart/form-data' }
Plan title:<input type= "text" id = "title" name = "title" size= "30"><label id = "titleerror" style= "color:Red"> Please Insert a title for the plan </label>
</br>
Start Date:: <input type="text" name= "startDate"id="datePickerA" vspace="20" readonly onclick= "datepickerA()"/><label id = "startdateerror"style= "color:Red"> Please Insert the date on which the plan starts </label><label id = "dateerror"style= "color:Red">Start date can not be earlier than today's date</label>
</br>
End Date:: <input type="text" name= "endDate" id="datePickerB" vspace="20" readonly onclick= "datepickerB()"/><label id = "enddateerror"style= "color:Red"> Please Insert the date on which the plan ends </label><label id = "earlyerror"style= "color:Red">Start date must be greater than end date</label>
</br>
<p><b>Insert the description of the plan</b></p>
</br>
<textarea id = "description" name = "description" rows= "7" cols = "50">
</textarea><label id = "descriptionerror"style= "color:Red"> Please insert a description for the plan </label>
</br>
<input type = "hidden" name = "topicId" value = ${topicId} >
<p><b>Insert the requirements of the plan</b></p>
</br>
<textarea id = "requirement" name = "requirement" rows = "7" cols = "50">
</textarea><label id = "requirementerror"style= "color:Red"> Please insert the requirements of the plan </label>
</br>
<input type = "submit" value ="Create">
#{/form}
<script type ="text/javascript">
	$('#titleerror').hide();
	$('#startdateerror').hide();
	$('#enddateerror').hide();
	$('#descriptionerror').hide();
	$('#requirementerror').hide();
	$('#earlyerror').hide();
	$('#dateerror').hide();
	function datepickerA(){
		$($("#datePickerA").datepicker({
                                                changeYear: true,
                                                showButtonPanel: true
                                            }));
	}
	function datepickerB(){
		$($("#datePickerB").datepicker({
                                                changeYear: true,
                                                showButtonPanel: true
                                            }));
	}
	function checkall(){
		var t = document.getElementById("title").value;
		var desc = document.getElementById("description").value;
		var req = document.getElementById("requirement").value;
		var start = document.getElementById("datePickerA").value;
		var end = document.getElementById("datePickerB").value;
		var flag = 0;
		if (t == null || t == "") {
			$('#titleerror').show();
			flag = 1;
		}else{
			$('#startdateerror').hide();
		}
		if(start == "" || start == null){
			$('#startdateerror').show();
			flag = 1;
		}else{
			$('#startdateerror').hide();
		}
		if(end == "" || end == null){
			$('#enddateerror').show();
			flag = 1;
		}else{
			$('#enddateerror').hide();	
		}
	
		if (desc == null || desc == "") {
			$('#descriptionerror').show();
			flag = 1;
		}else{
			$('#descriptionerror').hide();
		}
					
		if (req == null || req == "") {
			$('#requirementerror').show();
			flag = 1;
		}else{
			$('#requirementerror').hide();
		}
		if(flag == 1){
			return false;
		}
		var sd = new Date("" +document.getElementById("datePickerA").value.toString());
		var ed = new Date("" +document.getElementById("datePickerB").value.toString());
		if(ed <sd){
			$('#earlyerror').show();
			return false;
		}else{
			$('#earlyerror').hide();
		}
		if(sd< new Date()){
			$('#dateerror').show();
			return false;
		}else{
			$('#dateerror').hide();
		}
	}
	
</script>

