 #{extends 'planLayout.html' /}
 <head>
 
    <script>
  var tl;
function onLoad() {

var eventSource=new Timeline.DefaultEventSource();




  var bandInfos = [
  
  
  
    Timeline.createBandInfo({
eventSource: eventSource,
date: "Jan 25 2011 00:00:00 +0300",
        width:          "60%", 
         intervalUnit:   Timeline.DateTime.MONTH,  
        intervalPixels: 100,
			timeZone: +3
  
    }),
    Timeline.createBandInfo({
  eventSource: eventSource,
date: "Jan 25 2011 00:00:00 +0300",
        width:          "38%", 
        intervalUnit:   Timeline.DateTime.YEAR, 
        intervalPixels: 100,
		timeZone: +3
    }),
	
	
  ];
  
  
  
  
    bandInfos[1].syncWith = 0;
  bandInfos[1].highlight = true;
  
  
  
  
  
  
  
  
  
  
  tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);
  Timeline.loadXML("/public/xml/out.xml",function(xml,url){eventSource.loadXML(xml,url);});
}





var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
    }
}
  
  </script>
    </script>
 
  </head>
  <body onload="onLoad();" onresize="onResize();">
 <div id="my-timeline" style="height: 450px  ;   border: 5px  solid #004080 ">
 
 
 </div>
  </body>

    </body>