
#{extends 'planLayout.html' /}
<head>
    
    <title>View Plan As Calendar</title>

    <link rel="stylesheet" href="@'{/public/stylesheets/core.css'}" type="text/css" >
		
    <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript"></script>
    <script src="@'{/public/javascripts/jMonthCalendar.js'}" type="text/javascript"></script>


	
	
	
    <script type="text/javascript">
    $().ready(function() {
var options = {

height: 650,
width: 980,
navHeight: 25,
labelHeight: 25,

onMonthChanging: function(dateIn) {
	
 /*$.getJSON("http://localhost:9000/controller/Plans",function(data) {

                 
var events = new Array();


                    $.each(data, function(i, item) {

var oResultData = eval('(' + item + ')');
var event = { "EventID": oResultData.id, "Date": oResultData.endDate,"Title": oResultData.status, "URL": "","Description": oResultData.summary,
"CssClass":""
};

events.push(event);

});


                    $.jMonthCalendar.ReplaceEventCollection(events);
$.jMonthCalendar.DrawCalendar(dateIn);
});*/

$.jMonthCalendar.ReplaceEventCollection(events);
$.jMonthCalendar.DrawEventsOnCalendar();
$.jMonthCalendar.DrawCalendar(dateIn);
var events=[{"EventID": 1, "Date": new Date(2011,5,5),"Title":"ttt", "URL": "","Description": "testt",
"CssClass":"Meeting"}];
return true;
},
onEventBlockOver: function(event) {
return true;
},
onEventBlockOut: function(event) {
return true;
},
onDayLinkClick: function(date) {
return true;
},
onDayCellClick: function(date) {
return true;
}
};

var newevents = [];
$.jMonthCalendar.Initialize(options, newevents);
});</script>

</head>
<body>

	<center>
		<div id="jMonthCalendar"></div>

		
	</center>

</body>
</html>