#{extends 'Login/index.html' /}
#{set title:'Ideas Management' /}

<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">About Us  </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p> We are CoolSoft. A group of 6th semester GUC students
							studying the software engineering course. Actually this application
							is our course project and we have exerted a lot of effort in developing,
							so you are more than welcome to register on our website.</p>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- end #content -->