#{extends 'Login/index.html' /}
#{set title:'Contacts' /}

<style type="text/css">
.accordionItem h3 {
            margin: 0;
            font-size: 1.1em;
            border-bottom: 1px solid #66d color: "#150517";
        }
        
        .accordionItem h3:hover {
            cursor: pointer;
        }
        
        .accordionItem div {
            margin: 0;
            padding: 1em 0.4em;
        }
        
        .accordionItem.hide h3 {
        }
        
        .accordionItem.hide div {
            display: none;
        }
</style>

<div id = "contact">
<div id="pageNoSideBar">
		<div id="pageNoSideBar-bgtop">			
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">Contact Us  </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<ul>							
							<li><b>Our Doctor: </b><a href="mailto:fatma.meawad@guc.edu.eg"><i>Dr. Fatma Meawad</i></a>								 							
								</li>
								<li><b>Our Scrum Master: </b><a href="mailto:mohamed.monayri@gmai​l.com"> <i>Mohamed El-Monayri</i></a>								
								</li>
								<li><b>Our Manager: </b><a href="mailto:nohakhater@gmail.com"><i>Noha Khater</i></a>								
								</li>
								<li><b>Our Teams: </b> 
								<br> 
								<div class="accordionItem">
								<h3>&nbsp;&nbsp;&nbsp;<b>User Management and Relations Team: </b></h3>
								<div>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Nada Osama</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Lama Ashraf</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mai Magdy</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mostafa Ali</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader <a href="mailto:aymaestro@gmail.com"><i>Ahmed Maged</i></a>								
								</div>
								</div>																
								<div class="accordionItem">								
								<h3>&nbsp;&nbsp;&nbsp;<b>Organisation and Relation Management Team: </b></h3>
								<div>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Fadwa Sakr</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Omar Faruki</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mohamed Hisham</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ibrahim El-Khayat</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader<a href="mailto:nohakhater@gmail.com"><i>Noha Khater</i></a>								 
								</div>
								</div>								
								<div class="accordionItem">
								<h3>&nbsp;&nbsp;&nbsp;<b>Requests and Ideas Team: </b></h3>
								<div>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Alia El-Bolock</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ahmed El-Hadi</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Abdelrahman Mursi</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mostafa Aboul-Atta</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader<a href="mailto:mostafayasser.1991@gmail.com"><i>Mostafa Yasser</i></a>							
								</div>
								</div>								
								<div class="accordionItem">
								<h3>&nbsp;&nbsp;&nbsp;<b>Browsing Team: </b></h3>
								<div>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Monica Yusri</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Ibrahim Safwat</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Fady Amir</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Loaay  Alkherbawy</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader<a href="mailto:mgmohamedganem@gmail.com"><i>Mohamed Gomaa</i></a>									
								</div>
								</div>								
								<div class="accordionItem">
								<h3>&nbsp;&nbsp;&nbsp;<b>Planning and Tracking Team: </b></h3>
								<div>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Yassmeen Hussein</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Mohamed Mohie</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Alaa Sammer</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer <i>Hassan Ziko</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer/Team Leader<a href="mailto:salma.qayed@gmail.com"><i>Salma Osama</i></a>								 
								</div>
								</div>							
								<div class="accordionItem">
								<h3>&nbsp;&nbsp;&nbsp;<b>Design Team: </b></h3>
								<div>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer <i>Salma Osama</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer <i>Alia El-Bolock</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer <i>Monica Yusri</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer <i>Ahmed Maged</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer<i>Omar Faruki</i>								 
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer<i>Ahmed El Hadi</i>
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer <i>Abdelrahman Mursi</i>								
								</div>
								</div>	
								</li>														
								<br>
								<li><strong><u>To reach us all: </u></strong>
								<i><u>coolsoft-11@googlegroup.com</u></i></li>
							</ul>
						</div>
					</div>
			</div>
			<div style="clear: both;">&nbsp;</div>

		</div>
	</div>
</div>
<!-- end #content -->


<script type="text/javascript">
var accordionItems = new Array();

//Grab the accordion items from the page
var divs = document.getElementsByTagName('div');
for (var i = 0; i < divs.length; i++) {
    if (divs[i].className == 'accordionItem') {
    	accordionItems.push(divs[i]);    	
    }
        
}

// Assign onclick events to the accordion item headings
for (var i = 0; i < accordionItems.length; i++) {
    var h3 = getFirstChildWithTagName(accordionItems[i], 'H3');
    h3.onclick = toggleItem;
}

// Hide all accordion item bodies except the first and the first
for (var i = 0; i < accordionItems.length; i++) {
    accordionItems[i].className = 'accordionItem hide'; 
}

function toggleItem(){
    var itemClass = this.parentNode.className;
    
    // Hide all items
    for (var i = 0; i < accordionItems.length; i++) {
        accordionItems[i].className = 'accordionItem hide';
    }
    
    // Show this item if it was previously hidden
    if (itemClass == 'accordionItem hide') {
        this.parentNode.className = 'accordionItem';
        
    }
}

function getFirstChildWithTagName(element, tagName){
    for (var i = 0; i < element.childNodes.length; i++) {
        if (element.childNodes[i].nodeName == tagName) 
            return element.childNodes[i];
    }
    
}
</script>
