#{extends 'Login/index.html' /}
#{set title:'Home Page' /}


<script src="/public/javascripts/bmi.js" language="javascript">
</script>


#{if flash.success}
   <p style="color:green">
    <font size=4>${flash.success}</font>
   </p>
#{/if}
#{if flash.error}
   <p style="color:red">
    <font size=4>${flash.error}</font>
   </p>
#{/if}

<h1>Welcome</h1>

<form action="@{Notifications.notificationIndex()}" method="post">
	Send Notification: <i>(just for testing)</i><input type="submit" value="Notify">
</form>
<br>
<br>
<a href="/users/notificationview?type=All">View Notifications</a>
<br>
<a href="/users/notificationprofileview?type=All">View Notification Profiles</a>
<br>
<br>


