#{extends 'main.html' /}
#{set title:'Home Page' /}

<big><b><i>Welcome to COOLSOFT!</i></b></big>

<br>
<b>Username: </b>
${u.username}
<br>
<b>E-Mail </b>
${u.email}
<br>

My Admin: <input type="submit" value="Admin View" onclick="goAdmin()">

#{if admin==1}	
<form action="@{Invitations.view()}" method="GET">
<input type="submit" value="View Invitations" />
</form>
#{/if}
<form action="@{Users.viewNotifications()}" method="post" >
	My Notifications: <input type="submit" value="Notifications">
</form>
&nbsp;
<form action="@{Users.viewNotificationProfile()}" method="post" >
	My Notification Profile: <input type="submit" value="Notification Profile">
</form>
&nbsp;
<form action="@{Notifications.notificationIndex()}" method="post">
	Send Notification: <i>(just for testing)</i><input type="submit" value="Notify">
</form>
<form action="@{Items.viewAssignedItems()}" method="post">
    My assigned to-do items: <input type="submit" value="View">
</form>
<form action="@{AssignRequests.view()}" method="post">
    Assign Requests: <input type="submit" value="View">
</form>
<form action="@{Users.ViewOrgInv()}">
    <input type="hidden" name="userId" value="${u.id}">Invitations from Organizations: <input type="submit" value="view">
</form>
<form action="@{Users.listFollows()}">
    <input type="hidden" name="userId" value="${u.id}">Follow List: <input type="submit" value="view">
</form> &nbsp;
<p>
    &nbsp;
    Show Ideas List:
    <input type="submit" value="Show Ideas List" onclick=location.href="ideas/list">
</p>
<form action="@{Organizations.mainPage()}" method="post">
    Organizations you are enrolled in: <input type="submit" value="View">
</form>
<form action="@{Organizations.viewAllOrganizations()}" method="post">
	View All Organizations: <input type="submit" value="View">
</form>
<form action="@{Users.logout}" method="post">
Logout: <input type="submit" value="Logout">
</form>

<a href="@{Ideas.getDrafts()}">Drafts</a>


<script type="text/javascript">
function goAdmin() {
	window.location ='http://localhost:9008/admin';
}
</script>
