#{extends 'main.html' /}
<script src="/public/javascripts/topbar_message/jquery.js" type="text/javascript">
</script>
<script src="/public/javascripts/topbar_message/juery.topbar.js" type="text/javascript">
</script>
<link href="jquery.jnotify.css" rel="stylesheet" type="text/css" />
<script src="/public/javascript/jnotify/jquery.jnotify.js" type="text/javascript">
</script>
<!-- side bar -->
<div id="hmenu">
    <ul>
        <li>
            <a href="@{Users.viewProfile()}">Profile</a>
        </li>
        <li>
            <a href="@{Browse.browse()}">Browse All</a>
        </li>
        <li>
            <a href="javascript:void(0)" id="demo01">Latest Notifications</a>
            <div id="demo01-body" style="display: none;">
                #{if user.notificationsNumber == 0}
                You have no notifications!!
                #{/if}
                #{else}
                #{if user.notificationsNumber == 1}<h1>user.notifications.get(0).title</h1>
                <p>
                    user.notifications.get(0).description
                </p>
                #{/if}
                #{else}
                #{if user.notificationsNumber == 2}
                #{/if}
                #{else}
                #{if user.notificationsNumber == 3}
                #{/if}
                #{/else}
                #{/else}
                #{/else}
            </div>
        </li>
        <li>
            <a href="@{Users.viewNotifications()}">Notifications(${user.notificationsNumber})</a>
        </li>
        <li>
            <a href="@{Users.viewNotificationProfile()}">Notification Profile</a>
        </li>
        <li>
            #{if !user.isAdmin}<a href="@{Invitations.view()}">Invitations</a>
            #{/if}
        </li>
    </ul>
</div>
<div id="sidebar">
    <ul>
        <li>
            <div id="search">
                <form action="@{Search.quickSearch()}" method='post'>
                    Search: 
                    <br>
                    <input type="text" name="keyword" id="keyword" value = "Enter a keyword here" onfocus=this.value="" onblur='this.value="Enter a keyword here"' /><input type="image" src='/public/images/Search.jpg' id="submit" name="submit" value="GO" onclick="quickSearch(this.form)"/>
                    <br>
                    <small>
                        <i><a href="/AdvancedSearch">Advanced Search</a></i>
                    </small>
                </form>
            </div>
            <div style="clear: both;">
                &nbsp;
            </div>
        </li>
        <div style="clear: both;">
            &nbsp;
        </div>
        <li>
            <h2 id="a1">
                <u>
                    ${user.username}
                </u>
            </h2>
            <div id="o1">
                #{if user.profilePictureId != -1} 
                #{list items:user.profilePictureId, as:'id'}<img src="@{Pictures.getPicture(id)}" width="40" height="40"/>#{/list}
                #{/if}
                #{if user.profilePictureId == -1}<img src="/public/images/user.png" width="40" height="40"/>#{/if}
                <br>
                <b>E-Mail: </b>
                ${user.email} 
                <br>
                <b>Community Contribution Counter: </b>
                ${user.communityContributionCounter} 
                <br>
                #{if !user.isAdmin}<a href="@{Users.confirmDeactivation()}">Deactivate</a>
                <br>
                #{/if} 
                #{if user.isAdmin} <a href="http://localhost:9008/admin">Admin View</a>
                <br>
                #{/if}
            </div>
        </li>
        <!--div style="clear: both;">
        &nbsp;
        </div-->
        <li>
            <h2 id="a2">
                <u>
                    My Links
                </u>
            </h2>
            <div id="o2">
                <ul>
                    <li>
                        <a href="@{Organizations.mainPage()}">My Organisations</a>
                    </li>
                    <li>
                        <a href="@{Organizations.viewAllOrganizations()}">All Organisations</a>
                    </li>
                    <li>
                        <a href="@{Items.viewAssignedItems()}">Assigned Items</a>
                    </li>
                    <li>
                        <a href="@{AssignRequests.view()}">Assigned Requests</a>
                    </li>
                    <li>
                        <input type="hidden" name="userId" value="${user.id}">
                    </li>
                    <li>
                        <a href="@{Users.listFollows()}">Follow List</a>
                    </li>
                    <li>
                        <a href="@{MarkRequest.markDuplicate()}">Duplicate Requests</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <h2 id="a3">
                <u>
                    My Documents
                </u>
            </h2>
            <div id="o3">
                <ul>
                    <li>
                        <form action="@{Documents.newDocument()}" method="post">
                            <input type="hidden" name="id" value="-1">Create a Document: <input type="submit" value="Create">
                        </form>
                    </li>
                    <li>
                        <form action="@{Documents.listDocument()}" method="post">
                            <input type="hidden" name="id" value="-1">Show my Documents: <input type="submit" value="show">
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <h2 id="a4">
                <u>
                    My Gallery
                </u>
            </h2>
            <div id="o4">
                <ul>
                    <li>
                        <form action="@{Pictures.index()}" method="post">
                            <input type="hidden" name="id" value="-1">Show my Gallery: <input type="submit" value="show">
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <h2 id="a5">
                <u>
                    Drafts
                </u>
            </h2>
            <div id="o5">
                <ul>
                    <li>
                        <a href="@{Ideas.getDrafts()}">Drafts (${user.getDraftsCount()})</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <h2 id="a6">
                <u>
                    My Labels
                </u>
            </h2>
            <div id="o6">
                <ul>
                    <li>
                        <a href="@{Labels.createLabel()}">Create Label</a>
                    </li>
                    <li>
                        <a href="@{Labels.showAllLabels()}">Manage Labels</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
#{if flash.error}<b>
    <p style="color:green">
        ${flash.error}
    </p>
</b>
#{/if}
<body>
    #{doLayout /}
</body>
<script type="text/javascript" language="javascript">
    $(function(){
        var app1 = true;
        $('#o1').hide();
        $('#a1').click(function(){
            if (app1) {
                $('#o1').show(500);
                app1 = false;
            }
            else {
                $('#o1').hide(500);
                app1 = true;
            }
        });
        
        var app2 = true;
        $('#o2').hide();
        $('#a2').click(function(){
            if (app2) {
                $('#o2').show(500);
                app2 = false;
            }
            else {
                $('#o2').hide(500);
                app2 = true;
            }
        });
        
        var app3 = true;
        $('#o3').hide();
        $('#a3').click(function(){
            if (app3) {
                $('#o3').show(500);
                app3 = false;
            }
            else {
                $('#o3').hide(500);
                app3 = true;
            }
        });
        
        var app4 = true;
        $('#o4').hide();
        $('#a4').click(function(){
            if (app4) {
                $('#o4').show(500);
                app4 = false;
            }
            else {
                $('#o4').hide(500);
                app4 = true;
            }
        });
        
        var app5 = true;
        $('#o5').hide();
        $('#a5').click(function(){
            if (app5) {
                $('#o5').show(500);
                app5 = false;
            }
            else {
                $('#o5').hide(500);
                app5 = true;
            }
        });
        
        var app6 = true;
        $('#o6').hide();
        $('#a6').click(function(){
            if (app6) {
                $('#o6').show(500);
                app6 = false;
            }
            else {
                $('#o6').hide(500);
                app6 = true;
            }
        });
        
        $("#demo01").click(function(){
            $('#demo01-body').showTopbarMessage();
        });
        
        $("#demo02").click(function(){
            $('#demo02-body').showTopbarMessage({
                close: 5000
            });
        });
        
        $("#demo03").click(function(){
            $('#demo03-body').showTopbarMessage({
                background: "#093",
                close: 2000
            });
        });
        
        $("#demo04").click(function(){
            $('#demo04-body').showTopbarMessage({
                height: "150px",
                close: 2000
            });
        });
    });
</script>
<style>
    h2 {
        cursor: pointer;
        color: #003366;
        font-family: Georgia, "Times New Roman", Times, serif;
        padding: 0 !important;
    }
</style>
<script type="text/javascript">
    function quickSearch(frm){
        $.post('@{Search.quickSearch()}', {
            keyword: frm.search1.value
        }, function(){
            window.location.href = "/searchResult";
        });
    }
</script>
<script type="text/javascript">
</script>
