<html>
<body>
<table border="0" bgcolor="#ececec" cellspacing="5">
	<tr>
		<td>Dear ${topicOrganizer.firstName} ,</td>
		<td>
	<tr>
		<td>CoolSoft would like to inform you that an idea has been
		reported as a spam</td>
		<td>
	<tr>
		<td>The idea with the title</td>
		<td>
	<tr>
		<td>"${title}"</td>
		<td>
	<tr>
		<td>And Description :</td>
		<td>
	<tr>
		<td>"${description}"</td>
		<td>
	<tr>
		<td>and it was reported by this user</td>
		<td>
	<tr>
		<td>"${reporter}"</td>

		<input type="submit" value="Show the idea" onclick=location.href="${url}">