#{extends 'main.html' /} 

<div id="creation">
	<p>Label Name:</p>
	<input type="textbox" size = "50" id="name"></input>  
	<input type="submit" value ="create label" onclick="save()"></input>
</div>

<div id="labels">
	<p>
		Choose the Ideas you want to apply the label to:
	</p>
	#{list items:user.ideasCreated , as:'idea'}
    	<input type="checkbox" value="${idea.title}">${idea.title}</input><br>
	#{/list}
</div> 

<script type="text/javascript">
	function save()
	{
		var x = document.getElementById("name").value.toString();
		$.post('@{Labels.doCreateLabel()}' ,{name:x, ideas: m} );
		alert("label created!");
	}
</script>