#{extends '/login/index.html' /}

	<p id="labelname">${label.name}</p>
	
	<a onclick = "$('#editName').show()" href="#">Change this Label name</a>
	
	<div id = "editName" style="display:none;" >
		<input id = "newName" type="text" ></input><span id="warning"></span>
		<br><button onclick="alterName(${label.id})">change name</button>
	</div>
	
	#{if label.ideas.size() != 0}
		<p>Ideas under this label: </p>
		<form name="ideas">
			#{list items:label.ideas , as:'idea'}
				<ul>
					<input type="checkbox" value="${idea.id}"><a href='@{Ideas.show(idea.id)}'>${idea.title}</a></input>
				</ul>
			#{/list}
		</form> 
		<button onclick="removeSelected(${label.id})">remove selectd ideas</button>
	#{/if}
	#{else}
		<p>This Label has no Ideas</p>
	#{/else}
	
	<br>
	<a onclick="$('#otherIdeas').slideToggle();$('#btn').slideToggle()" href="#">add new ideas to this label</a>
	
	#{if otherIdeas.isEmpty()==false}
		<form name="otherIdeas" id= "otherIdeas" style="display:none;" >
			#{list items:otherIdeas , as:'other'}
				<ul>
		       		<input type="checkbox" value="${other.id}"><a href='@{Ideas.show(other.id)}'>${other.title}</a></input>
				</ul>
			#{/list}
		</form>
		<br><button id= "btn" style="display:none;" onclick="addIdeas(${label.id})">add selectd ideas</button>		
	#{/if}
	#{else}
		<p>No Ideas to add</p>
	#{/else}
	
	<script type="text/javascript">
		function alterName(id)
		{
			var name = document.getElementById("newName").value.toString();
			
			if(validate())
			{
				var link = "/labels/showLabel?labelId="+id;
				$.post('@{changeName()}' ,{labelId:id, newName:name},function(){window.location.href=link});
			}
			else
			{
				showWarning();
			}
		}
		
		function removeSelected(id)
		{
			var ideasToRemove = loopForm(document.ideas);
			var link = "/labels/showLabel?labelId="+id;
			$.post('@{Labels.removeIdeas()}' ,{labelId:id, ideas:ideasToRemove},function(){window.location.href=link});
		}
		
		function addIdeas(id)
		{
			var ideasToAdd= loopForm(document.otherIdeas);
			var link = "/labels/showLabel?labelId="+id;
			$.post('@{addIdeas()}' ,{labelId:id, ideas:ideasToAdd},function(){window.location.href=link});
		}
		
		function loopForm(form)
		{
			var j = 0;
			var choosenIdeas = new Array();
	        
			for (var i = 0; i < form.elements.length; i++) 
			{
				if (form.elements[i].type == 'checkbox') 
				{
	                if (form.elements[i].checked == true) 
					{
	                    choosenIdeas[j] = form.elements[i].value ;
						j++;
					}
	            }
	        }
	        
			return choosenIdeas;
	    }
		
		function showWarning()
		{
			document.getElementById('warning').innerHTML = "Please Enter a valid name for the label";
		}
		
		function validate()
		{
			var x = document.getElementById("newName").value.toString();
			
			x = jQuery.trim(x);
			
			if(x == "")
				return false;
			else
				return true;
		}
	</script>