<!--
<html>
<body>
#{extends 'main.html' /}
#{set title:'Entity Creation' /}
<h1> Create SubEntity </h1>

Entity Name: <input type="text" id="name" name="name"> 
<br />
<p>Description:</p>
<p><textarea id="desc" rows="5" cols="50"></textarea></p>
<input type = "hidden" name = "orgId" value = ${this.org} >
<input type = "hidden" name = "parentId" value = ${parentId} >
<input type="submit" value="Create" onclick = "submit(name.value,desc.value,'${this.org}');" />

<script type="text/javascript">
			function submit(n,d,o){
				var orga = organization.findBy(orgId.value);
				$.post('@{createEntity()}', {name:n, desc:d, org:orga});
				alert("Your new entity has been created!");
			}
</script>

</body>
</html>
--> 