<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
		<script src="/public/javascripts/bmi.js" language="javascript"></script>	

    <head>
    	<style type="text/css">body {
			font-size:80%;
			font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
		}
		.accordionItem h3 {
			margin:0;
			font-size:1.1em;
			border-bottom:1px solid #66d color:"#150517";
		}
		.accordionItem h3:hover {
			cursor:pointer;
		}
		.accordionItem div {
			margin:0;
			padding:1em 0.4em;
		}
		.accordionItem.hide h3 {
		}
		.accordionItem.hide div {
			display:none;
		}</style> 
			
        <title>Entity View</title>
				<script type="text/javascript">function unfollow(id) {
				$.post('@{Users.unfollowEntity()}', {
					entityId: id
				});
				alert("done!");
				location.reload(true);
			}

			var accordionItems = new Array();

			function init() {

				// Grab the accordion items from the page
				var divs = document.getElementsByTagName( 'div' );
				for ( var i = 0; i < divs.length; i++ ) {
					if ( divs[i].className == 'accordionItem' )
						accordionItems.push( divs[i] );
				}

				// Assign onclick events to the accordion item headings
				for ( var i = 0; i < accordionItems.length; i++ ) {
					var h3 = getFirstChildWithTagName( accordionItems[i], 'H3' );
					h3.onclick = toggleItem;
				}

				// Hide all accordion item bodies except the first
				for ( var i = 1; i < accordionItems.length; i++ ) {
					accordionItems[i].className = 'accordionItem hide';
				}
			}

			function toggleItem() {
				var itemClass = this.parentNode.className;

				// Hide all items
				for ( var i = 0; i < accordionItems.length; i++ ) {
					accordionItems[i].className = 'accordionItem hide';
				}

				// Show this item if it was previously hidden
				if ( itemClass == 'accordionItem hide' ) {
					this.parentNode.className = 'accordionItem';

				}
			}

			function getFirstChildWithTagName( element, tagName ) {
				for ( var i = 0; i < element.childNodes.length; i++ ) {
					if ( element.childNodes[i].nodeName == tagName )
						return element.childNodes[i];
				}
				
			}
			
			function endRelation(relId){
				$.post('@{EntityRelationships.delete()}', {relationId: relId});
				alert("relation deleted succesfully!");
				window.location.reload();
			}
			
			</script>
    </head>

    <body onload="init()">
        #{extends 'main.html' /}
        
        <center><big><b>${entity.name}</b></big></center><br><br>
		
		 <br/>
    <font color="Red">
        ${message}
    </font>
    <br/>
        <p>Description:</br>
        ${entity.description}</p> 
        #{if subentities.size() > 0}
		List of subentities: <br />
        <ul style="list-style: none;">   
		#{list items:subentities, as:'subentity'}
		<li>
			<a href="@{MainEntitys.viewEntity(subentity.id)}">${subentity.name}</a>
		</li>
		#{/list}
		</ul>
		#{/if}
		#{else}
		No subentities available for this entity!
		#{/else}
		<br />
		#{if (canCreateEntity == 1)}
		<a href="@{MainEntitys.goToCreateSubEntity(org.id,entity.id)}">Create new SubEntity</a>
		#{/if}
		<br />
		#{if (entity.createRelationship == true)}
		#{if (canCreateRelationship == true)}
		<a href="@{MainEntitys.createRelation(entity.id,org.id)}">Create Relation</a>
		<br />
		#{/if}
		#{/if}
		<div>
<a onclick="$('#lista').slideToggle()">Show Relationships</a>
   <div id="lista" style="display: none;">
   	#{if entity.relationsSource != null}
      #{list items:entity.relationsSource, as:'relationElement'}
			<ul>Name: <a id="${relationElement.id}">${relationElement.name}</a> With: <a href="/mainentitys/viewentity?id=${relationElement.destination.id}">${relationElement.destination.name}</a> <input type="button" value="rename" onclick="showRename(${relationElement.id})" /> <input type="button" value="end relationship" onclick="endRelation(${relationElement.id})" /></ul>
	  #{/list}	
	#{/if}
	#{if entity.relationsDestination != null}
	  
	  #{list items:entity.relationsDestination, as:'relElement'}
			<ul>Name: <a id="${relElement.id}">${relElement.name}</a> With: <a href="/mainentitys/viewentity?id=${relElement.source.id}">${relElement.source.name}</a> <input type="button" value="rename" onclick="showRename(${relElement.id})"/> <input type="button" value="end relationship" onclick="endRelation(${relElement.id})" /></ul>
	  #{/list}
   	#{/if}
   </div>
</div>
<head>
<script type="text/javascript">
	function showRename(relId)
	{
	var newRelName = prompt("Please enter the new name:", document.getElementById(relId).textContent);
	location.reload();
	if (newRelName!=null && newRelName!="")
  	{
  	$.post('@{EntityRelationships.renameRelationship()}', {
		relationToBeRenamedId: relId,
		newName: newRelName
	});
	
  	}
	}
</script>
</head>
		
		<form action="@{MainEntitys.viewFollowers()}">
            <HR>
            	<input type="hidden" name="entityId" value="${entity.id}">
            	<input type="hidden" name="f" value="true">
            	#{if (!entity.followers.contains(user))}            
            	<p>
                Follow ${entity.name} 
                <input type="submit" value="Follow">
                <br/>
                #{/if}
                </form>
				#{if follower == true}
			<form onsubmit="unfollow('${entity.id}');" method="post">
			<p>
			Unfollow ${entity.name} <input type="submit" value="unfollow" />
			</p>	
			</form>
			#{/if}
       <form action="@{MainEntitys.viewFollowers()}">
          <input type="hidden" name="entityId" value="${entity.id}">
          <input type="hidden" name="f" value="false">
          View ${entity.name} Followers 
          <input type="submit" value="Followers">
          <br/>
          <HR>
       </form>
		
		<p>		
		    #{if topicList.size() > 0}
			<br />
		<p>List of Topics:</p>
        <ul style="list-style: none;">   
		#{list items:topicList, as:'topic'}
		
		<li>
			#{if topic.hidden == false}
			#{if topic.canView(user)}
			<div class="accordionItem">
			<h3><a href="@{Topics.show(topic.id)}">${topic.title}</a>    <font color ="#FF0000" size =4>    ⊕</font><h3>
				<div>
					<p><font size=2>Description: ${topic.description}</font></p>
					<p><font size=2>Creator: ${topic.creator}</font></p>
				</div>
			</div>
			#{/if}
			#{/if}
			#{else}
			#{if topic.hider.username == user.username && topic.hidden == true}
			#{if canView == 1}
			<div class="accordionItem">
			<h3><a href="@{Topics.show(topic.id)}">${topic.title}</a>    <font color ="#FF0000" size =4>    ⊕</font>     <font color ="#FF0000" size =2>       hidden</font><h3>
				<div>
					<p><font size=2>Description: ${topic.description}</font></p>
					<p><font size=2>Creator: ${topic.creator}</font></p>
				</div>
			</div>
			#{/if}
			#{/if}
			#{/else}
		</li>
		
		#{/list}
		</ul>
		#{/if}
		#{else}
		No topics available for this entity!
		#{/else}
		
#{if invite == 1}		
 <input type="submit" value="Invite Organizers" onclick=location.href="@{Invitations.invite(entity.id)}">
#{/if}	
<br />
#{if check == 1}
 <input type="submit" value="Block/Unblock developers" onclick=location.href="@{BannedUsers.viewUsers(entity.id,0)}">
#{/if}		
		 #{if permission == 1}
		 <br />
<input type="submit" value="Add A Topic" onclick=location.href="@{Topics.blank(entity.id)}">
        <br />
		#{/if}
    
		#{else}
		#{if canRequest == 1}
		<br />
<input type="submit" value="Request A Topic" onclick=location.href="@{TopicRequests.blank(entity.id)}">
		<br />
		#{/if}
		#{/else}
		
		#{if (canEdit == 1)}
		<HR>
		<input type="submit" value="Edit" onclick=location.href="@{MainEntitys.editEntityPage(entity.id)}">
		<HR>	
		#{/if}
		
		#{if (canRequestRelationship == 1 && entityIsLocked == false)}
		<form action="@{MainEntitys.requestRelationship(user.id, org.id, entity.id)}" method="post">
			<input type="submit" value="Request Relationship Creation">
		</form>
		#{/if}
		
		<script type="text/javascript">function unfollow(id) {
				$.post('@{Users.unfollowEntity()}', {
					entityId: id
				});
				alert("done!");
				location.reload(true);
			}</script>
		#{if (canRestrict == 1)}
		
		<input type="submit" value="Restrict/De-Restrict Organizer" onclick=location.href="@{BannedUsers.restrictOrganizerEntityPath(entity.id)}">
		<HR>	
		#{/if}

    </body>
</html>

