<!--
@author Loaay Alkherbawy
@story  C4S10
The marking request
--> #{extends 'login/index.html' /}
<script src="/public/javascripts/topbar_message/jquery.js" type="text/javascript">
</script>
<script src="/public/javascripts/topbar_message/juery.topbar.js" type="text/javascript">
</script>
<link href="jquery.jnotify.css" rel="stylesheet" type="text/css" />
<script src="/public/javascript/jnotify/jquery.jnotify.js" type="text/javascript">
</script>
<html>
    <body>
        <a href="@{Application.index()}">Back to home</a>
        <br/>
        <br/>
        <u>
            <font size ="5" color ="blue">
                Requests 
            </font>
        </u>
        <br/>
        <br/>
        #{if requests}
        #{list items:requests, as:'request'}
        <li>
            <fieldset>
            User ${request.sender.username} Wants to mark Idea <a href='@{Ideas.show(request.idea1.id)}'>${request.idea1.title}</a>
            with Idea<a href='@{Ideas.show(request.idea2.id)}'> ${request.idea2.title}</a>
            </br>
            <input type = "button" value = "Accept" onclick='reject(${request.id},0)'/><input type = "button" value = "Reject" onclick='reject(${request.id},1)'/>
        </fieldset>
        </li>#{/list}
        #{/if}
        #{else}
        <tr>
            <td>
                <i>No new Requests</i>
            </td>
            <td>
            #{/else}
            <script type="text/javascript">
                function reject(id, ar){
                    if (ar > 0) {
                        $.post('@{MarkRequest.reject()}', {
                            reqID: id
                        }, function(){
                            alert("Request rejected!");
                            window.location.reload(true);
                        });
                    }
                    else {
                        $.post('@{MarkRequest.accept()}', {
                            reqID: id
                        }, function(){
                            alert("Request Accepted!");
                            window.location.reload(true);
                        });
                    }
                }
            </script>
            </body>
        </html>
