#{extends 'main.html' /}
#{set title:'View Volunteer Requests' /}
#{if error == true}
<h3>You do not have enough permissions to view volunteer requests for this plan.</h3>
#{/if}
#{else}
#{if planVolunteerRequests.size() > 0}<h3>Volunteer Requests </h3>
<ul>
    #{list items:planVolunteerRequests, as:'request'}
    <li>
        <fieldset>
            <legend>
            <h2>
                ${request.destination}
            </h2>
            </legend>
            Sender: ${request.sender}
            <br/>
            Justification:  ${request.justification}
            <br/>
			<input type = "button" value = "Accept" onclick="accept_request('${request.id}')">
			<input type = "button" value = "Reject" onclick="reject_request('${request.id}')">
        </fieldset>
    </li>
    #{/list}
</ul>
#{/if}
#{else}
No volunteer requests for this plan exist.
#{/else}
#{/else}

<script type="text/javascript">

function accept_request(id)
  {
	$.post('@{accept()}' , {requestId: id});
	alert("Request accepted!");
	window.location.reload();
  }

function reject_request(id)
  {
	$.post( '@{reject()}' , {requestId: id});
	alert("Request rejected!");
	window.location.reload();
  }

</script>