body
{
    margin: 0px;
    font-family: "Trebuchet MS", Arial, Sans-Serif;
    font-size: 14px;
}

a
{
	color: #0066CC;
	text-decoration: none;
}
p
{
	font-family: "Trebuchet MS", Arial, Sans-Serif;
    font-size: 8px;
}
a:hover
{
	color: #CC0000;
	text-decoration: underline;
}