#{extends 'planLayout.html' /}
#{set title:'Add Item' /}
<link type="text/css" href="/public/stylesheets/jquery-ui-.custom.css" rel="Stylesheet" />
    <script type="text/javascript" src="/public/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/jquery-ui-.custom.min.js"></script>
<h1> Add Item </h1>
<input type="hidden" name= "planstart"id="planstart" vspace="20" readonly value="${plan.startDate.format('MM/dd/yyyy')}"/>
<input type="hidden" name= "planend"id="planend" vspace="20" readonly value="${plan.endDate.format('MM/dd/yyyy')}"/>
</br>
#{form @Plans.add(), method:'POST', id:'additemForm', onsubmit: 'return checkall()', enctype:'multipart/form-data' }
</br>
Start Date:: <input type="text" name= "startDate"id="datePickerA" vspace="20" readonly onclick= "datepickerA()"/><label id = "startdateerror"style= "color:Red"> Please Insert the date on which the item starts </label><label id = "dateerror"style= "color:Red">Start date can not be earlier than today's date</label><label id = "gom3aerror"style= "color:Red">Item's start date must be later than the plan's start date</label>
</br>
End Date:: <input type="text" name= "endDate" id="datePickerB" vspace="20" readonly onclick= "datepickerB()"/><label id = "enddateerror"style= "color:Red"> Please Insert the date on which the item ends </label><label id = "earlyerror"style= "color:Red">Start date must be greater than end date</label><label id = "zikoerror"style= "color:Red">Item's end date must be earlier than the plan's end date</label>
</br>
<p><b>Insert the description of the item</b></p>
<textarea id="description" name="description" rows="7" cols="50"></textarea><label id = "descriptionerror"style= "color:Red"> Please insert a description for the item </label>
</br>
<p><b>Insert a Title for the description</b></p>
<input type = "hidden" name = "planId" value = ${plan.id} >
<input type = "text" id = "summary" name = "summary" type = "text" size = "30"><label id = "summaryerror"style= "color:Red"> Please  a title for the plan </label>
</br>
To add another item check here <input type="checkbox" name = "check" value = "checked">
<input type = "submit" value ="Add" >
#{/form}
<script type ="text/javascript">
	$('#startdateerror').hide();
	$('#enddateerror').hide();
	$('#descriptionerror').hide();
	$('#summaryerror').hide();
	$('#earlyerror').hide();
	$('#dateerror').hide();
	$('#gom3aerror').hide();
	$('#zikoerror').hide();
	function datepickerA(){
		$($("#datePickerA").datepicker({
                                                changeYear: true,
                                                showButtonPanel: true
                                            }));
	}
	function datepickerB(){
		$($("#datePickerB").datepicker({
                                                changeYear: true,
                                                showButtonPanel: true
                                            }));
	}
	function checkall(){
		var start = document.getElementById("datePickerA").value;
		var end = document.getElementById("datePickerB").value;
		var desc = document.getElementById("description").value;
		var sum = document.getElementById("summary").value;
		var flag = 0;
		if(start == "" || start == null){
			$('#startdateerror').show();
			flag = 1;
		}else{
			$('#startdateerror').hide();
		}
		if(end == "" || end == null){
			$('#enddateerror').show();
			flag = 1;
		}else{
			$('#enddateerror').hide();	
		}
		if (desc == null || desc == "") {
			$('#descriptionerror').show();
			flag = 1;
		}else{
			$('#descriptionerror').hide();
		}
		if(sum == null || sum == "" ){
			$('#summaryerror').show();
			flag = 1;
		}else{
			$('#summaryerror').hide();
		}
		if(flag == 1){
			return false;
		}
		var sd = new Date("" +document.getElementById("datePickerA").value.toString());
		var ed = new Date("" +document.getElementById("datePickerB").value.toString());
		var gom3a = new Date(""+document.getElementById("planstart").value.toString());
		var ziko = new Date(""+document.getElementById("planend").value.toString());
		if(ed <sd){
			$('#earlyerror').show();
			return false;
		}else{
			$('#earlyerror').hide();
		}
		if(sd< new Date()){
			$('#dateerror').show();
			return false;
		}else{
			$('#dateerror').hide();
		}
		if(sd < gom3a){
			$('#gom3aerror').show();
			return false;
		}else{
			$('#gom3aerror').hide();
		}
		if(ed > ziko){
			$('#zikoerror').show();
			return false;
		}else{
			$('#zikoerror').hide();
		}		
	}
</script>
