#{extends 'main.html' /}
#{set title:'Plan Creation' /}
<h1> Create Plan </h1>
#{form @Plans.myCreate(), method:'POST', id:'plancreationForm', onsubmit: 'return checkall()', enctype:'multipart/form-data' }
Plan title:<input type= "text" id = "title" name = "title" size= "30"><label id = "titleerror"> </label>
</br>
Start Date::
        <select name="startDay" id="startDay">
            <option value="" disabled="true"selected>Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select name="startMonth" id="startMonth">
            <option value="" disabled="true"selected>Month</option>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
        <select name="startYear" id="startYear">
            <option value="" disabled="true" selected>Year</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>
</br>
End Date::
        <select name="endDay" id="endDay">
            <option value="" disabled="true"selected>Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select name="endMonth" id="endMonth">
            <option value="" disabled="true"selected>Month</option>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
        <select name="endYear" id="endYear">
            <option value="" disabled="true" selected>Year</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>
</br>
<p><b>Insert the description of the plan</b></p>
</br>
<input type = "hidden" name = "topicId" value = ${topicId} >
<textarea id = "description" name = "description" rows= "7" cols = "50">
</textarea><label id = "descriptionerror"> </label>
</br>
<p><b>Insert the requirements of the plan</b></p>
</br>
<textarea id = "requirement" name = "requirement" rows = "7" cols = "50">
</textarea><label id = "requirementerror"> </label>
</br>
#{/form}
<script type ="text/javascript">
	function checkall(){
		var t = document.getElementById("title").value;
		var desc = document.getElementById("description").value;
		var req = document.getElementById("requirement").value;
		
		if (t == null || t == "") {
			alert("Please Insert a title for the plan");
			return false;
		}
		if(document.getElementById("startDay").value == ""){
			alert("Please Insert the day on which the plan starts");
			return false;
		}
		if(document.getElementById("startMonth").value == ""){
			alert("Please insert a month for the start of the plan");
			return false;
		}
		if(document.getElementById("startYear").value == ""){
			alert("Please insert a year for the start of the plan");
			return false;
		}
		if(document.getElementById("endDay").value == ""){
			alert("Please Insert the day on which the plan ends");
			return false;
		}
		if(document.getElementById("endMonth").value == ""){
			alert("Please insert a month for the end of the plan");
			return false;
		}
		if(document.getElementById("endYear").value == ""){
			alert("Please insert a year for the end of the plan");
			return false;
		}
		if (desc == null || desc == "") {
			alert("Please insert a description for the plan");
			return false;
		}
					
		if (req == null || req == "") {
			alert("Please insert requirements for the plan");
			return false;
		}
		
		if(document.getElementById("startMonth").value == "1" && (document.getElementById("startDay").value == "29" ||document.getElementById("startDay").value == "30"||document.getElementById("startDay").value == "31")){
			alert("In start date: February has only 28 days");
			return false;
		}
		if(document.getElementById("startMonth").value == "3" && document.getElementById("startDay").value == "31"){
			alert("In start date: April has only 30 days");
			return false;
		}
		if(document.getElementById("startMonth").value == "5" && document.getElementById("startDay").value == "31"){
			alert("In start date: June has only 30 days");
			return false;
		}
		if(document.getElementById("startMonth").value == "8" && document.getElementById("startDay").value == "31"){
			alert("In start date: September has only 30 days");
			return false;
		}
		if(document.getElementById("startMonth").value == "10" && document.getElementById("startDay").value == "31"){
			alert("In start date: November has only 30 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "1" && (document.getElementById("endDay").value == "29" ||document.getElementById("startDay").value == "30"||document.getElementById("startDay").value == "31")){
			alert("In end date: February has only 28 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "3" && document.getElementById("endDay").value == "31"){
			alert("In end date: April has only 30 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "5" && document.getElementById("endDay").value == "31"){
			alert("In end date: June has only 30 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "8" && document.getElementById("endDay").value == "31"){
			alert("In end date: September has only 30 days");
			return false;
		}
		if(document.getElementById("endMonth").value == "10" && document.getElementById("endDay").value == "31"){
			alert("In end date: November has only 30 days");
			return false;
		}
		
		if(parseInt(document.getElementById("startYear").value.toString()) > parseInt(document.getElementById("endYear").value.toString())){
			alert("In plan: Start  year must be earlier end year");
			return false;
			if(parseInt(document.getElementById("startYear").value.toString())== parseInt(document.getElementById("endYear").value.toString())){
				if(parseInt(document.getElementById("startMonth").value.toString())> parseInt(document.getElementById("endMonth").value.toString())){
					alert("In plan: Start month must be earlier than end month");
					if(parseInt(document.getElementById("startMonth").value.toString())== parseInt(document.getElementById("endMonth").value.toString())){
						if(parseInt(document.getElementById("startDay").value.toString())> parseInt(document.getElementById("endDay").value.toString())){
							alert("In plan: Start day must be earlier than end day");
							return false;
						}
					}
				}
			}
		}
	}
	
</script>

