#{extends 'planLayout.html' /}
<script type="text/javascript">
    var count = 0;
    function submit(id, planId){
    
	   var r=confirm("Are You sure you want to remove this idea from the plan?");
		if (r == true) {
			$.post('@{unassociateIdea()}', {ideaId: id,	planId: planId});
			$('#idea_' + id).remove();
			count = count-1;
			if(count==0) {
				document.getElementById("label").innerHTML = "There are no ideas associated to this plan";
			}
			
		}
  }
    
    
</script>
#{if ideas.size() > 0}
<span id = "label">
Ideas associated to this plan:
</span>
<br/>

    #{list items:ideas, as:'idea'}
    <div id = "idea_${idea.id}">
    	<script type="text/javascript"> count = count+1;   </script>
        <fieldset style="width:600px;">
            <legend>
              <b> Title:</b> <a href="@{Ideas.show(idea.id)}"> ${idea.title}</a>
            </legend>
            Description: ${idea.description}
            <br/>
            Author: 
            #{if idea.author.state == "a"}<a href="@{Users.viewProfile(idea.author.id)}">${idea.author.username}</a>
            #{/if}
            #{else}
            ${idea.author.username}
            #{/else}
            <br/>
            Rating: ${idea.rating}
            <br/>
			#{if canIdea == 1}
           
			<a onclick="submit(${idea.id}, ${plan.id})" style="cursor:pointer; float:right;">
			<img src="/public/images/Cross.png" title="Remove from plan" width="25" height="20"/></a>
       		#{/if}
	    </fieldset>
    </div>#{/list}
#{/if}
#{else}
There are no ideas associated to this plan
#{/else}

<a href="@{Plans.viewAsList(plan.id)}">Go back to plan</a>

