#{extends 'main.html' /}
#{list items:plans, as:'plan'}
<fieldset>
    <legend>
           Plan: <a href="@{Plans.viewAsList(plan.id)}"> ${plan.title} </a>

    </legend>
    Created by: ${plan.madeBy.username}
    <br/>
    Status: ${plan.status}
    <br/>
    StartDate: ${plan.startDate.format('dd MMM yy')}
    <br/>
    EndDate: ${plan.endDate.format('dd MMM yy')}
    <br/>
    Description: ${plan.description}
    <br/>
    Plan rating: ${plan.rating}
    <br/>
    Plan progress: ${plan.calculateProgress()}
</fieldset>
#{/list}