#{extends 'main.html' /}
#{set title:'Plan Creation' /}
<h1> Create Plan </h1>
#{form @Plans.create(), method:'POST', id:'plancreationForm', onsubmit: 'return checkall()' enctype:'multipart/form-data' }
Plan title:<input type= "text" id = "title" name = "title" size= "30"><label id = "titleerror"> </label>
</br>
Start Date:<input type = "text" id = "startDate" name = "startDate" size ="30"><label id = "starterror"> </label>
</br>
End Date:<input type = "text" id = "endDate" name = "endDate"size ="30"><label id = "enderror"> </label>
</br>
<p><b>Insert the description of the plan</b></p>
</br>
<input type = "hidden" name = "topicId" value = ${topicId} >
<textarea id = "description" name = "description" rows= "7" cols = "50">
</textarea><label id = "descriptionerror"> </label>
</br>
<p><b>Insert the requirements of the plan</b></p>
</br>
<textarea id = "requirement" name = "requirement" rows = "7" cols = "50">
</textarea><label id = "requirementerror"> </label>
</br>
<p><b>Insert an item</b></p>
</br>
Start Date:<input type = "text" id = "istartdate" name = "istartdate" size = "30"><label id = "istartdateerror"> </label>
</br>
End Date:<input type = "text" id = "ienddate" name = "ienddate" size = "30"><label id = "ienddateerror"> </label>
</br>
<p><b>Insert the description of the plan</b></p>
</br>
<textarea id = "idescription" name = "idescription" rows="7" cols = "50"><label id = "idescriptionerror"> </label>
</textarea><label id = "idescriptionerror"> </label>
</br>
<p><b>Insert a summary for the description</b></p>
</br>
<input id = "isummary" name = "isummary"type = "text" size = "30"><label id = "isummaryerror"> </label>
</br>
To add another item check here <input type="checkbox" name = "check" value = "checked">
<input type = "submit" value ="search" >
#{/form}
<input type ="submit" value = "Create" onclick="javascript:checkall();"/>
<!a href = ""> Go to add items<!/a>
<script type ="text/javascript">
	function checkall(){
		var t = document.getElementById("title").value;
		var sd = document.getElementById("startDate").value;
		var ed = document.getElementById("endDate").value;
		var desc = document.getElementById("description").value;
		var req = document.getElementById("requirement").value;
		var isd = document.getElementById("istartdate").value;
		var ied = document.getElementById("ienddate").value;
		var idesc = document.getElementById("idescription").value;
		var isum = document.getElementById("isummary").value;
		if (t == null || t == "") {
			document.getElementById("titleerror").innerHTML = "Please insert a title for your plan";
			return false;
		}
		if (sd == null || sd == "") {
			document.getElementById("starterror").innerHTML = "Please insert Start Date";
			return false;
		}
		if (ed == null || ed == "") {
			document.getElementById("enderror").innerHTML = "Please insert End Date";
			return false;
		}
		if (desc == null || desc == "") {
			document.getElementById("descriptionerror").innerHTML = "Please insert a description";
			return false;
		}
					
		if (req == null || req == "") {
			document.getElementById("requirementerror").innerHTML = "Please insert the requirements";
			return false;
		}
		if (isd == null || isd == ""){
			document.getElementById("istartdateerror").innerHTML = "Please insert a start date";
			return false;
		}					
		if (ied == null || ied == ""){
			document.getElementById("ienddateerror").innerHTML = "Please insert an end date";
			return false;
		}	
		if (idesc == null || idesc == ""){
			document.getElementById("idescriptionerror").innerHTML = "Please insert a description";
			return false;
		}
		if (isum == null || isum == ""){
			document.getElementById("isummaryerror").innerHTML = "Please insert summary";
			return false;
		}
						
					
				
			
		
	}
</script>

