#{extends 'planLayout.html' /}
#{set title:'View Plan as List' /}
<br/> 
#{if org == true)}
<form action="@{VolunteerRequests.viewVolunteerRequests()}" method="post">
    Volunteer Requests: <input type="submit" value="View Volunteer Requests">
</form> #{/if}
#{if error == true}
<h3>You do not have enough permissions to view this plan.</h3>
#{/if}
#{else}
#{if canEdit == 1}
			<a href="@{Plans.editPlan(p.id)}">Edit General info about the plan</a>
#{/if}
<br/>

<!--  <br/>
This plan is now rated: ${newRating}
<form action="@{Plans.rate(rating,p.id)}" method="GET">
    <input type="text" name="rating" id="rating" onkeypress="return isNumberKey(event)" onkeydown="isSingleDigit()"/> 
    <input type="submit" value="Submit rating"/>
</form> 
<br /> -->
#{if itemsList.size() > 0}
<ul style="list-style: none; ">
    #{list items:itemsList, as:'item'}
    <li>
        <fieldset>
            <legend>
                <h2>
                ${item.summary}</a>
            </h2>
            </legend>
            Item Description: ${item.description}
            <br/>
            Start Date:  ${item.startDate.format('dd MMM yy')}
            <br/>
            End Date:  ${item.endDate.format('dd MMM yy')}
            <br/>
            Assigned Users: 
            <ul style="list-style: none; ">
                #{list items:item.assignees, as:'assignedUser'}
                <li>
                    <a href="#">${assignedUser.username}</a>
                </li>
                #{/list}
            </ul>
   		 #{if user.canVolunteer(item.id) && !(item.status == 2)}
   		<a href="@{VolunteerRequests.justify(item.id, p.id, 0)}">Volunteer to work on this item</a>
     	<br/>
  		#{/if} &nbsp; &nbsp;
		
		<a href="@{AssignRequests.assign(item.id, p.id)}">Assign a user to this item</a>
      
		 #{if canEdit == 1}
		<a href="@{Plans.editItem(item.id)}">Edit this item</a>
      #{/if}
         
        </fieldset>
    </li>
    #{/list}
</ul>
#{/if} 
#{else}  
No items exist in plan. Please contact 
#{if p.topic.getOrganizer().size() > 1} 
<ul style="list-style: none; ">
	    #{list items:p.topic.getOrganizer(), as:'organizer'}
	    <li>
	        <a href="#">${organizer.username}</a>
	    </li>
	    #{/list}
	</ul>
	#{/if} 
	#{else}
	${p.topic.getOrganizer().get(0).username}
	#{/else}
#{/else}
#{/else}
<!-- <script type="text/javascript">

   	function isNumberKey(evt)
    {
       var charCode = (evt.which) ? evt.which : event.keyCode
       if (charCode > 31 && (charCode < 48 || charCode > 53)){
	   	return false;
	   }
          
       return true;
    }
    function isSingleDigit()
    {
    	var txt = document.getElementById('rating').value;
    	if(txt.length > 0)
    	{
    		document.getElementById('rating').value = document.getElementById('rating').value.substring(0, 0);
    	}
    }
</script> -->
