#{extends 'main.html' /}
#{set title:'View Plan as List' /}<h3>${p.title}</h3>
<br/>
<label id = "volunteerError" > ${y} </label> 
#{if itemsList.size() > 0}
<ul style="list-style: none; ">
    #{list items:itemsList, as:'item'}
    <li>
        <fieldset>
            <legend>
                <h2>
                ${item.summary}</a>
            </h2>
            </legend>
            Item Description: ${item.description}
            <br/>
            Start Date:  ${item.startDate.format('dd MMM yy')}
            <br/>
            End Date:  ${item.endDate.format('dd MMM yy')}
            <br/>
            Assigned Users: 
            <ul style="list-style: none; ">
                #{list items:{${item.assignees}}, as:'assignedUser'}
                <li>
                    <a href="#">${assignedUser.username}</a>
                </li>
                #{/list}
            </ul>
           <a href="@{Plans.volunteer(item.id, p.id)}">Volunteer to work on this item</a>
            <br/>
            #{if p.topic.getOrganizer().contains(user)}
			<a href="@{AssignRequests.assign(item.id, p.id)}">Assign a user to this item</a>
            #{/if}
        </fieldset>
    </li>
    #{/list}
</ul>
#{/if} 
#{else}  
No items exist in plan. Please contact 
#{if p.topic.organizers.size() > 1} 
<ul>
    #{list users:${p.topics.organizers}, as:'organizer'}
    <li>
        <a href="#">${organizer.username}</a>
    </li>
    #{/list}
</ul>
#{/if} 
#{else}
${p.topics.organizers.get(0).username}
#{/else}
#{/else}
<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
    function volunteer(){
	
	}  
</script>
