#{if error == false}
#{extends 'planLayout.html' /}
#{/if}
#{set title:'View Plan as List' /}
<br/> 
#{if org == true}
<form action="@{VolunteerRequests.viewVolunteerRequests()}" method="post">
	<input type = "hidden" name = "planId" value = ${p.id} >
    Volunteer Requests: <input type="submit" value="View Volunteer Requests">
</form> #{/if}
#{if error == true}
<h3>You do not have enough permissions to view this plan.</h3>
#{/if}
#{else}
#{if canEdit == 1}
			<a href="@{Plans.editPlan(p.id)}">Edit General info about the plan</a>
#{/if}
#{if canIdea == 1}
<form action="@{Plans.addIdea()}" method="post">
<input type = "hidden" name = "planId" value = ${p.id} >
<input type="submit" value="Associate ideas to this plan">
</form>
#{/if}
<br/>
<form action="@{Plans.planView()}" method="post">
<input type = "hidden" name = "planId" value = ${p.id} >
<input type="submit" value="View the list of ideas associated to this plan">
</form>
<br/>
		<form action="@{Plans.rate(p.id,rat)}" method="GET">
			<input type="submit" value="Submit rating"/>
			<input type="hidden" name = "planId" value=${p.id}/>
			<select name="rat">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</form>
<br />
		<form action="@{Plans.sharePlan()}" method="GET">
			<input type="submit" value="Share with user" />
			<input type="hidden" name = "planID" value=${p.id}/>
			<input type="text" name="userName" id="userToShareWith"/>
		</form>
 		<br />
		<form action="@{Comments.addCommentToPlan()}" method="GET">
		<input type = "text" name = "comment">
        <input type = "hidden" name = "planId" value = ${p.id} >
		<input type = "submit" value = "Comment" >
	</form>
#{if itemsList.size() > 0}
<ul style="list-style: none; ">
    #{list items:itemsList, as:'item'}
    <li>
        <fieldset>
            <legend>
                <h2>
                ${item.summary}</a>
            </h2>
            </legend>
            Item Description: ${item.description}
            <br/>
			Status: #{if item.status == 0}New
			#{/if}
			#{else}
			#{if item.status == 1} In Progress
			#{/if}
			#{else}
			#{if item.status == 2}Done
			#{/if}
			#{/else}
			#{/else}
			<br/>
            Start Date:  ${item.startDate.format('dd MMM yy')}
            <br/>
            End Date:  ${item.endDate.format('dd MMM yy')}
			&nbsp;&nbsp;
			#{if item.endDatePassed()}
			The end date has passed!
			#{/if}
            <br/>
			
            #{if item.assignees.size() > 0}
			Assigned Users: 
            <ul style="list-style: none; ">
                #{list items:item.getAssignees(), as:'assignedUser'}
                <li>
                    <a href="#">${assignedUser.username}</a>
                </li>
                #{/list}
            </ul>
			#{/if}
 		 #{if user.canVolunteer(item.id) && !(item.status == 2) && !item.endDatePassed()}
   		<a href="@{VolunteerRequests.justify(item.id, p.id, 0)}">Volunteer to work on this item</a>
     	<br/>
  		#{/if}
		 #{if user.canWork(item.id) && !(item.status == 2) && !item.endDatePassed()}
   		<a href="@{Plans.workOnItem(item.id)}">Work on this item</a>
     	<br/>
  		#{/if}
			#{if canAssign == 1 && !(item.status == 2)&& !item.endDatePassed()}
		<a href="@{AssignRequests.assign(item.id, p.id)}">Assign a user to this item</a>
		<br/>
      #{/if}
		 #{if canEdit == 1}
		<a href="@{Plans.editItem(item.id)}">Edit this item</a>
		<br/>
      #{/if}
	  	 #{if canEdit == 1}
		<a href="@{Plans.deleteItem(p.id,item.id)}">Delete this item</a>
		<br/>
      #{/if}
         
        </fieldset>
    </li>
    #{/list}
</ul>
#{if canEdit == 1}
		<a href="@{Plans.addItem(p.id)}">Add item(s)</a>
 #{/if}
#{/if} 
#{else}  
No items exist in plan. Please contact 
#{if p.topic.getOrganizer().size() > 1} 
<ul style="list-style: none; ">
	    #{list items:p.topic.getOrganizer(), as:'organizer'}
	    <li>
	        <a href="#">${organizer.username}</a>
	    </li>
	    #{/list}
	</ul>
	#{/if} 
	#{else}
	${p.topic.getOrganizer().get(0).username}
	#{/else}
#{/else}
#{/else}

			
