 #{extends 'login/index.html' /}
 #{if canView == true}
<div id="leftSidebar">
 <ul>
        <div style="clear: both;">
            &nbsp;
        </div>
        <li>
            <ul>
                #{if isOrganizer == true}
                <li>
                    <a href="@{VolunteerRequests.viewVolunteerRequests(p.id)}">Volunteer Requests</a>
                </li>
                #{/if} 
                #{if canIdea == 1} 
                <li>
                    <a href="@{Plans.addIdea(p.id)}">Associate ideas to plan</a>
                </li>
                #{/if}
                <li>
                    <a href="@{Plans.planView(p.id)}">Promoted Ideas </a>
                </li>
                #{if canEdit == 1}
                <li>
                    <a href="@{Plans.addItem(p.id)}">Add item(s)</a>
                </li>
                <li>
                    <a href="@{Plans.editPlan(p.id)}" id="demo01">Edit plan</a>
                </li>
				#{/if} 
				#{if canDelete}
				<li>
				  	<a href="#" onclick="delPlan(${p.id}, ${p.topic.id})">delete plan</a>
				</li>
                #{/if} 
                <li>
                    <a href="@{Plans.viewAsList(p.id)}">View list of to-do items</a>
                </li>
                <li>
                    <a href="@{Plans.viewAsCalendar(p.id)}">View plan calendar</a>
                </li>
                <li>
                    <a href="@{Plans.viewAsTimeline(p.id)}">View plan timeline</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<body >
	<h1 align="center"> ${p.title}
		</h1>

<br/>
    <script type="text/javascript">
        function delPlan(id, topicId){
            var r = confirm("Are You sure you want to delete the plan?");
            if (r == true) {
                $.post('@{deletePlan()}', {planId: id}, function () {
					window.location.replace("/topics/show?topicId=" + topicId);
				});

            }
        }
    </script>
<p >
<b>Created by: </b> ${p.madeBy.username}
<br/>
<b>StartDate: </b>${p.startDate.format('dd MMM yy')}
<br/>
<b> EndDate: </b>${p.endDate.format('dd MMM yy')}
<br/>
<b>Description:</b> ${p.description}
<br/>
<b>Plan rating: </b> ${p.rating}
<br/>
<b>Plan progress:</b> ${p.calculateProgress()}
<br/>
</p>
 <head>
 
    <script>
  var tl;
function onLoad() {

var eventSource=new Timeline.DefaultEventSource();

  var bandInfos = [
    
    Timeline.createBandInfo({
eventSource: eventSource,
date: "Jan 25 2011 00:00:00 +0300",
        width:          "60%", 
         intervalUnit:   Timeline.DateTime.MONTH,  
        intervalPixels: 100,
			timeZone: +3
  
    }),
    Timeline.createBandInfo({
  eventSource: eventSource,
date: "Jan 25 2011 00:00:00 +0300",
        width:          "38%", 
        intervalUnit:   Timeline.DateTime.YEAR, 
        intervalPixels: 100,
		timeZone: +3
    }),
	
	
  ];
  
  
  
  
    bandInfos[1].syncWith = 0;
  bandInfos[1].highlight = true;
  
  
  
  
  
  
  
  
  
  
  tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);
  Timeline.loadXML("/public/xml/out.xml",function(xml,url){eventSource.loadXML(xml,url);});
}





var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
    }
}
  
  </script>
    </script>
 
  </head>
  <body onload="onLoad();" onresize="onResize();">
 <div id="my-timeline" style="height: 450px  ;   border: 5px  solid #004080 ">
 
 
 </div>
  </body>

    </body>
	</body>
 #{/if}
 #{else}
 <h3>You are not allowed to view this plan.</h3>
 #{/else}
 