#{extends 'login/index.html' /}
#{set title: 'View Assignment Requests'/}

#{if assignRequests.size() > 0}<h3>Assignment Requests </h3>

<ul>
    #{list items:assignRequests, as:'assignRequest'}
    <li>
       <fieldset id = "assignRequest_${assignRequest.id}">
            <legend>
			<h2>
             <a href="@{Plans.viewAsList(assignRequest.source.plan.id)}">   ${assignRequest.source.plan.title}</a>
            </h2>
            </legend>
            Content:  ${assignRequest.content}
            <br/>
            <a onclick="javascript: accept_request(${assignRequest.id});" style="cursor:pointer;" /><img src="/public/images/ranktable-tick.png" title="Accept" width="27" height="27"/></a>
			<a onclick="javascript: reject_request(${assignRequest.id});" style="cursor:pointer;" /><img src="/public/images/Cross.png" title="Reject" width="23" height="20"/></a>
        </fieldset>
    </li>
    #{/list}
</ul>
#{/if}
#{else}
You have no assignment requests.
#{/else}

<script type="text/javascript">

function accept_request(id)
  {
	$.post('@{accept()}' , {id: id});
	$("#assignRequest_" + id).html('<i>Request has been accepted</i>');
  }
function reject_request(id)
  {
	$.post( '@{reject()}' , {id: id});
	$("#assignRequest_" + id).html('<i>Request has been rejected</i>');
  }

</script>