#{extends 'main.html' /}

<script type="text/javascript">
	var ids = new Array();
	
	function toggleUser(id) {
		if(ids.indexOf(id) == -1) {
			ids.push(id);
		}else {
			ids.pop(id);
		}
		
	}
	
	function submit(itemId, planId){
		if (ids.length == 0) {
			alert("you haven't selected any users");
		}
		else {
		
			$.post('@{sendRequests()}', {
				itemId: itemId,
				userIds: ids,
				planId:planId
			}, function(){
				var i;
				
				for (i = 0; i < ids.length; i = i + 1) {
					$('#user_' + ids[i]).remove();
				}
				
				//window.location.reload();
			});
			if(ids.length == users.size()) {
					document.getElementById("userLabel").innerHTML = "There are no more users to display";
				}
				
			
			//alert("Requests sent successfully");
		}
		
	}
	
	function validate() {
		var keyword = document.getElementById("keyword").value;
    	if (keyword = null || keyword == "") {
		alert("you didn't enter any search criteria");
		return false;
		}
	}
</script>
You can search for a certain user by name, email or profession

#{form @AssignRequests.search(), method:'POST', id:'creationForm', onsubmit: 'return validate()' enctype:'multipart/form-data' }
<input type = "text" id = "keyword" name = "keyword"> &nbsp; &nbsp; &nbsp;
<input type = "hidden" name = "itemId" value = ${itemId} >
<input type = "hidden" name = "planId" value = ${planId} >
<input type = "submit" value ="search" >
#{/form}


#{if users.size() > 0}
<label id = "userLabel"> </label>
<br/>
<ul style="list-style: none; ">
#{list items:users, as:'user'}
<li id = "user_${user.id}">
<input type="checkbox" id="${user.id}" onclick="toggleUser('${user.id}');"> 
<a href="#">${user.username}</a>
<br/>
</li>
#{/list}
</ul>
<br/>
<input type="button" value="send requests" onclick="submit(${itemId}, ${planId})"/>
#{/if}
#{else}
There are no users that match your criteria
#{/else}
<a href="@{Plans.viewAsList(planId)}">Go back to plan</a>


<script type="text/javascript">
	
//    function validate()
//      {
//    	var keyword = document.getElementById("keyword").value;
//    	if(keyword = null || keyword == ""){
//    	document.getElementById("searchError").innerHTML = "you didn't enter any search criteria";
//    	}
//    	$.post('@{startItem()}' , {id: id});
//    
//      }
</script>
