<!--
@author Mohamed Ghanem
@story  C4S02
--> <!DOCTYPE html>
<html>
    <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
    </script>
	<i><a href="/">Home Page</a></i>
	<hr/>
    <form name="inPuts" id="inPuts">
        <table>
            <tr>
                <th>
                    Search in&nbsp;&nbsp;&nbsp;::
                </th>
                <th>
                    <select name="searchIn" id="searchIn" style="width:90%">
                        <option disabled="disabled" selected>Search in:</option>
                        <option value="1">&nbsp;Public  organizations only</option>
                        <option value="2">&nbsp;Private organizations only</option>
                        <option value="3">&nbsp;Secrete organizations only</option>
                        <option value="4">&nbsp;Public  & private only</option>
                        <option value="5">&nbsp;Public  & secrete only</option>
                        <option value="6">&nbsp;Private & secrete only</option>
                        <option value="7">&nbsp;&nbsp; ALL </option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    Search key   ::
                </th>
                <th>
                    <input type="text" id = "wantKey" name="wantKey" required/>
                </th>
            </tr>
            <tr>
                <th>
                    UnWanted Key ::
                </th>
                <th>
                    <input type="text" id= "unWantKey" name="unWantKey"/>
                </th>
            </tr>
            <tr>
                <th>
                    show Result of ::
                </th>
                <th>
                    <select name="org">
                        <option value="0">Organization</option>
                        <option value="1">No Organization</option>
                    </select>
                    <select name="entity">
                        <option value="0">Entity</option>
                        <option value="1">No Entities</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                    <select name="topic">
                        <option value="0">Topic</option>
                        <option value="1">No Topic</option>
                    </select>
                    <select name="plan">
                        <option value="0">Plan</option>
                        <option value="1">No Plan</option>
                    </select>
                    <select name="idea">
                        <option value="0">Idea</option>
                        <option value="1">No Idea</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                    <select name="item">
                        <option value="0">Item</option>
                        <option value="1">No Item</option>
                    </select>
                    <select name="comm">
                        <option value="0">Comments</option>
                        <option value="1">No Comments</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    Before Date  ::
                </th>
                <th>
                    <select name=dayB>
                        <option disabled="disabled" selected>Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select name=monthB>
                        <option value="" disabled="true"selected>Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select name=yearB>
                        <option value="" disabled="true" selected>Year</option>
                        <option value="1">2011</option>
                        <option value="2">2012</option>
                        <option value="3">2013</option>
                        <option value="4">2014</option>
                        <option value="5">2015</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    After  Date  ::
                </th>
                <th>
                    <select name=dayA>
                        <option disabled="disabled" selected>Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select name=monthA>
                        <option value="" disabled="true"selected>Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select name=yearA>
                        <option value="" disabled="true" selected>Year</option>
                        <option value="1">2011</option>
                        <option value="2">2012</option>
                        <option value="3">2013</option>
                        <option value="4">2014</option>
                        <option value="5">2015</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    Exact Date/Time ::
                </th>
                <th>
                    <select name=dayE>
                        <option disabled="disabled" selected>Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select name=monthE>
                        <option value="" disabled="true"selected>Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select name=yearE>
                        <option value="" disabled="true" selected>Year</option>
                        <option value="1">2011</option>
                        <option value="2">2012</option>
                        <option value="3">2013</option>
                        <option value="4">2014</option>
                        <option value="5">2015</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                </th>
                <th>
                    <input type="button" name="ok" value="Start Advanced Search" onclick="doo(searchIn, wantKey,unWantKey, org, entity, topic, plan,idea, item, comm, dayB, monthB, yearB,dayA, monthA, yearA, dayE, monthE, yearE);"/>
                </th>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
        
        function doo(searchIn, wantKey, unWantKey, org, entity, topic, plan, idea, item, comm, dayB, monthB, yearB, dayA, monthA, yearA, dayE, monthE, yearE){
            if (wantKey.value != "") {
                $.post('@{Search.advSearch()}', {
                    searchIn: searchIn.value,
                    wantKey: wantKey.value,
                    unWantKey: unWantKey.value,
                    org: org.value,
                    entity: entity.value,
                    topic: topic.value,
                    plan: plan.value,
                    idea: idea.value,
                    item: item.value,
                    comm: comm.value,
                    dayB: dayB.value,
                    monthB: monthB.value,
                    yearB: yearB.value,
                    dayA: dayA.value,
                    monthA: monthA.value,
                    yearA: yearA.value,
                    dayE: dayE.value,
                    monthE: monthE.value,
                    yearE: yearE.value
                }, function(){
                    alert('enter func');
                    window.location.href = "/searchResult";
                    alert('enter end');
                });
            }
            else {
                alert('Plz Enter a Key');
            }
        }
    </script>
</html>
