<!--
@author Mohamed Ghanem
@story  C4S02
--> <!DOCTYPE html>
<html>
			
#{form @controllers.Search.advSR(), method:'POST', searchIn:'searchIn',wantKey:'wantKey',unWantKey:'unWantKey', searchWith : 'searchWith', before : 'before' , after : 'after', exact : 'exact' }
    <form id="inPuts">
        Search in&nbsp;&nbsp;&nbsp;::
        <select name="searchIn" id="searchIn" style="width:90%">
            <option disabled="disabled">Search in:</option>
            <option value="1">&nbsp;Public  organizations only</option>
            <option value="2">&nbsp;Private organizations only</option>
            <option value="3">&nbsp;Secrete organizations only</option>
            <option value="4">&nbsp;Public  & private only</option>
            <option value="5">&nbsp;Public  & secrete only</option>
            <option value="6">&nbsp;Private & secrete only</option>
            <option value="7">&nbsp;&nbsp; ALL </option>
        </select>
        <br/>
        Search key   ::<input type="text" id = "wantKey" name="wantKey"/>
        <br/>
        UnWanted Key ::<input type="text" id= "unWantKey" name="unWantKey"/>
        <br/>
        Search With  ::
        <br/>
        <input type="checkbox" name="searchWith" id="searchWith" value="1" />Organization 
        <br/>
        <input type="checkbox" name="searchWith" id="searchWith" value="2" />Entity 
        <br/>
        <input type="checkbox" name="searchWith" id="searchWith" value="3" />Topic 
        <br/>
        <input type="checkbox" name="searchWith" id="searchWith" value="4" />Plan 
        <br/>
        <input type="checkbox" name="searchWith" id="searchWith" value="5" />Idea 
        <br/>
        <input type="checkbox" name="searchWith" id="searchWith" value="6" />Item 
        <br/>
        Before Date  ::
		<input type="date" name="before" id="before"/>
        <select name=day>
            <option disabled="disabled" selected>Day
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			</select>
			<select name=month>
			<option value="" disabled="true"selected>Month
			<option value="1">January</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
			</select>
			<select name=year >
			<option value="" disabled="true" selected>Year
			<option value="1">2000</option>
			<option value="2">2001</option>
			<option value="3">2002</option>
			<option value="4">2003</option>
			<option value="5">2004</option>
			<option value="6">2005</option>
			<option value="7">2006</option>
			<option value="8">2007</option>
			<option value="9">2008</option>
			<option value="10">2009</option>
			<option value="11">2010</option>
			<option value="12">2011</option>
			<option value="12">2012</option>
			</select>
            <br/>
            After  Date  ::
			<input type="date" name="after" id="after"/>
			<select name=day size=1 onChange="frmTest.submit();">
            <option disabled="disabled" selected>Day
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			</select>
			<select name=month>
			<option value="" disabled="true"selected>Month
			<option value="1">January</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
			</select>
			<select name=year >
			<option value="" disabled="true" selected>Year
			<option value="1">2000</option>
			<option value="2">2001</option>
			<option value="3">2002</option>
			<option value="4">2003</option>
			<option value="5">2004</option>
			<option value="6">2005</option>
			<option value="7">2006</option>
			<option value="8">2007</option>
			<option value="9">2008</option>
			<option value="10">2009</option>
			<option value="11">2010</option>
			<option value="12">2011</option>
			<option value="12">2012</option>
			</select>
            <br/>
            Exact Date/Time ::
			<input type="date" name="exact" id="exact"/>
			<select name=day size=1 onChange="frmTest.submit();">
            <option disabled="disabled" selected>Day
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			</select>
			<select name=month>
			<option value="" disabled="true"selected>Month
			<option value="1">January</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
			</select>
			<select name=year >
			<option value="" disabled="true" selected>Year
			<option value="1">2000</option>
			<option value="2">2001</option>
			<option value="3">2002</option>
			<option value="4">2003</option>
			<option value="5">2004</option>
			<option value="6">2005</option>
			<option value="7">2006</option>
			<option value="8">2007</option>
			<option value="9">2008</option>
			<option value="10">2009</option>
			<option value="11">2010</option>
			<option value="12">2011</option>
			<option value="13">2012</option>
			</select>
            <br/>
            <input type="submit" name="ok" value="Start Advanced Search" />
        </form>
#{/form}		

</html>