<!--
@author Loaay Alkherbawy
@story  C4S01
The Search Results Viewer
--> <!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8">
        </script>
    </head>
    <style type="text/css">
        body {
            font-family: arial, helvetica;
            font-size: 20px;
            color: #123456;
            background-color: #A3D5E4;
        }
        
        #text1 {
            font-size: 500px;
            color: #654321;
        }
    </style>
    <div>
        <center>
            <img src="/public/images/Picture1.jpg">
            </img>
        </center>
    </div>
    <body onLoad="step1()">
        <form action="@{quickSearch()}" method="GET">
        <font size="+3" color="993300">
            Welcome ${connected}!
        </font>
        </br>
        <input type="text" id="search" name="search" value= "enter a keyword here" />
		<input type="button" id="submit" name="submit" value="Search" onclick="quickSearch(this.form)"/>
        <script type="text/javascript">
            function step1(){
                document.getElementById('div1').innerHTML = '<center><img src="/public/images/Loading.gif"/></center>';
				setTimeout(function(){},2000);
				document.getElementById('div1').innerHTML = "<center>#{if listOfResults} Found ${listOfResults.size()} item${listOfResults.pluralize()} matching <ul> #{list items:listOfResults, as:'item'} <li>${item.toString()}</li> #{/list} </ul> #{/if} #{else} Sorry! We did not find any results matching #{/else}</center>";
            }
            
            function quickSearch(frm){
                $.post('@{quickSearch}', {
                    keyword: frm.search.value
                }, function(){
					window.location.reload(true);
                });
            }
        </script>
    </form>
    <a href="/Ideas Management/app/views/Application/index.html">Home</a>
    <br/>
    <center>
    <b>
        <big>
            <u>
                Search Results:
            </u>
        </big>
    </b>
    </br>
    <i>
    </br>
    <a href="filter_options.html"><b>for filtering your results:
        </br>
        click here to chose your criteria</b>
</a>
</i>
</center>
<div align="right">
    <u>
    <b>
    Sort by: 
    </u>
</b>
<div>
<input type="radio" name="scale" value="sortA" checked/>Ascending order
<br>
<input type="radio" name="scale" value="sortD" />descending order
</br><input type="radio" name="scale" value="vote" />Vote <input type="radio" name="scale" value="rate" />Rate 
</br>
</div>
<div id='div1'>
</div>
</body>
</html>
