<!--
@author Fady Amir
@story  C4S05
--> 
<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="simpletreemenu.js">
    </script>
    <link rel="stylesheet" type="text/css" href="simpletree.css" />
</head>

<body>

  <form action="@{Browse.browse}" name="test">

  <ul id="treemenu1" class="treeview">
   <ul> Organizations
  
    #{list items:listOfOrganizations, as: 'Organization'}
  
  	<li>
    		${Organization.name}
    			 <ul> privacy level
    		${Organization.privacyLevel}
    			 
    			 
    			 <ul> Creator
    			 
    		<li>
    			${Organization.creator}
    			<ul> users
    			
    		</li>
    		#{list items:listOfOrganizations.enrolledUsers, as: 'Organization'}
    		<li>
    			${Organization.enrolledUsers}
    		</li>
    		
    		#{/list}
    		
  	</li>
  	
		
    #{/list}
   
   </ul>
 
  </ul>
	
  <script type="text/javascript">
    	ddtreemenu.createTree("treemenu1", true)
  </script>

 </body>
 
</html>