<!--
@author Fady Amir
@story  C4S05
--> 
#{extends 'main.html' /}
<!DOCTYPE html>
<html>

<head>
	<title>Organizations</title>
   <style>
      A {text-decoration: none;}
   </style>
   
   <script type="text/javascript">
   
   function Toggle(item) {
   obj=document.getElementById(item);
   visible=(obj.style.display!="none")
   key=document.getElementById("x" + item);
   if (visible) {
     obj.style.display="none";
     key.innerHTML="[+]";
   } else {
      obj.style.display="block";
      key.innerHTML="[-]";
   }
}
function Expand() {
   divs=document.getElementsByTagName("DIV");
   for (i=0;i<divs.length;i++) {
     divs[i].style.display="block";
     key=document.getElementById("x" + divs[i].id);
     key.innerHTML="[-]";
   }
}
function Collapse() {
   divs=document.getElementsByTagName("DIV");
   for (i=0;i<divs.length;i++) {
     divs[i].style.display="none";
     key=document.getElementById("x" + divs[i].id);
     key.innerHTML="[+]";
   }
}

   </script>
</head>

<body>

  <form action="@{Browse.browse}" name="test">

	<h1>Browse Organizations</h1>

<hr>
<b><a ID="xproducts" href="javascript:Toggle('organizations');">[+]</a>Organizations</b><br>
   
   
   <div ID="organizations" style="display:none; margin-left:2em;">
   
  
    #{list items:listOfOrganizations, as: 'Organization'}
  
  	 
  	 <a ID="xproducts" href="javascript:Toggle('${Organization.name}');">[+]</a>
     <a href="@{Organizations.viewProfile(Organization.id)}">${Organization.name}</a>
     </br>
     
     
     
     <div ID=${Organization.name} style="display:none; margin-left:2em;">
      
       #{list items:Organization.entitiesList, as: 'Entity'}
       
       <a ID="xproducts" href="javascript:Toggle('${Entity.name}');">[+]</a>
       <a href="@{MainEntitys.viewEntity(Entity.id)}">${Entity.name}</a>
       </br>
     
       <div ID=${Entity.name} style="display:none; margin-left:2em;">
       		
       		<b><a ID="xproducts" href="javascript:Toggle('${Entity.name}Topics');">[+]</a>Topics</b><br>
   			<div ID=${Entity.name}Topics style="display:none; margin-left:2em;">
       		#{list items:Entity.topicList, as: 'topic'}
       	
       		<a href="@{Topics.view(topic.id)}">${topic.title}</a>
       		</br>
       		
       		#{/list}
       		</div>
       
       </div>
     
       #{/list}
  	 
  	 
     </div>
		
	
    #{/list}
   
   
   </div>	
   
   


<a href="javascript:Expand();">[Expand All]</a><br>
<a href="javascript:Collapse();">[Collapse All]</a>
 

 </body>
 
</html>